<style type="text/css">
    .page-popup {
        padding: 0;
    }
</style>

<div id="layoutbuddy_holder" style="width: 900px; height: 700px; background: url(//tool.layoutbuddy.com/img/preloader.gif) center no-repeat;">
    <div id="layout_container">
        <div style="text-align:center; padding: 50px 0 50px 0">
            <?php echo $this->__('You need the latest Flash Player to use LayoutBuddy.') ?><br />
            <a href="http://www.adobe.com/go/getflashplayer">
                <img src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"/>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    var quoteItemId = '<?php echo $this->getQuoteItemId() ?>';
    var layoutbuddy = new LayoutBuddy('<?php echo $this->getPublicKey() ?>', '<?php echo $this->getConfigId() ?>');
    layoutbuddy.language = '<?php echo Mage::app()->getLocale()->getLocaleCode() ?>';
    layoutbuddy.initWithId = '<?php echo $this->getInitWithId() ?>';
    <?php if ($this->displayHost()): ?>layoutbuddy.host = '<?php echo $this->getHost() ?>';<?php endif ?>
    layoutbuddy.hideOnSubmit = true;
    layoutbuddy.onSubmitLayout = function(uid) {
        opener.layoutbuddyApplyLayout(uid, quoteItemId);
    };
    layoutbuddy.embed('layout_container', 'layoutbuddy');
    
</script>
