<?php
	$locale = Mage::app()->getLocale()->getLocaleCode();
	$enabled	=	 Mage::getStoreConfig('imageslider/general/enabled');
	$style	=	 Mage::getStoreConfig('imageslider/general/style'); 
	$imagewidth	=	 Mage::getStoreConfig('imageslider/general/imagewidth');
	$imageheight	=	 Mage::getStoreConfig('imageslider/general/imageheight');
	$description	=	 Mage::getStoreConfig('imageslider/general/description');
	
	$slidingtime	=	 Mage::getStoreConfig('imageslider/general/slidingtime');
	$slidingtime = ($slidingtime*1000);
	$slidingeffecttime	=	 Mage::getStoreConfig('imageslider/general/slidingeffecttime');
	$slidingeffecttime = ($slidingeffecttime*1000);
	
	$loader	=	 Mage::getStoreConfig('imageslider/general/loader');
	$navigation	=	 Mage::getStoreConfig('imageslider/general/navigation');
	
	$thumbnails	=	 Mage::getStoreConfig('imageslider/general/thumbnails');
	if($thumbnails=='thumbnail'){ $thumbsts = 'true'; $pagests = 'false'; }
	elseif($thumbnails=='pagination'){ $thumbsts = 'true'; $pagests = 'true';}
	else{ $thumbsts = 'false'; $pagests = 'false';}
	
	
		
	// Get IMAGE COLLECTION
	$imageCollection = $this->getImageCollection();	
	
		
?>	

<?php if($enabled){?>

<?php if(count($imageCollection)){?>
<script type="text/javascript">		
	try{
		var jqueryIsLoaded=jQuery;
		jQueryIsLoaded=true;
	}
	catch(err){
		var jQueryIsLoaded=false;
	}
	
	if(jQueryIsLoaded){
		//alert('jQuery is loaded');		
	}
	else{				
		//alert('Not Loaded.');
	}	
	
	
jQuery.browser = {};
(function () {
    jQuery.browser.msie = false;
    jQuery.browser.version = 0;
    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
        jQuery.browser.msie = true;
        jQuery.browser.version = RegExp.$1;
    }
})();









</script>
<!-- If jquery alredy loaded then below jQuery file not required -->
<!--<script type="text/javascript" src="<?php// echo $this->getJsUrl('bassi/imageslider/jquery.min.js'); ?>"></script>-->






<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript">//jQuery.noConflict();</script>
<script type="text/javascript" src="<?php echo $this->getJsUrl('bassi/imageslider/jquery.mobile.customized.min.js') ?>"></script>-
<script type="text/javascript" src="<?php echo $this->getJsUrl('bassi/imageslider/jquery.easing.1.3.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getJsUrl('bassi/imageslider/camera.min.js') ?>"></script>     
<script type="text/javascript">
	var $ds = jQuery.noConflict();
	$ds(function(){
		
		$ds('#camera_wrap_1').camera({
			thumbnails: <?php echo $thumbsts; ?>,
			fx: '<?php echo $style; ?>',			
			time: <?php echo $slidingtime; ?>,
			transPeriod: <?php echo $slidingeffecttime; ?>,
			loader: '<?php echo $loader; ?>',
			navigation: <?php echo $navigation; ?>,
			height: '<?php echo $imageheight; ?>px',
			opacityOnGrid: true,
			pauseOnClick: false,
			playPause: <?php echo $navigation; ?>,			
			pagination: <?php echo $pagests; ?>
			
			
		});			
	});
</script>				
<link rel='stylesheet' id='camera-css'  href="<?php echo $this->getSkinUrl('css/bassi/imageslider/camera.css');?>" type='text/css' media='all'>

<style>
	body {
		margin: 0;
		padding: 0;
	}
	a {
		color: #09f;
	}
	a:hover {
		text-decoration: none;
	}
	#back_to_camera {
		clear: both;
		display: block;
		height: 80px;
		line-height: 40px;
		padding: 20px;
	}
	.fluid_container {
		margin: 126px 0px 0px 0px;
		width: 100% !important;
	}
	.camera_pag{
		display: none;
	}
</style>
<div class="fluid_container">    	
	<div class="camera_wrap camera_coffee_skin" id="camera_wrap_1">
	
	<?php foreach ($imageCollection as $banner): ?>
		<div data-thumb="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."bsimages/thumbs/".$banner['filename']?>" data-src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."bsimages/".$banner['filename']?>" <?php if(isset($banner['weblink'])){?>data-link="<?php echo $banner['weblink']; ?>" data-target="_blank" <?php }?>>
		
			<?php if($description){?>
			<div class="camera_caption fadeFromBottom">
				<?php echo $banner['title']; ?>
			</div>
			<?php } ?>
			
		</div>	
	<?php endforeach; ?>	
	
	</div>
</div>
    
<div style="clear:both; display:block;"></div>
<?php }else{
	echo "<p><b>Banner Slider.</b></p><p>Please upload banner images.</p>";
} ?>
<?php }?>