  <div id="about_us" class="container" > 
        <section style="padding-bottom: 0px;background:#f9f9f9;">
        <p><marquee style="margin-bottom: -15px;color: #21DDDD;background:#f9f9f9;color:#666666;">Limited time offer<h style="color:red;"> SAVE UP TO 50% </h>ON CARDSFREE SHIPPING ON ORDERS OF Rs.3,000+</marquee></p>
        <div class="container" style="background:#f9f9f9;">
        <p><b>India, Pune the culture capital of India.</b></p><br />

        <p>We have started our Printing business in 1984 since then we have continuously upgrading our machines with new technology. Creative Media and Rajdatta Printing Agency both fast growing printing presses provides printing services and printed products through online. We have our own setup of Commercial Printing Press based in Pune to fulfill almost all your Digital printing and Offset printing related requirements.</p>

        <p>We print using traditional Offset Printing and Digital Printing processes and can print anything from Business Card printing and Leaflets printing to Full Colour Brochures printing. We have our setup of large format printing which produces high quality photo printing using 8 colors. We always use original inks, which produces high quality result with good color vibrancy. We produce acceptable quality of printed products and deliver those on time with our utmost cost effectiveness.</p>

        <p>Our customers have trusted us from last 30 years and we are here to build and grow new strong, mutually beneficial long term partnership with your organization. Whatever printing work you need, you can place your print inquiries and printing orders by phone, email or on this website. Browse this website for our print services and products.</p>

        <p>In this website we are providing large format printing solutions on Canvas & Vinyl media. User can upload family Photos or wedding photos on this website. With our website we want you to have the best online experience possible when it comes to your photos on Canvas or On Vinyl Media. We have provided few options to user like digital correction or date stamp removal, with or without frame option so that user can get good quality prints from our press</p>

        <p>User can create account where he or she can upload photographs to print or user can Import your best moments from Facebook, Flickr, Instagram or Picasa to order prints.</p>

        <p>We do all the printing in our workshop so no need to go outside. Maximum quality is maintained while printing and while doing the frames.</p>

        <p><b>We also do Indoor branding where We Use</b></p>
    <div id="indoor-branding">
       <ul> 
        <p><li>Standees</li></p>
        <p><li>Banner</li></p>
        <p><li>Indoor Posters</li></p>
        <p><li>Vinyl Stickers</li></p>
        <p><li>Front lit Sticker</li></p>
        <p><li>Bank lit Sticker</li></p>
        <p><li>Advertising Display Boards</li></p>
        <p><li>Sunboard Printing</li></p>
        <p><li>Vinyl Printing</li></p>
        <p><li>Exhibition Display Panels</li></p>
        <p><li>Retail shop branding</li></p>
        <p><li>Vinyl Label & Stickers</li></p>
        <p><li>Vinyl Based Signage’s</li></p>
        <p><li>Wall Paper Printing</li></p>
        <p><li>Reflective vinyl printing</li></p>
        <p><li>Vinyl Sticker</li></li></p>
        <p><li>Vinyl Decal</li></p>
        <p><li>Vinyl Banners</li></p>
        <p><li>Vinyl Photo Print</li></p>
        <p><li>Vinyl wall paper Poster prints</li></p>
        <p><li>Front lit back lit printing used for displaying</li></p><br />
        </ul>
    </div>
        <p>We deliver to any location anywhere in the India If it has a postal code it will be delivered. We sell products of the best quality and the lowest prices available in India.</p>

        <p>Owner of this business have Degree in Printing Technology & doing business from last 10.</p><br /></div>
        </section>
        


    </div>