<style type="text/css">
.thumbnail{
    height: 205px;
    border: 1px solid;
    box-shadow: 5px 5px 20px gray;
    display: block;
    padding: 4px;
    margin-bottom: 21px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
</style>



<?php



  $attribute_code = "product_type";
  $attribute_details = Mage::getSingleton("eav/config")->getAttribute("catalog_product", $attribute_code);
  $options = $attribute_details->getSource()->getAllOptions(false); 

 








$category = Mage::getResourceModel('catalog/category_collection')->addFieldToFilter('name', 'Art Gallery');   
 $cat= $category->getData();
 $categoryid = $cat[0][entity_id];

$category = new Mage_Catalog_Model_Category();
$category->load($categoryid);
$collection = $category->getProductCollection();
$collection->addAttributeToSelect('*');
$val=0; ?>













<div class="container" id="wall_art">


    <p><marquee style="margin-bottom:0px;color: #21DDDD;color:#666666;padding-top:15px;">Limited time offer <h style="color:red;">SAVE UP TO 50% </h>ON CARDSFREE SHIPPING ON ORDERS OF Rs.3,000+</marquee></p>
 


<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-3">
    <div class="row">
      <div class="block block-tags" style="margin-right:0px;">
            <div class="block-title">Browse Category</div>
            <div class="block-content sub-cat">
                <ul>  

                  <?php Foreach($options as $option){?>
                  <li>
                    <form method="post" action="<?php echo Mage::helper('core/url')->getCurrentUrl();?>">
                      <input type="hidden" name="product_type" value="<?php echo $option["value"]; ?>"> 
                    <button type="submit" style="border: none;
                      background-color: white;text-transform: uppercase;">
                      <?php echo $option["label"]; ?>
                    </button>
                    </form>
                  </li>
                 <?php }?>            
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
      <div style="padding-left:25px;padding-bottom:20px;">
            <div>&nbsp;</div>
              <a href="#" class="image-border"><img src="<?php echo $this->getSkinUrl('images/img/block-3.jpg');?>" style="width:100%;">
              </a>
        </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row rs-table">


<?php
foreach ($collection as $_product) { 

  if($_POST['product_type']==null){
    $val=$options[0]["value"];
    if($_product->getProduct_type()==$val){
      ?>


<?php                
$product = Mage::getModel('catalog/product')->load($_product->getId());  
$productMediaConfig = Mage::getModel('catalog/product_media_config');
$thumbnailUrl  = $productMediaConfig->getMediaUrl($product->getThumbnail());?>


      <div class="col-xs-18 col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="image">
              <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" alt="<?php echo $_product->getName(); ?>"  >
                 </div>
            
              <div class="caption">
                
                <span class="price">Rs. <?php echo $_product->getPrice(); ?> </span>
                <form action="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html" method="POST">
                  <input type="hidden"  name="artgalleryimg" value="<?php echo $thumbnailUrl;?>"/>
                  <button type="submit" class="btn btn-default1 btn-xs gobtn" role="button" alt="<?php echo $thumbnailUrl; ?>">GO</button></p>
                </form>
            </div>
          </div>
        </div>

<?php }

  }else{
    $val=$_POST['product_type'];
    if($_product->getProduct_type()==$val){
      ?>
      <div class="col-xs-18 col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="image">
              <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" alt="<?php echo $_product->getName(); ?>"  >
                 </div>
            
              <div class="caption" style="color:#2c3e50;">

                <span class="price">Rs. <?php echo $_product->getPrice(); ?> </span>
                 <form action="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html" method="POST">
                  <input type="hidden" name="artgalleryimg" value="<?php echo $thumbnailUrl; ?>"/>
                  <button type="submit" class="btn btn-default1 btn-xs gobtn" role="button" alt="<?php echo $thumbnailUrl; ?>">GO</button></p>
                </form>
                
            </div>
          </div>
        </div>
<?php }
  }

  
 } ?>


















        
      
  
    </div><!-- End row -->
  
  </div> 
</div>



























</div>
