<div class="container">
	<?php echo $this->getLayout()->createBlock('faq/frontend_list')->setTemplate('inic/faq/list.phtml')->toHtml(); ?>

 <?php echo $this->getLayout()->createBlock('faq/frontend_faqsearch_search')->setTemplate('inic/faq/search/search.phtml')->toHtml(); ?>
</div>
 
    

<!-- 
<block type="faq/frontend_list" name="faq_list" template="inic/faq/list.phtml">
            	<block type="faq/frontend_faqsearch_search" name="search_form" as="search_form" template="inic/faq/search/search.phtml"/>
            </block> -->

<style type="text/css">
	.page-title h2{
		
    	text-align: center;
    	color: #18bc9c;
	}
	.page-title{
		margin-top: 0px;
	}
	.faq-container .catname{
		display: none;
	}
	.faq-listdata-table{
		width: 100%;
	}
	.faq-question td{
	    padding: 10px;
	    border: 1px solid gray;
	    background-color: #D8D3D3;
	    text-align: left;
	    margin-bottom: 5px;
	}
	.faq-answer td{
		text-align: justify;
    	padding: 10px;
    	font-size: 10px;
	}
	.faq-answer td p{
		font-size: 15px;
	}
	.expand{
		display: none;
	}
	.faq-container h2{
		font-size: 20px;
	}
	.container{
		font-family: 'lato';
	}
	.label{
		color: rebeccapurple;
    	font-size: 15px;
	}
</style>