<div id="our_products" class="container">  
	<section id="our-products">
    <p><marquee class="marquee">Limited time offer <strong>SAVE UP TO 50% </strong>ON CARDSFREE SHIPPING ON ORDERS OF Rs.3,000+</marquee></p>
        
       	<div class="row" id="paneldetails">
	        	<div class="panel panel-yellow">
	                <div class="panel-heading">
	                <h3 class="panel-title">The type of work we handle</h3>
	                </div>
	                <div id="panel-body1" class="panel-body">
	        
	                <p>Whatever printed product you needs, do get in touch with us. We definitely would suggest right process to the job to enhance its quality and as per your budget. Mostly our products are created using Offset Printing, Digital Printing, and we do offer other services like Screen Printing for specific products. So, our product range covers all commercial print requirements.</p><br>
	                </div>
	            </div>
            </div>  
        <div class="row">
            <div class="col-xs-12 col-xs-4">
                <div class="panel panel-red">
                    <div class="panel-heading1">
                        <h3 id="panel-title2" class="panel-title">Office - Printed Stationery</h3>
                    </div>
                    <div class="panel-body2">
                        <p>Letterheads Print, Business Cards, Envelopes Print, Folder (Docket Folder), Pads, Carbon Books, NCR Books, ID Cards Printing etc.</p><br />
                    </div>
                </div>
            </div>
        
            <div class="col-xs-12 col-xs-4">
                <div class="panel panel-red">
                    <div class="panel-heading1">
                        <h3 class="panel-title">Corporate Printing</h3>
                    </div>
                    <div class="panel-body2" >
        
                        <p>Brochures, Newsletters, Data Sheets, Reports, Catalogs, Prospectus, Booklets, Note Pads, Registers, Business Starter Pack, CDs & CD Covers, Certificates, Lanyards with Holders, High Res Posters etc.</p><br />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-xs-4">
                <div class="panel panel-red">
                    <div class="panel-heading1" style="
    padding: 3px;
">
                        <h3 class="panel-title" style="
    padding: 2px;
">School & College Products Printing</h3>
                    </div>
                    <div id="panel-body4" class="panel-body" >

                        <p>Brochures, Prospectus, Books, Answer Sheets, Files, Journals, Ruled & Graph Papers, Manuals, ID Cards, Lanyards & Holders, Forms, Bank Challans, Graphs, Certificates, CDs & CD Covers, etc.</p><br />
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-xs-12 col-xs-6">
            <div class="panel panel-green">
                <div class="panel-heading2">
                <h3 class="panel-title">Marketing and Promotion Products Printing</h3>
                </div>
                <div id="panel-body5" class="panel-body">
        
                <p>Leaflets / Pamphlets, Brochures, Catalogs, Desk Calendars, Tent Cards, Danglers, Invitation Cards, Greeting Cards, CDs & CD Covers, High Resolution Indoor Posters, Outdoor Posters, Standees, Vinyl Cutting Boards, Canopy with Stand etc.</p><br />
                </div>
            </div>
            </div>
        
            <div class="col-xs-12 col-xs-6">
            <div class="panel panel-green">
                <div class="panel-heading2">
                <h3 class="panel-title">Manufacturing Company or Plants Products</h3>
                </div>
                <div id="panel-body6" class="panel-body">
               
                <p>Stickers or Labels (Silicon Gumming), Registers - Visitor, Vendor, Security, Material Inward & Outward, Inspection Reports, Job Cards, Different types of Pads as per Specimen, Reports, Plans, Posters, Gate Pass, Visitor Pass, ID Cards with Lanyard & Holders, Tags etc.</p><br />
                </div>
            </div>
            </div>
        </div>

        <div class="row">
            
            <div class="panel panel-black">
                <div class="panel-heading3">
                    <h3 class="panel-title">In Shop Branding & Printing</h3>
                </div>
            </div>
        </div>
       <div class="row" id="secrow">
        <div class="col-xs-12 col-xs-6">
            <div class="panel panel-black">
                <div class="panel-title">
                    <h3>Indoor Poster Printing</h3>
                </div>
                <div id="panel-body7" class="panel-body">
                    <p>High Resolution Large Format Printing of Poster on Photo paper with Gloss.</p>
                </div>
            </div>
        </div>
    
        <div class="col-xs-12 col-xs-6" id="secrow1">
            <div class="panel panel-black">
                <div class="panel-title">
                    <h3>Out Door Poster Printing</h3>
                </div>
                <div id="panel-body8" class="panel-body">
                    <p>Pigment based Large Format Printing of Poster & Banner on Vinyl Substrate, Glass One Way Visions, Pull Up Standees, Vinyl Cutting, Glass Etch Vinyl.</p><br />
                </div>
            </div>
        </div>
        </div>
            
         <div class="row">
            <div class="col-xs-12 col-xs-6">
                <div class="panel panel-blue">
                    <div class="panel-heading4">
                        <h3 class="panel-title">Bank Stationery Printing</h3>
                    </div>
                    <div id="panel-body9" class="panel-body">
        
                        <p>Challans, Pads as Specimen, Passbooks, Registers, Specimen Cards, Files, Plastic Folders, Receipts, Business Cards, Letterheads, Envelopes, Posters, Leaflets, Brochures, Catalogs, Annual Reports, Stickers, I D Cards etc.</p><br />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-xs-6">
                <div class="panel panel-blue">
                    <div class="panel-heading4">
                        <h3 class="panel-title">Other Products</h3>
                    </div>

                    <div id="panel-body10" class="panel-body">
                        <p>Pouches, Trophies, Paper Bags, Card Holders, Plastic Folders, Corporate Gift Articles, Placards, Pull up Poster Standees, X Standees, Tent Cards, Danglers, CD Stickers, Corporate Profile CDs .
                        </p><br />
                    </div>
                </div>
            </div>
        </div>
</section>


</div>

