<style>
          

#paymentmethod .board{
width: 75%;
margin: 60px auto;
height: 500px;
background: #fff;
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
#paymentmethod .board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin:0px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

#paymentmethod .board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

#paymentmethod p.narrow{
    width: 60%;
    margin: 10px auto;
}

#paymentmethod .liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 37%;
    z-index: 1;
}

#paymentmethod .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

#paymentmethod span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

#paymentmethod span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

#paymentmethod li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

#paymentmethod span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

#paymentmethod li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

#paymentmethod span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

#paymentmethod li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

#paymentmethod span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

#paymentmethod li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

#paymentmethod span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

#paymentmethod li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

#paymentmethod .nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
#paymentmethod .nav-tabs > li {
    width: 14%;
}

#paymentmethod li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
#paymentmethod li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
#paymentmethod .nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

#paymentmethod .nav-tabs > li a:hover{
    background: transparent;
}

#paymentmethod .tab-content{
}
#paymentmethod .tab-pane{
   position: relative;
padding-top: 50px;
}
#paymentmethod .tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
#paymentmethod .btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

#paymentmethod .btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}




    
    #paymentmethod .board {
width: 100%;
height:auto !important;
}
    #paymentmethod span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    #paymentmethod .tab-content .head{
        font-size:20px;
        }
    #paymentmethod .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

#paymentmethod li.active:after {
content: " ";
position: absolute;
left: 35%;
}

#paymentmethod .btn-outline-rounded {
    padding:12px 20px;
    }
.new {
  display: block!important;

}
.new:hover{
  display: block!important;
}
    </style>

</head>
<body>
<script>
jQuery(document).ready(function(){
    jQuery('a[title]').tooltip(); 
});
</script>



<section style="background:#efefe9;">
        <div id="paymentmethod" class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li class="active" style="text-align:center;">
                     <a href="#home" class="new" data-toggle="tab" title="welcome">
                      <span class="round-tabs one">
                              1
                      </span> 
                  </a>Credit Cards</li>

                  <li style="text-align:center;"><a class="new" href="#profile" data-toggle="tab" title="profile">
                     <span class="round-tabs two">
                         2
                     </span> 
           </a>Net Banking
                 </li>
                 <li style="text-align:center;"><a class="new" href="#messages" data-toggle="tab" title="bootsnipp goodies">
                     <span class="round-tabs three">
                          3
                     </span> </a>Debit Cards
                     </li>

                     <li style="text-align:center;"><a class="new" href="#settings" data-toggle="tab" title="blah blah">
                         <span class="round-tabs four">
                              4
                         </span> 
                     </a>ATM Cards</li>

                     <li style="text-align:center;"><a class="new" href="#doner" data-toggle="tab" title="completed">
                         <span class="round-tabs five">
                              5
                         </span> </a>Bank's IMPS
                     </li>
                     <li style="text-align:center;"><a class="new" href="#doner" data-toggle="tab" title="completed">
                         <span class="round-tabs five">
                              6
                         </span> </a>Prepaid Instruments
                     </li>
                     <li style="text-align:center;"><a class="new" href="#doner" data-toggle="tab" title="completed">
                         <span class="round-tabs five">
                              7
                         </span> </a>Bank EMI
                     </li>
                     
                     </ul></div>

                     <div class="tab-content">
                      <div class="tab-pane fade in active" id="home">

                          <div class="col-sm-3">
                              <div class="round round-sm hollow ">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/idbi_bank.jpg');?>">
                                  </div>
                            </div>
                              <div class="col-sm-3">
                                <div class="round round-sm hollow blue">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/amex.jpg');?>">
                                  </div>
                            </div>
                              <div class="col-sm-3">
                                <div class="round round-sm hollow orange">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/icici_bank.jpg');?>">
                                  </div>
                            </div>
                              <div class="col-sm-3">
                                <div class="round round-sm hollow green">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/hdfc_bank.jpg');?>">
                                  </div>
                            </div>
                      </div>
                      <div class="tab-pane fade" id="profile">
                          <div class="col-sm-3">
                              <div class="round round-sm hollow ">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/axis_bank.jpg');?>">
                                  </div>
                            </div>
                              <div class="col-sm-3">
                                <div class="round round-sm hollow blue">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/boi.jpg');?>">
                                  </div>
                            </div>
                              <div class="col-sm-3">
                                <div class="round round-sm hollow orange">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/citibank.jpg');?>">
                                  </div>
                            </div>
                              <div class="col-sm-3">
                                <div class="round round-sm hollow green">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/cosmos_bank.jpg');?>">
                                  </div>
                            </div>
                          
                      </div>
                      <div class="tab-pane fade" id="messages">
                          <div class="col-sm-3">
                              <div class="round round-sm hollow ">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/dena_bank.jpg');?>">
                                  </div>
                            </div>
                              <div class="col-sm-3">
                                <div class="round round-sm hollow blue">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/kotak_mahindra_bank.jpg');?>">
                                  </div>
                            </div>
                              <div class="col-sm-3">
                                <div class="round round-sm hollow orange">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/union_bank.jpg');?>">
                                  </div>
                            </div>
                              <div class="col-sm-3">
                                <div class="round round-sm hollow green">
                                      <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/yes_bank.jpg');?>">
                                  </div>
                            </div>
                      </div>
                      <div class="tab-pane fade" id="settings">
                          <div class="col-sm-3">
                                <div class="round round-sm hollow ">
                                        <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/sbi.jpg');?>">
                                    </div>
                              </div>
                                <div class="col-sm-3">
                                  <div class="round round-sm hollow blue">
                                        <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/visa.jpg');?>">
                                    </div>
                              </div>
                                <div class="col-sm-3">
                                  <div class="round round-sm hollow orange">
                                        <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/paytm.jpg');?>">
                                    </div>
                              </div>
                                <div class="col-sm-3">
                                  <div class="round round-sm hollow green">
                                       <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/pnb.jpg');?>">
                                    </div>
                              </div>
                      </div>
                        <div class="tab-pane fade" id="doner">
                          <div class="text-center">
                            <i class="img-intro icon-checkmark-circle"></i>
                        </div>
                        <div class="col-sm-3">
                                <div class="round round-sm hollow ">
                                        <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/icash_card.jpg');?>">
                                    </div>
                              </div>
                                <div class="col-sm-3">
                                  <div class="round round-sm hollow blue">
                                        <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/indusind_bank.jpg');?>">
                                    </div>
                              </div>
                                <div class="col-sm-3">
                                  <div class="round round-sm hollow orange">
                                        <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/ing_vysya_bank.jpg');?>">
                                    </div>
                              </div>
                                <div class="col-sm-3">
                                  <div class="round round-sm hollow green">
                                       <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/iob.jpg');?>">
                                    </div>
                              </div>
                        </div>
                        <div class="tab-pane fade" id="doner">
                          <div class="text-center">
                            <i class="img-intro icon-checkmark-circle"></i>
                        </div>
                        <div class="col-sm-3">
                                <div class="round round-sm hollow ">
                                        <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/itz_cash_card.jpg');?>">
                                    </div>
                              </div>
                                <div class="col-sm-3">
                                  <div class="round round-sm hollow blue">
                                        <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/jcb.jpg');?>">
                                    </div>
                              </div>
                                <div class="col-sm-3">
                                  <div class="round round-sm hollow orange">
                                        <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/mastercard.jpg');?>">
                                    </div>
                              </div>
                                <div class="col-sm-3">
                                  <div class="round round-sm hollow green">
                                       <img class="img-responsive thumbnail" src="<?php echo $this->getSkinUrl('img/mobikwik.jpg');?>">
                                    </div>
                              </div>
                        </div>
                    </div>

</div>
</div>
</div>
</section>
