

<style>
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
    text-transform: none;
}
#pricetableinches {
    padding-top:5px;
  padding-bottom:20px;
  background-color: white;
}
 #pricetableinches #tableprice {
      padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
}
 #pricetableinches .tables1 {
    margin-right:15px;
  padding-right: 0px;
  border-style: ridge;
}
 #pricetableinches .tables2 {
    margin-right:15px;
  padding-right: 0px;
  border-style: ridge;
}
 #pricetableinches .tables3 {
    margin-right:15px;
  padding-right: 0px;
  border-style: ridge;
}

#pricetableinches td{
	font-size: 12px;
    font-weight: 700;
}

    #pricetableinches .row{
            margin-top:0px;
            padding: 0 10px;
        }
         #pricetableinches .clickable{
            cursor: pointer;   
        }

         #pricetableinches .panel-heading div {
            margin-top: -18px;
            font-size: 15px;
        }
         #pricetableinches .panel-heading div span{
            margin-left:5px;
        }
         #pricetableinches .panel-body{
            display: none;
        }
 #pricetableinches .tableprice2 {
      width: 50%;
	}

</style>





<div class="container" id="pricetableinches">
    
    <p><marquee style="padding:5px;">Limited time offer <h style="color:red;">SAVE UP TO 50% </h>ON CARDSFREE SHIPPING ON ORDERS OF Rs.3,000+</marquee></p>

<div class="row">
            <div class="col-md-4" style="width:38%;">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align:center;">
                        <h3 class="panel-title">Roll Canvas Rates</h3>
                        
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
                    </div>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Sizes in Inch</th>
                                <th>Feet</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>12 inch X 12 inch</td>
                                <td>1 X 1</td>
                                <td>350</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>12 inch X 18 inch</td>
                                <td>1 X 1.5</td>
                                <td>475</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>12 inch X 24 inch</td>
                                <td>1 X 2</td>
                                <td>600 </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>12 inch X 36 inch</td>
                                <td>1 X 3</td>
                                <td>775</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>18 inch X 18 inch </td>
                                <td>1.5 X 1.5</td>
                                <td>675</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>18 inch X 24 inch</td>
                                <td>1.5 X 2</td>
                                <td>775</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>24 inch X 24 inch</td>
                                <td>2 X 2</td>
                                <td>925</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>24 inch X 30 inch</td>
                                <td>2 X 2.5</td>
                                <td>1100</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>24 inch X 36 inch</td>
                                <td>2 X 3</td>
                                <td>1200</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>24 inch X 48 inch</td>
                                <td>2 X 4</td>
                                <td>1550</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>30 inch X 30 inch</td>
                                <td>2.5 X 2.5</td>
                                <td>1025</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>30 inch X  36 inch</td>
                                <td>2.5 X 3</td>
                                <td>1500</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>36 inch X 36 inch</td>
                                <td>3 X 3</td>
                                <td>1750< </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>36 inch X 42 inch</td>
                                <td>3 X 3.5</td>
                                <td>2025</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>36 inch X 48 inch</td>
                                <td>3 X 4</td>
                                <td>2275</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>36 inch X 60 inch</td>
                                <td>3 X 5</td>
                                <td>2825</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>36 inch X 72 inch</td>
                                <td>3 X 6</td>
                                <td>3350</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>42 inch X 48 inch</td>
                                <td>3.5 X 4</td>
                                <td>2650</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>42 inch X 60 inch</td>
                                <td>3.5 X 5</td>
                                <td>3275</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>42 inch X 72 inch</td>
                                <td>3.5 X 6</td>
                                <td>3875</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4" style="width:30%;">
                <div class="panel panel-primary" style="min-height: 737px;">
                    <div class="panel-heading" style="text-align:center;">
                        <h3 class="panel-title">Strached Canvas Rate</h3>
                        
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
                    </div>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Sizes in Inch</th>
                                <!-- <th>Feet</th> -->
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>12 inch X 12 inch</td>
                                <!-- <td>1 X 1</td> -->
                                <td>800</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>12 inch X 18 inch</td>
                                <!-- <td>1 X 1.5</td> -->
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>12 inch X 24 inch</td>
                                <!-- <td>1 X 2</td> -->
                                <td>1200 </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>12 inch X 36 inch</td>
                                <!-- <td>1 X 3</td> -->
                                <td>1600</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>18 inch X 18 inch </td>
                               <!--  <td>1.5 X 1.5</td> -->
                                <td>1250</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>18 inch X 24 inch</td>
                                <!-- <td>1.5 X 2</td> -->
                                <td>1500</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>24 inch X 24 inch</td>
                                <!-- <td>2 X 2</td> -->
                                <td>1800</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>24 inch X 30 inch</td>
                                <!-- <td>2 X 2.5</td> -->
                                <td>2100</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>24 inch X 36 inch</td>
                                <!-- <td>2 X 3</td> -->
                                <td>2400</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>24 inch X 48 inch</td>
                                <!-- <td>2 X 4</td> -->
                                <td>3000</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>30 inch X 30 inch</td>
                                <!-- <td>2.5 X 2.5</td> -->
                                <td>2500</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>30 inch X  36 inch</td>
                                <!-- <td>2.5 X 3</td> -->
                                <td>2800</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>36 inch X 36 inch</td>
                               <!--  <td>3 X 3</td> -->
                                <td>1750< </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>36 inch X 42 inch</td>
                                <!-- <td>3 X 3.5</td> -->
                                <td>3950</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>36 inch X 48 inch</td>
                                <!-- <td>3 X 4</td> -->
                                <td>4350</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>36 inch X 60 inch</td>
                                <!-- <td>3 X 5</td> -->
                                <td>4000</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>36 inch X 72 inch</td>
                                <!-- <td>3 X 6</td> -->
                                <td>4000*</td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
           

            <div class="col-md-4" style="width:30%;">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align:center;">
                        <h3 class="panel-title">Vinyl Printing Rates</h3>
                        
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
                    </div>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Sizes in Inch</th>
                                <!-- <th>Feet</th> -->
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>12 inch X 12 inch</td>
                                <!-- <td>1 X 1</td> -->
                                <td>210</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>12 inch X 18 inch</td>
                                <!-- <td>1 X 1.5</td> -->
                                <td>265</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>12 inch X 24 inch</td>
                                <!-- td>1 X 2</td> -->
                                <td>320 </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>12 inch X 36 inch</td>
                                <!-- <td>1 X 3</td> -->
                                <td>430</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>18 inch X 18 inch </td>
                                <!-- <td>1.5 X 1.5</td> -->
                                <td>430</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>18 inch X 24 inch</td>
                                <!-- <td>1.5 X 2</td> -->
                                <td>430</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>24 inch X 24 inch</td>
                                <!-- <td>2 X 2</td> -->
                                <td>565</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>24 inch X 30 inch</td>
                                <!-- <td>2 X 2.5</td> -->
                                <td>675</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>24 inch X 36 inch</td>
                                <!-- <td>2 X 3</td> -->
                                <td>810</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>24 inch X 48 inch</td>
                                <!-- <td>2 X 4</td> -->
                                <td>1030</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>30 inch X 30 inch</td>
                                <!-- <td>2.5 X 2.5</td> -->
                                <td>837.5</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>30 inch X  36 inch</td>
                                <!-- <td>2.5 X 3</td> -->
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>36 inch X 36 inch</td>
                                <!-- <td>3 X 3</td> -->
                                <td>1165 </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>36 inch X 42 inch</td>
                                <!-- <td>3 X 3.5</td> -->
                                <td>1330</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>36 inch X 48 inch</td>
                                <!-- <td>3 X 4</td> -->
                                <td>1495</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>36 inch X 60 inch</td>
                                <!-- <td>3 X 5</td> -->
                                <td>1850</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>36 inch X 72 inch</td>
                                <!-- <td>3 X 6</td> -->
                                <td>2180</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>42 inch X 48 inch</td>
                               <!--  <td>3.5 X 4</td> -->
                                <td>1740</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>42 inch X 60 inch</td>
                                <!-- <td>3.5 X 5</td> -->
                                <td>2125</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>42 inch X 72 inch</td>
                                <!-- <td>3.5 X 6</td> -->
                                <td>2510</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 tableprice2">
                <div class="panel panel-primary" >
                    <div class="panel-heading" style="text-align:center;">
                        <h3 class="panel-title">Vinyl Printing with Lamination</h3>
                     
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
                    </div>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                            <tr>
                                <td>1</td>
                                <td>12 inch X 12 inch</td>
                                <!-- <td>1 X 1</td> -->
                                <td>230</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>12 inch X 18 inch</td>
                                <!-- <td>1 X 1.5</td> -->
                                <td>295</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>12 inch X 24 inch</td>
                                <!-- <td>1 X 2</td> -->
                                <td>360 </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>12 inch X 36 inch</td>
                                <!-- <td>1 X 3</td> -->
                                <td>490</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>18 inch X 18 inch </td>
                               <!--  <td>1.5 X 1.5</td> -->
                                <td>490</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>18 inch X 24 inch</td>
                                <!-- <td>1.5 X 2</td> -->
                                <td>490</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>24 inch X 24 inch</td>
                                <!-- <td>2 X 2</td> -->
                                <td>645</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>24 inch X 30 inch</td>
                                <!-- <td>2 X 2.5</td> -->
                                <td>775</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>24 inch X 36 inch</td>
                                <!-- <td>2 X 3</td> -->
                                <td>930</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>24 inch X 48 inch</td>
                                <!-- <td>2 X 4</td> -->
                                <td>1190</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>30 inch X 30 inch</td>
                                <!-- <td>2.5 X 2.5</td> -->
                                <td>962.5</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>30 inch X  36 inch</td>
                                <!-- <td>2.5 X 3</td> -->
                                <td>1150</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>36 inch X 36 inch</td>
                               <!--  <td>3 X 3</td> -->
                                <td>1345 </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>36 inch X 42 inch</td>
                                <!-- <td>3 X 3.5</td> -->
                                <td>1540</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>36 inch X 48 inch</td>
                                <!-- <td>3 X 4</td> -->
                                <td>1735</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>36 inch X 60 inch</td>
                                <!-- <td>3 X 5</td> -->
                                <td>1735</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>36 inch X 72 inch</td>
                                <!-- <td>3 X 6</td> -->
                                <td>2540</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>42 inch X 48 inch</td>
                                <!-- <td>3 X 6</td> -->
                                <td>2020</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>42 inch X 60 inch</td>
                                <!-- <td>3 X 6</td> -->
                                <td>2475</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>42 inch X 72 inch</td>
                                <!-- <td>3 X 6</td> -->
                                <td>2930</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6 tableprice2">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align:center;">
                        <h3 class="panel-title">Vinyl Printing with foam board lamination</h3>
                    
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
                    </div>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                           <tr>
                                <td>1</td>
                                <td>12 inch X 12 inch</td>
                                <!-- <td>1 X 1</td> -->
                                <td>213</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>12 inch X 18 inch</td>
                                <!-- <td>1 X 1.5</td> -->
                                <td>240</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>12 inch X 24 inch</td>
                                <!-- <td>1 X 2</td> -->
                                <td>320 </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>12 inch X 36 inch</td>
                                <!-- <td>1 X 3</td> -->
                                <td>480</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>18 inch X 18 inch </td>
                                <!-- <td>1.5 X 1.5</td> -->
                                <td>480</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>18 inch X 24 inch</td>
                                <!-- <td>1.5 X 2</td> -->
                                <td>480</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>24 inch X 24 inch</td>
                                <!-- <td>2 X 2</td> -->
                                <td>640</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>24 inch X 30 inch</td>
                                <!-- <td>2 X 2.5</td> -->
                                <td>800</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>24 inch X 36 inch</td>
                                <!-- <td>2 X 3</td> -->
                                <td>960</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>24 inch X 48 inch</td>
                                <!-- <td>2 X 4</td> -->
                                <td>1280</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>30 inch X 30 inch</td>
                                <!-- <td>2.5 X 2.5</td> -->
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>30 inch X  36 inch</td>
                                <!-- <td>2.5 X 3</td> -->
                                <td>1200</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>36 inch X 36 inch</td>
                                <!-- <td>3 X 3</td> -->
                                <td>1440 </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>36 inch X 42 inch</td>
                                <!-- <td>3 X 3.5</td> -->
                                <td>1680</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>36 inch X 48 inch</td>
                                <!-- <td>3 X 4</td> -->
                                <td>1920</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>36 inch X 60 inch</td>
                                <!-- <td>3 X 5</td> -->
                                <td>2400</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>36 inch X 72 inch</td>
                                <!-- <td>3 X 6</td> -->
                                <td>2880</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>42 inch X 48 inch</td>
                                <!-- <td>3.5 X 4</td> -->
                                <td>2240</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>42 inch X 60 inch</td>
                                <!-- <td>3.5 X 5</td> -->
                                <td>2800</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>42 inch X 72 inch</td>
                                <!-- <td>3.5 X 6</td> -->
                                <td>3360</td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
                 <h5 style="color:red;text-transform:capitalize;    text-align: center;">Local delivery only *Fitting charge Rs. 15 per square feet</h5>
            </div>








    </div>



 </div>
