<div class="container" id="privacy_policy">
	<div class="row">
		<p><marquee style="margin-bottom: -15px;">Limited time offer <h style="color:red;">SAVE UP TO 50% </h>ON CARDSFREE SHIPPING ON ORDERS OF Rs.3,000+</marquee></p>
	</div>
	<div class="row">
		<div class="col-md-3">
			 <div class="row">
		      <div style="padding-bottom:18px;">
		            <div>&nbsp;</div>
		              <a href="#" class="image-border"><img src="<?php echo $this->getSkinUrl('images/img/block-3.jpg');?>" style="width:100%;">
		              </a>
		        </div>
		    </div>
		</div>
		<div class="col-md-9">
			<div class="main-r-privacy">
							<h3 style="
    font-size: 18px;
    font-family: 'lato';
">Privacy Policy</h3>
							<p style="
    font-size: 16px;
    font-family: 'lato';
">We value your business and we know your privacy is important to you. Accordingly, we have implemented this Privacy Policy to inform you of the information that we collect from you, how we collect it and what we do with it. By using this website you are accepting the practices described in this Privacy Policy.
							</p>
						</div>
						<div class="main-r-content">
							<h3 style="
    font-size: 18px;
    font-family: 'lato';
">How and when we collect information</h3>
							<p style="
    font-size: 16px;
    font-family: 'lato';
">We collect "personal" information from you when you provide it to us. For example, if you purchase a product from us, we may collect your name, mailing address, telephone number, credit card number and email address. If you sign up to receive a newsletter, we will collect your email address. If you take advantage of special services offered by us, we may collect other personal information about you.
							</p>
						</div>
						<div class="main-r-privacy main-r-content">
						<h3 style="
    font-size: 18px;
    font-family: 'lato';
">What we do with your information</h3>
						<p style="
    font-size: 16px;
    font-family: 'lato';
">We are committed to protecting your privacy. Under no circumstances do we rent, trade or share your e-mail address with any other company for their marketing purposes without your consent. We use your personal information for internal purposes such as processing and keeping you informed of your order. To improve our ability to serve you relevant ads across the Internet for products that will be more interesting to you, we may provide your personal information to our advertising agents that use your information solely for our advertising purposes. You may, from time to time, receive information from us about new features, new services and special offers we think you'll find valuable. If you take advantage of special offers made by our marketing partners, we may, with your consent, transfer your personal information to them. We may share your mailing address with select third parties.
						</p>
						<p style="
    font-size: 16px;
    font-family: 'lato';
">The personal information that you give us when you place an order is used to process and fulfill your order. We also use your personal information for our own internal purposes, such as providing customer support or providing, maintaining, evaluating and improving our products and services.
						</p>
						<p style="
    font-size: 16px;
    font-family: 'lato';
">We partner with one or more credit card processing companies to assist us in processing your payment. However, those companies do not retain, share, store, or use personally identifiable information for any secondary purposes.
						</p>
						<p style="
    font-size: 16px;
    font-family: 'lato';
">We may disclose the personal and non-personal information of our customers to any successor-in-interest of ours, such as a company that acquires our business. We may need to disclose your personal information when required by law or when we have a good-faith belief that such action is necessary to comply with a judicial proceeding, a court order or legal process.
						</p>
						</div>
						<div class="main-r-privacy main-r-content">
							<h3 style="
    font-size: 18px;
    font-family: 'lato';
">Your choice to opt-out of certain communications </h3>
							<p style="
    font-size: 16px;
    font-family: 'lato';
">If you are no longer interested in receiving e-mail announcements and other marketing information from us, please e-mail your request to 
								<a href="mailto:aditya@printingpune.com" target="_blank" style="color:red;">aditya@printingpune.com
								</a>. Please include your complete name, e-mail address and mailing address. Note that you may still receive customer service related communications from us.
							</p>
						</div>
						<div class="main-r-privacy main-r-content">
							<h3 style="
    font-size: 18px;
    font-family: 'lato';
">We link to other websites</h3>
								<p style="
    font-size: 16px;
    font-family: 'lato';
">Our website may contain links to websites operated by other companies. We are not responsible for the privacy practices of such other websites. We encourage our users to be aware when they leave our site and to read the privacy statements of such other websites. This privacy statement applies solely to information collected by our website.
								</p>
						</div>
						<div class="main-r-privacy main-r-content">
							<h3 style="
    font-size: 18px;
    font-family: 'lato';
">IP address and cookies</h3>
								<p style="
    font-size: 16px;
    font-family: 'lato';
">We also collect "non-personal" information from you, such as your browser type, the URL of the previous web site you visited, your ISP, operating system, and your IP address. "Non-personal" information cannot be easily used to personally identify you. We may use your non-personal information to help diagnose problems with our server and to administer our website. Your non-personal information may also be used to gather broad demographic information and to recognize customer traffic patterns and website usage. This information aids us in merchandising and in developing the design and layout of the website.
								</p>
								<p style="
    font-size: 16px;
    font-family: 'lato';
">In addition, like almost all e-commerce web sites, we use "cookies." Cookies are bits of information that are stored on your computer by your web browser. Although our cookies don't store any of your personal information, they do allow us to do things like keep items in your shopping cart between visits or during the same visit or provide you with a more personalized user experience. Whether you want your web browser to accept cookies or not is up to you. The Help portion of the toolbar on most browsers will tell you how to prevent your browser from accepting new cookies, how to be notified when you receive a new cookie, or how to disable cookies altogether. You can also disable or delete similar data used by browser add-ons, such as Flash cookies, by changing the add-ons settings or visiting the Web site of its manufacturer. However, because cookies allow you to take advantage of some of features and services, we recommend that you leave them turned on. For instance, if you block our cookies, you will not be able to add items to your Cart, proceed to checkout, or use any services that require you to sign in. If you haven't changed your computer's settings, most likely your browser already accepts cookies.
								</p>
								<p style="
    font-size: 16px;
    font-family: 'lato';
">We use a third-party service provider to serve ads on our behalf across the Internet and sometimes on this site. They may collect anonymous information about your visits to our Web site, and your interaction with our products and services. They may also use information about your visits to this and other Web sites to target advertisements for goods and services. This anonymous information is collected through the use of a pixel tag, which is industry standard technology used by most major web sites. No personally identifiable information is collected or used in this process. They do not know the name, phone number, address, email address, or any personally identifying information about the user. If you would like more information about this practice and to know your choices about not having this anonymous information used by our third party service provider, please click 
									<a href="http://www.printingmumbai.com/" target="_blank">here
									</a>. 
									You can also read more about online marketing practices and the technologies that support them by visiting the Network Advertising Initiative's website by clicking 
									<a href="http://www.printingmumbai.com/" target="_blank">here
									</a>. 
								</p>
						</div>
						<div class="main-r-privacy main-r-content">
							<h3 style="
    font-size: 18px;
    font-family: 'lato';
">How we protect your information</h3>
							The security of your personal information is very important to us.
								<p style="
    font-size: 16px;
    font-family: 'lato';
">When you enter sensitive information such as a credit card number on our registration or order forms, we encrypt that information using secure socket layer technology (SSL). For purchases made online with credit cards, we store your credit card number in encrypted form for a limited amount of time, and our employees do not have access to this information. We do not store PIN data or 3-digit security codes.
								</p>
								<p style="
    font-size: 16px;
    font-family: 'lato';
">We follow generally accepted industry standards to protect the personal information submitted to us from unauthorized access or disclosure, both during transmission and once we receive it. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security. We assume no liability for any disclosure of data due to errors in transmission, unauthorized third party access or other acts of third parties, or other acts or omissions.
								</p>
						</div>
						<div class="main-r-privacy main-r-content">
							<h3 style="
    font-size: 18px;
    font-family: 'lato';
">Children's privacy</h3>
								<p style="
    font-size: 16px;
    font-family: 'lato';
">Our services are intended for users ages 18 and older. Accordingly, we will not knowingly collect or use any personal information from persons that we know to be under the age of 18. In addition, we will delete any information in our database that we know originates from a child under the age of 18.
								</p>
						</div>
						
						<div class="main-r-privacy main-r-content">
							<h3 style="
    font-size: 18px;
    font-family: 'lato';
">Changes to our Privacy Policy</h3>
								<p style="
    font-size: 16px;
    font-family: 'lato';
">If we change our Privacy Policy, we will post a new version on our Website, which will become effective when posted. The new policy will apply to all current and past users of the Website and will replace any prior policies that are inconsistent with it.
								</p>
						</div>
		</div>
	</div>
	
		
						
						
</div>
