<style>

            #container-refund .brdr {
    border: 1px solid #ededed;
}

/* Font changes */
#container-refund .fnt-smaller {
    font-size: 14px;
}
#container-refund .fnt-lighter {
    color: #6F5E6A;
    font-size: 12px;
}

/* Padding - Margins */
#container-refund .pad-10 {
    padding: 10px!important;
}
#container-refund .mrg-0 {
    margin: 0!important;
}
#container-refund .btm-mrg-10 {
    margin-bottom: 10px!important;
}
#container-refund .btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
#container-refund .clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
#container-refund @media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

#container-refund @media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}

#container-refund #container-refund {
      width: 85%;
}
    </style>

<div class="container" id="container-refund">
    <div class="col-md-12">
        <h1 style="text-align:center;padding-top:20px;padding-bottom:20px;">
        	Refunds and Exchange Information
        </h1>
        <p>Thank you for shopping at 
            <i class="icon-website">
            </i>
            <a href="http://printposters.in/">www.printposters.in
            </a>
    <hr>
            <p>We take utmost care of your job while printing & during finishing operations.  We take all the necessary pre-cautions while packing your ordered finished goods. In the unlikely event your consignment is lost or physically damaged in transit, pls contact us in writing or by email at at creative@printingpune.com. In the case of damage please contact us within 24 hrs of receipt and return the product to following address. Creative media, 1708 Sadashiv Peth, Saideep Apt., Pune 411030.
            </p>

            <p>Please note that, the cost of returning damaged product is borne by customer or purchaser. We will not accept packages that arrive with unpaid duty or postage due status.
            </p>

            <p>We will process the refund due to you as soon as possible and, in any event, within 14 days of the day we received your returned product.
            </p>

            <p>In the case of non-delivery,  please wait for 15 days from the date of your order in case it has been delayed by the postal system.
            </p>
    <hr>
            <p>In case of stretched canvas, if frame (stretcher’s wooden bar) is broken and if canvas is in good condition, we will refund your frame making charges within 7 working days.
            </p>
    <hr>
            <p>In case of stretched canvas, if frame (stretcher’s wooden bar) is broken and if canvas is damaged too, we will refund full price of such product or we will reprint it and dispatch finished goods within next 7 working days.
            </p>
    <hr>
            <p>Exchange or return or refund policy is not applicable for posters or prints like rolled canvas prints, vinyl print, photo prints. As these posters or prints are customised and printed as per customer’s requirement and need.
            </p>
    <hr>
             <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                <div class="media">
                    <a class="pull-left" href="#" target="_parent">
                    <img alt="image" class="img-responsive" src="<?php echo $this->getSkinUrl('images/img/1.png');?>" width="250" height="100">
                    </a>

                    <div class="clearfix visible-sm">
                    </div>

                    <div class="media-body fnt-smaller">
                        <a href="#" target="_parent">
                        </a>

                        <h5 class="media-heading">
                          Addr : 1708, Sadashiv Peth, Sai Deep Apt,
                          <br><br>
                          Next to Udyan Prasad Karyalaya,
                        </h5>


                        <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                            <li>Near S P College, Pune 411030, India.
                            </li>

                            <li style="list-style: none">
                            </li><br>

                            <li>Ph. No. +9120 24499095
                            </li>

                            <li style="list-style: none">
                            </li>

                            <li></li>
                        </ul>

                        <p class="hidden-xs">
                        </p>
                        <span class="fnt-smaller fnt-lighter fnt-arial">
                            <a href="http://printingpune.com/">www.printingpune.com
                            </a> | 
                            <a href="http://printposters.in/">www.printposters.in
                            </a>
                        </span>
                    </div>
                </div>
            </div>
    </div>
</div>
