<style><!--
#specialOffers .shape{    
  border-style: solid; border-width: 0 70px 60px 0; float:right; height: 0px; width: 0px;
  -ms-transform:rotate(360deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(360deg); /* Safari and Chrome */
  transform:rotate(360deg);
}
#specialOffers .offer{
  background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden; height: 300px;
}
#specialOffers .offer:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform:rotate scale(1.1); 
    -webkit-transition: all 0.4s ease-in-out; 
-moz-transition: all 0.4s ease-in-out; 
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
    }
#specialOffers .shape {
  border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
#specialOffers .offer-radius{
  border-radius:7px;background: url('./img/offer.jpg');
  background-size: contain;
}
#specialOffers .offer-danger { border-color: #d9534f;background: url('./img/offer.jpg');
  background-size: contain; }
#specialOffers .offer-danger .shape{
  border-color: transparent #d9534f transparent transparent;
}
#specialOffers .offer-success {  border-color: #5cb85c;background: url('./img/offer.jpg');
  background-size: contain;  }
.offer-success .shape{
  border-color: transparent #D9534F transparent transparent;
}
#specialOffers .offer-default {  border-color: #999999;background: url('./img/offer.jpg');
  background-size: contain; }
#specialOffers .offer-default .shape{
  border-color: transparent #FFFFFF transparent transparent;
}
#specialOffers .offer-primary {  border-color: #428bca;background: url('./img/offer.jpg');
  background-size: contain; }
#specialOffers .offer-primary .shape{
  border-color: transparent #428bca transparent transparent;
}
.offer-info { border-color: #5bc0de;background: url('./img/offer.jpg');
  background-size: contain; }
#specialOffers .offer-info .shape{
  border-color: transparent #5bc0de transparent transparent;
}
#specialOffers .offer-warning {  border-color: #f0ad4e;background: url('./img/offer.jpg');
  background-size: contain; }
#specialOffers .offer-warning .shape{
  border-color: transparent #f0ad4e transparent transparent;
}

#specialOffers .shape-text{
  color:#fff; font-size:12px; font-weight:bold; position:relative;     right: -15px; top:2px; white-space: nowrap;
  -ms-transform:rotate(30deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  transform:rotate(30deg);
} 
#specialOffers .offer-content{
  padding:0 20px 10px;
}
@media (min-width: 487px) {
  #specialOffers .container {
    max-width: 750px;
  }
  #specialOffers .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  #specialOffers .container {
    max-width: 970px;
  }
  #specialOffers .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  #specialOffers .container {
    max-width: 1170px;
  }
  #specialOffers .col-lg-3 {
    width: 25%;
  }
  }
}
</style>
<div id="specialOffers" class="container" style="padding-top: 10px;">
	<div class="row">

<?php

$rulesCollection = Mage::getModel('catalogrule/rule')->getCollection(); 

  if($rulesCollection->count()==0){?>

<div class="row" style="text-align: center;
    font-size: 20px;color:red;">
  No new Offers to show
</div>


 <?php  }else{


foreach($rulesCollection as $rule) { ?>




		<div class="col-xs-12 col-sm-3">
			<div class="offer offer-default">
				<div class="shape">
					<div class="shape-text">
						<a class="deal-button has-code " href="http://printingmumbai.com/index.php/wall-art/art-gallery.html/" rel="nofollow"> 
							<span class="code"><?php
							if($rule->getSimple_action()=="by_percent"){
								echo $rule->getDiscount_amount() . "%";
							}else{
								echo "Rs" . $rule->getDiscount_amount();
							}  ?>
							</span> 
						</a>
					</div>
			</div>
			<div class="offer-content">
				<h3 class="lead"><?php echo $rule->getName(); ?>
				</h3>
				<p><?php $rule->getDescription(); ?>
				</p>
				<p><h5>expires: 
                <?php 
                $tomorrow=$rule->getTo_date();
                $dateTimestamp = Mage::getModel('core/date')->timestamp(strtotime($tomorrow));
                echo date('d.m.Y', $dateTimestamp);
                ?>
                </h5>
              </p>
			</div>
			</div>
		</div>

<?php } } ?>



	</div>
<div class="row">
<div class="col-xs-12 col-sm-3">
<h3 style="font-family: 'lato';">Great range of styles to choose from Personalise with a favourite photo Dishwasher &amp; microwave safe.</h3>
</div>
<div class="col-xs-12 col-sm-3">
<h3 style="font-family: 'lato';">Perfect for brightening up your desk or home Huge range to choose from Personalise with your favourite photo.</h3>
</div>
<div class="col-xs-12 col-sm-3">
<h3 style="font-family: 'lato';">Our reusable Photo Canvas are a fun, handy and quick gift . Selection of sizes available.</h3>
</div>
<div class="col-xs-12 col-sm-3">
<h3 style="font-family: 'lato';">A great way to add some colour to your office and certain to make you the envy of your colleagues.</h3>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-offset-1 col-sm-5"><img class="img-responsive thumbnail" alt="" src="<?php echo $this->getSkinUrl('img/all23.jpg');?>" height="100" width="200" /></div>
<div class="col-xs-12 col-sm-3"><img class="img-responsive thumbnail" alt="" src="<?php echo $this->getSkinUrl('img/116474.jpg');?>" height="100" width="200" /></div>

</div>
</div>
