<script type="text/javascript">
$(document).ready(function() {
$(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    // $(".tab").addClass("active"); // instead of this do the below 
    $(this).removeClass("btn-default").addClass("btn-primary");   
});
});
</script>

	<style>
 #tagspage .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#tagspage .card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
#tagspage .card.hovercard .card-background {
    height: 130px;
}
#tagspage .card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
#tagspage .card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
#tagspage .card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
#tagspage .card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
#tagspage .card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#tagspage .card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
#tagspage .card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
#tagspage .btn-pref .btn {
    -webkit-border-radius:0 !important;
}
#tagspage .tags{
    width: 100%;
}
#tagspage .row {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 40px;
}
#tagspage .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
#tagspage .resource-list li, .tag-list li {
  float: left;
}
#tagspage .nav>li {
  position: relative;
  display: block;
}
#tagspage .nav-pills>li>a {
  border-radius: 4px;
}
/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT     
========================================================  */

/*============================================================
BACKGROUND COLORS
============================================================*/
#tagspage .db-bk-color-one {
    background-color: #f55039;
}

#tagspage .db-bk-color-two {
    background-color: #46A6F7;
}

#tagspage .db-bk-color-three {
    background-color: #47887E;
}

#tagspage .db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
#tagspage .db-padding-btm {
    padding-bottom: 50px;
}
#tagspage .db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    padding: 18px 3px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    #tagspage .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


#tagspage .db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    #tagspage .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        #tagspage .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }

            #tagspage .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    #tagspage .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 40px;
        font-weight: 900;
        color: #FFFFFF;
    }

        #tagspage .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    #tagspage .db-pricing-eleven .type {
        background-color: #52E89E;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    #tagspage .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

#tagspage .db-attached > .col-lg-4,
#tagspage .db-attached > .col-lg-3,
#tagspage .db-attached > .col-md-4,
#tagspage .db-attached > .col-md-3,
#tagspage .db-attached > .col-sm-4,
#tagspage .db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

#tagspage .db-pricing-eleven.popular {
    margin-top: 10px;
}

    #tagspage .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }



/*=========================
  Icons
 ================= */

/* footer social icons */
#tagspage ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
#tagspage ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
#tagspage .social-network a.icoRss:hover {
    background-color: #F56505;
}
#tagspage .social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
#tagspage .social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
#tagspage .social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
#tagspage .social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
#tagspage .social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
#tagspage .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
#tagspage.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
#tagspage a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

#tagspage .social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
#tagspage .social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

#tagspage .social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
#tagspage .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

#tagspage a {
 background-color: #D3D3D3;   
}
#tagspage #fa-fa-fa-footer {
    text-align: center;
}    


</style>


<div class="container" id="tagspage">
	  <p><marquee style="padding:5px;">Limited time offer <h style="color:red;">SAVE UP TO 50% </h>ON CARDSFREE SHIPPING ON ORDERS OF Rs.3,000+</marquee></p>

	<section style="background-color:white;">
    <div class="row">
<div class="col-lg-6 col-sm-6 tags" style="margin-top:-70;">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="<?php echo $this->getSkinUrl('images/img/all2.jpg');?>">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="<?php echo $this->getSkinUrl('images/img/116613.jpg');?>">
        </div>
        <div class="card-info"> <span class="card-title">printingmumbai.com</span>

        </div>
    </div>
</div>
</div>
</section>
<section style="background-color:white;">
    <div class="container">
<div class="row">
            <ul class="nav nav-pills nav-stacked tag-list">
                                                        <li class="col-md-4">
                    <a href="#" style="background-color: #2C3E50; color:#FFF;text-align: center;">
                    Vinyl
                    </a>
                </li>
                                                        <li class="col-md-4">
                    <a href="#" style="background-color: #2C3F52; color:#FFF;text-align: center;">
                    
                    Canvas
                    </a>
                </li>
                                                        <li class="col-md-4">
                    <a href="#" style="background-color: #2C4154; color:#FFF;text-align: center;">
                    
                    Posters
                    </a>
                </li>
                                                        <li class="col-md-4">
                    <a href="#" style="background-color: #2C4256; color:#FFF;text-align: center;">
                    
                    Indoor Printing
                    </a>
                </li>
                                                        <li class="col-md-4">
                    <a href="#" style="background-color: #2C4459; color:#FFF;text-align: center;">
                    
                    Fabric
                    </a>
                </li>
                                                        <li class="col-md-4">
                    <a href="#" style="background-color: #2C455B; color:#FFF;text-align: center;">
                    
                    Wrapper
                    </a>
                </li>
                   
            </ul>
    </div>
</div>
</section>
<section style="background-color:white;">
<div class="container">
   <div class="row text-center">
            <div class="col-md-12">
            <br/><br/>
            <h3>
            
            Hope you enjoy
            <a href="http://www.printingmumbai.com/" target="_blank" style="text-decoration:none;color:red;background-color: white;font-family: 'lato';text-transform: initial;">www.printingmumbai.com</a> <br> <br><br>
            
            </h3>
            <br/><br/>
            </div>
    </div>        
           
  <div class="row db-padding-btm db-attached" style="padding-left:212px;">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                            <sup>Rs</sup>1199
                                <small>per</small>
                        </div>
                        <div class="type">
                            BASIC PLAN
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn db-button-color-square btn-lg">BOOK ORDER</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two popular">
                    <div class="price">
                        <sup>Rs</sup>2099
                                <small>per </small>
                    </div>
                    <div class="type">
                        MEDIUM PLAN
                    </div>
                    <ul>

                        <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                        <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                        <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="#" class="btn db-button-color-square btn-lg">BOOK ORDER</a>
                    </div>
                </div>
                      </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three">
                    <div class="price">
                        <sup>Rs</sup>4049
                                <small>per </small>
                    </div>
                    <div class="type">
                        ADVANCE PLAN
                    </div>
                    <ul>

                        <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                        <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                        <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                    </ul>
                    <div class="pricing-footer">

                        <a href="#" class="btn db-button-color-square btn-lg">BOOK ORDER</a>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>

</section>
<section style="background-color:white;">
<!--Pulling Awesome Font -->
                <div class="col-md-12" id="fa-fa-fa-footer">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>               
                </div>
</section>

</div>
