
<div class="container" >  
	<p><marquee style="margin-bottom: -15px;">Limited time offer <h style="color:red;">SAVE UP TO 50% </h>ON CARDSFREE SHIPPING ON ORDERS OF Rs.3,000+</marquee></p>     
	<div style="text-align:center;color:#883D45;">
	    <h1 style="font-family: 'lato'; font-size: 25px;">Terms &amp; Conditions for Canvas Photo Prints</h1>
	</div>
					
		<div class="std"><h3 style="text-align:center;color:#883D45;font-size:20px;font-family:'lato';">Terms &amp; Conditons</h3>
			<p>&nbsp;</p>
		</div>
		<div id="termsdetails" style="">
         	<h3><strong style="font-size:20px;font-family:'lato';">1 DEFINITIONS</strong>
         	</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">1.1 "Buyer" means the individual or organisation who buys or agrees to buy the Services from the Supplier;
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">1.3 "Contract" means the contract between the Supplier and the Buyer for the provision of Services incorporating these Terms and Conditions;
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">1.4 "Services" means the services that the Buyer agrees to buy from the Supplier;
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">1.5 "Supplier" means printingmumbai that owns and operates 
					<a href="http://printingmumbai.com/">printingmumbai.com
					</a>
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">1.6 "Terms and Conditions" means the terms and conditions for the provision of Services set out in this agreement and any special terms and conditions agreed in writing by the Supplier;
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">1.7 "Website" means 
					<a href="http://printingmumbai.com/">printingmumbai.com
					</a>
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">2 CONDITIONS</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">2.1 Nothing in these Terms and Conditions shall affect the Buyer's statutory rights as a Consumer.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">2.2 These Terms and Conditions shall apply to all contracts for the provision of Services by the Supplier to the Buyer and shall prevail over any other documentation or communication from the Buyer.</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">2.3 Any variation to these Terms and Conditions (including any special terms and conditions agreed between the parties) shall be inapplicable unless agreed in writing by the Supplier.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">2.4 Any complaints should be addressed to the Supplier's by email to 
					<a href="mailto:aditya@printingpune.com">aditya@printingpune.com.com
					</a>. A member of our team will deal with your request immediately.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">2.5 Any special conditions applying to the provision of the Services are set out in the Schedule to this agreement.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">3 ORDERING</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">3.1 All orders for Services shall be deemed to be an offer by the Buyer to purchase Services pursuant to these Terms and Conditions and are subject to acceptance by the Supplier. The Supplier may choose not to accept an order for any reason.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">3.2 When making an order through the Website, the technical steps the Buyer needs to take to complete the order process are described in the order process selection pages of the website.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">4 PRICE AND PAYMENT</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">4.1 The price of the Services shall be that stipulated on the Website, errors and ommissions excepted. The price is inclusive of VAT.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">4.2 The total purchase price, including VAT, if any, will be displayed in the Buyer's shopping cart prior to confirming the order.</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">4.3 After the order is received the Supplier shall confirm by email the details, description and price for the Services together with information on the right to cancel if the Buyer is a Consumer
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">4.4 Payment must be made without deduction or set-off.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">4.5 Where applicable, if any payment is not paid on time or any payment is rejected or refused, the amount owing will be treated as overdue and the Supplier will be entitled immediately to cease or suspend the provision of the relevant Service until payment has been received.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">4.6 Payment must be made in GBP only.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">5 PERFORMANCE</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">5.1 The Supplier shall begin to perform the Services once payment has been accepted.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">5.2 The Supplier shall perform the Services with reasonable skill and care. However, where applicable, the Supplier does not guarantee that the Services will be uninterrupted, secure or error-free or that any data generated, stored, transmitted or used via or in connection with the Services will be complete, accurate, secure, up to date, received or delivered correctly or at all. The Supplier may have to suspend the Services for repair, maintenance or improvement. If so, the Supplier will restore them as quickly as is reasonably possible.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">6 RIGHTS OF SUPPLIER</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">6.1 The Supplier reserves the right to periodically update prices on the Website, which cannot be guaranteed for any period of time. The Supplier shall make every effort to ensure prices are correct at the point at which the Buyer places an order.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">6.2 The Supplier reserves the right to withdraw the Services from the Website at any time.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">6.3 The Supplier shall not be liable to anyone for withdrawing the Services from the Website or for refusing to process an order.</p>
				<h3><strong style="font-size:20px;font-family:'lato';">7 AGE OF CONSENT</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">7.1 Where the Services may only be purchased by persons of a certain age the Buyer will be asked when placing an order to declare that they are of the appropriate legal age to purchase the Services.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">7.2 If the Supplier discovers that the Buyer is not legally entitled to order certain Services, the Supplier shall be entitled to cancel the order immediately, without notice.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">8 CANCELLATION</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">Where the Buyer is a Consumer, the Buyer has the right to cancel the Contract, by notice in writing, at any time before seven working days has passed from the day after the Contract was made. If, however, the Supplier starts to perform its side of the Contract with the agreement of the Buyer before the Buyer exercises this right to cancel, the right to cancel is lost.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">9 LIMITATION OF LIABILITY</strong>
				</h3>
				<p>9.1 Except as may be implied by law where the Buyer is dealing as a Consumer, in the event of any breach of these Terms and Conditions by the Supplier the remedies of the Buyer shall be limited to damages which shall in no circumstances exceed the price of the Services and the Supplier shall under no circumstances be liable for any indirect, incidental or consequential loss or damage whatever.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">9.2 Nothing in these Terms and Conditions shall exclude or limit the liability of the Supplier for death or personal injury resulting from the negligence of the Supplier or that of the Supplier's agents or employees.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">10 WAIVER</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">No waiver by the Supplier (whether express or implied) in enforcing any of its rights under this agreement shall prejudice its rights to do so in the future.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">11 FORCE MAJEURE</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">The Supplier shall not be liable for any delay or failure to perform any of its obligations if the delay or failure results from events or circumstances outside its reasonable control, including but not limited to acts of God, strikes, lock outs, accidents, war, fire or failure of any communications, telecommunications or computer system, and the Supplier shall be entitled to a reasonable extension of its obligations.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">12 SEVERANCE</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">If any term or provision of these Terms and Conditions is held invalid, illegal or unenforceable for any reason by any court of competent jurisdiction such provision shall be severed and the remainder of the provisions hereof shall continue in full force and effect as if these Terms and Conditions had been agreed with the invalid illegal or unenforceable provision eliminated.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">13 CHANGES TO TERMS AND CONDITIONS</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">13.1 The Supplier shall be entitled to alter these Terms and Conditions at any time but this right shall not affect the existing Terms and Conditions accepted by the Buyer upon making a purchase.
				</p style="
    font-family: 'lato';
    font-size: 18px;
">
				<p style="
    font-family: 'lato';
    font-size: 18px;
">13.2 Any renewal of the Services will be subject to the Supplier's then current Terms and Conditions.
				</p>
				<h3><strong style="font-size:20px;font-family:'lato';">14 RETURNS POLICY</strong>
				</h3>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">If for any reason you are not happy with your item, please simply get in touch within 14 days of receipt. Your complaint will be treated very seriously and investigated appropriately. If there has been any damage to your print along the way, we will replace this free of charge.
				</p>
				<h3><strong style="
    font-size: 22px;
    font-family: 'lato';
">TERMS AND CONDITIONS OF USE</strong>
				</h3>
				<h4><strong style="font-size:20px;font-family:'lato';">1 ACCEPTANCE OF TERMS</strong>
				</h4>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">Your access to and use of printingmumbai ("the Website") is subject exclusively to these Terms and Conditions. You will not use the Website for any purpose that is unlawful or prohibited by these Terms and Conditions. By using the Website you are fully accepting the terms, conditions and disclaimers contained in this notice. If you do not accept these Terms and Conditions you must immediately stop using the Website.
				</p>
				<h4><strong style="font-size:20px;font-family:'lato';">2 ADVICE</strong>
				</h4>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">The contents of the Website do not constitute advice and should not be relied upon in making or refraining from making, any decision.
				</p>
				<h4><strong style="font-size:20px;font-family:'lato';">3 CHANGES TO WEBSITE</strong>
				</h4>
				<p style="
    font-family: 'lato';
    font-size: 18px;
"><strong>printingmumbai</strong> reserves the right to:
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">3.1 change or remove (temporarily or permanently) the Website or any part of it without notice and you confirm that printingmumbai shall not be liable to you for any such change or removal; and
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">3.2 change these Terms and Conditions at any time, and your continued use of the Website following any changes shall be deemed to be your acceptance of such change.
				</p>
				<h4><strong style="font-size:20px;font-family:'lato';">4 LINKS TO THIRD PARTY WEBSITES</strong>
				</h4>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">The Website may include links to third party websites that are controlled and maintained by others. Any link to other websites is not an endorsement of such websites and you acknowledge and agree that we are not responsible for the content or availability of any such sites.
				</p>
				<h4><strong style="font-size:20px;font-family:'lato';">5 COPYRIGHT</strong>
				</h4>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">5.1 All copyright, trade marks and all other intellectual property rights in the Website and its content (including without limitation the Website design, text, graphics and all software and source codes connected with the Website) are owned by printingmumbai.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">5.2 In accessing the Website you agree that you will access the content solely for your personal, non-commercial use. None of the content may be downloaded, copied, reproduced, transmitted, stored, sold or distributed without the prior written consent of the copyright holder. This excludes the downloading, copying and/or printing of pages of the Website for personal, non-commercial home use only.
				</p>
				<h4><strong style="font-size:20px;font-family:'lato';">6 DISCLAIMERS AND LIMITATION OF LIABILITY</strong>
				</h4>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">6.1 The Website is provided on an "AS IS" and "AS AVAILABLE" basis without any representation or endorsement made and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">6.2 To the extent permitted by law, printingmumbai will not be liable for any indirect or consequential loss or damage whatever (including without limitation loss of business, opportunity, data, profits) arising out of or in connection with the use of the Website.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">6.3 printingmumbai makes no warranty that the functionality of the Website will be uninterrupted or error free, that defects will be corrected or that the Website or the server that makes it available are free of viruses or anything else which may be harmful or destructive.
				</p>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">6.4 Nothing in these Terms and Conditions shall be construed so as to exclude or limit the liability of printingmumbai for death or personal injury as a result of the negligence of printingmumbai or that of its employees or agents.
				</p>
				<h4><strong style="font-size:20px;font-family:'lato';">7 INDEMNITY</strong>
				</h4>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">You agree to indemnify and hold printingmumbai and its employees and agents harmless from and against all liabilities, legal fees, damages, losses, costs and other expenses in relation to any claims or actions brought against printingmumbai arising out of any breach by you of these Terms and Conditions or other liabilities arising out of your use of this Website.
				</p>
				<h4><strong style="font-size:20px;font-family:'lato';">8 SEVERANCE</strong>
				</h4>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">If any of these Terms and Conditions should be determined to be invalid, illegal or unenforceable for any reason by any court of competent jurisdiction then such Term or Condition shall be severed and the remaining Terms and Conditions shall survive and remain in full force and effect and continue to be binding and enforceable.</p>
				<h4><strong style="font-size:20px;font-family:'lato';">9 GOVERNING LAW</strong>
				</h4>
				<p style="
    font-family: 'lato';
    font-size: 18px;
">These Terms and Conditions shall be governed by and construed in accordance with the law of <strong>India</strong> and you hereby submit to the exclusive jurisdiction of the <strong>India courts</strong>.
				</p>
				<p><strong>&nbsp;</strong>
				</p>
				<p><strong>&nbsp;</strong>
				</p>
		</div>
	</div>
