<style type="text/css">
p{
  text-align: justify;
    font-size: 15px;
}
.form-group{
  color: black;
}
.col-md-4{
  padding: 0px;
}
#accimg li{
    width: 14%;
    display: inline;
    float: left;
     margin: 20px 0px;
}
#upsection{
    border: 1px solid #C1C1C1;
    padding: 10px;
    height: 200px;
}
#upsection button{
    padding: 13px;
    color: white;
    width: 100%;
    background-color: #1EA086;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 2px 3px 10px gray;
    font-family: 'Lato', sans-serif;
    text-shadow: none;
}
#upsection h5{
    font-family: cursive;
    font-weight: 900;
}
#vinylsec{
  margin-top: 10px;
  border: 1px solid #C1C1C1;
  font-family: 'lato';
}
#vinylsec button{
    width: 94%;
    padding: 10px;
    margin: 0px 10px;
    background-color: #1EA086;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
}




th{
    border: 1px solid black !important;
    background-color: #CFC8C8;
  }
  td{
    border: 1px solid black !important;
   }
   #showsiz{
    border: 1px solid #C1C1C1;
    padding: 10px;
    margin-top: 10px;
   }
   #showsiz h5{
    margin: 5px;
    font-family: cursive;
    font-weight: 900;
   }
   #showsiz span{
    font-family: sans-serif;
   }
   .col-md-7 h5{
    font-weight: 700;
    text-transform: none;
   }
   .col-md-7{
    font-family: 'lato';
   }
</style>

 <?php 

        $_category  = Mage::registry('current_category');
        $collection = Mage::getModel('catalog/category')->getCategories($_category->entity_id);
        $helper     = Mage::helper('catalog/category');

  ?>


<!-- loading Modal -->
<div id="loader" class="modal fade" role="dialog" data-backdrop="static"
   data-keyboard="false" >
  <div class="modal-dialog" style="width:170px;">
    <!-- Modal content-->
    <div class="modal-content" style="text-align:center;">
        <div class="modal-body" style="text-align:center;">      
            <!-- steps header -->
            <img src="<?php echo $this->getSkinUrl('images/images/pIkfp.gif');?>">
            <p style="text-align: center;">Please wait...</p>
        </div>
    </div>
 </div>
</div>



<!-- Modal -->
<div id="loginmdl" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Please sign in</h4>
      </div>
      <div class="modal-body">
        
        <form id="loginmodelfrm">
          <div class="form-group">
            <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="Email address" required autofocus style="border: 1px solid #B0AEAE; margin-bottom: 10px;">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="loginPass" id="loginPass" placeholder="Password" required style="border: 1px solid #B0AEAE; margin-bottom: 10px;">
          </div>
           <div id="loginerrmsg"></div>
           <button id="loginbtnclick" class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #1EA086;color: white!important;">Sign in</button>
        </form>         
            
            
           
            
          

      </div>
    </div>

  </div>
</div>







<script type="text/javascript">
jQuery(document).ready(function () {
    // code start for geeting sizes from php

   touploadfile='';

jQuery.ajax({
      type : "POST",
      url : "<?php echo Mage::getBaseUrl();?>mymodule/index/getvinylsize",
      data : {
        type: jQuery('#type option:selected').val(),
        catid: '<?=$_category->getId();?>'
      },
      dataType: "json",
      beforeSend : function() {
           jQuery('#loader').modal('show');
      },
      success : function(response) {
        var mySelect = jQuery('#size');
        mySelect.html('');
        jQuery.each(response, function(val, text) {
            mySelect.append(
                jQuery('<option></option>').val(text.size+' # '+text.price).html('size '+text.size+' price '+text.price)
            );
        });
        
         jQuery('#loader').modal('hide');
      }
    });

jQuery('#type').change(function(){
    jQuery.ajax({
          type : "POST",
          url : "<?php echo Mage::getBaseUrl();?>mymodule/index/getvinylsize",
          data : {
            type: jQuery('#type option:selected').val(),
            catid: '<?=$_category->getId();?>'
          },
          dataType: "json",
          beforeSend : function() {
               jQuery('#loader').modal('show');
          },
          success : function(response) {
            var mySelect = jQuery('#size');
            mySelect.html('');
            jQuery.each(response, function(val, text) {
                mySelect.append(
                    jQuery('<option></option>').val(text.size+' # '+text.price).html('size '+text.size+' price '+text.price)
                );
            });
            
             jQuery('#loader').modal('hide');
          }
    });
});















jQuery('.uploadimg').click(function(){
    document.getElementById("vinylupldimg").click();
});

jQuery("#vinylupldimg").change(function(evt){
  jQuery('#loader').modal('show');
  var files = evt.target.files;
  if(files.length>0){
    var f=files[0];
     var ext = this.value.match(/\.(.+)$/)[1];
      console.log(ext);
      
    if (f.type.match('image.jpg')||f.type.match('image.jpeg')||f.type.match('image.bmp')||f.type.match('image.png')||f.type.match('image.gif')||f.type.match('application.pdf')||ext=="psd"||ext=="cdr") {
      var reader = new FileReader();
       reader.onload = (function(theFile) {
          return function(e) {


    var file_data = f;   
    var form_data = new FormData();                  
    form_data.append('file', file_data);
  //  alert(form_data);                             
    jQuery.ajax({
                url: '<?php echo Mage::getBaseUrl();?>mymodule/index/upldvinyl', // point to server-side PHP script 
                dataType: 'json',  // what to expect back from the PHP script, if anything
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,                         
                type: 'post',
                success: function(php_script_response){
                  jQuery('#loader').modal('hide');
                    jQuery('#resps').val(JSON.stringify(php_script_response));
                    
                }
     });





          if(f.type.match('application.pdf')){

              var imageUrl = "<?php echo $this->getSkinUrl('images/img/pdf-icon.png');?>";
              console.log('imageUrl', imageUrl);
              convertImgToBase64(imageUrl, 
                function(base64Img){  
                  jQuery('#vinprev').attr('src',base64Img);
                  jQuery('#selected_img').val(base64Img);
                });

             
                
          }else if(ext=="psd"){


              var imageUrl = "<?php echo $this->getSkinUrl('images/img/Adobe_Photoshop_CS5_icon.png');?>";
              console.log('imageUrl', imageUrl);
              convertImgToBase64(imageUrl, 
                function(base64Img){  
                  jQuery('#vinprev').attr('src',base64Img);
                  jQuery('#selected_img').val(base64Img);
                });

                
            }else if(ext=="cdr"){
               

              var imageUrl = "<?php echo $this->getSkinUrl('images/img/coreldraw_by_dj_fahr-d3ezwdj.png');?>";
              console.log('imageUrl', imageUrl);
              convertImgToBase64(imageUrl, 
                function(base64Img){  
                  jQuery('#vinprev').attr('src',base64Img);
                  jQuery('#selected_img').val(base64Img);
                });


            }else{
                jQuery('#vinprev').attr('src',e.target.result);
                jQuery('#selected_img').val(e.target.result);
            }
              
          };
      })(f);
      reader.readAsDataURL(f);
    }else{
      //alert('Please select file of above format!')
      swal("Oops...", "Please select file of above format!", "error");
      jQuery('#loader').modal('hide');
    }

  }else{
    swal("Oops...", "Please !! select image file!", "error");
    jQuery('#loader').modal('hide');
    //alert('Please !! select image file!')
  }
});

jQuery('#placeorder').click(function(){

    if(jQuery('#resps').val()==''){
      swal("Oops...", "Please select image file!", "error");
    }else{
      if(jQuery.isNumeric(jQuery("#qty").val())==false){
        swal("Oops...", "Please Enter Valid Quantity to order", "error");
      }else{
        if(jQuery("#comment").val()==''){
        swal("Oops...", "Add Suggestion as a comment to order", "error");
        }else{

          
          var ordernsize=jQuery("#size option:selected").val();
          ordernsize = ordernsize.split('#');
          var order_size=ordernsize[0].trim();
          var order_price=ordernsize[1].trim();




<?php 
    if(!Mage::getSingleton('customer/session')->isLoggedIn()){
        //not logged in ?>

jQuery('#loginmdl').modal('show');


<?php

    }else{
        // logged in ?>

          //alert(jQuery('#vinprev').attr('src'));
          //console.log(jQuery('#vinprev').attr('src'));

            jQuery.ajax({
                  type : "POST",
                  url : "<?php echo Mage::getBaseUrl();?>mymodule/index/vinylorder",
                    dataType: 'json',
                    data : {
                      originalimg: jQuery('#vinprev').attr('src'),
                      category_id: jQuery('#category_id').val(),
                      order_type: jQuery('#order_type').val(),
                      lamination: jQuery("#lamination option:selected").val(),
                      type: jQuery('#type option:selected').val(),
                      quantity: jQuery('#qty').val(),
                      prj_comments: jQuery('#comment').val(),
                      size: order_size,
                      price: order_price,
                      resps: jQuery('#resps').val()                      
                    },
                    beforeSend : function() {
                         jQuery('#loader').modal('show');
                    },
                    success : function(response) {
                    

                      console.log(response);
                     console.log(response.product_id);
                     jQuery.ajax({
                        type: 'GET',
                        url:  "<?php echo Mage::getBaseUrl();?>checkout/cart/add",
                        dataType: 'json',
                        data : {
                          product: response.product_id,
                          qty: jQuery('#qty').val()
                        },
                        success: function(result) {
                          console.log(result);
                          if(result.r=='success'){
                            console.log(result);
                           
                            swal({
                              title: "Wow...",
                              text: result.message,
                              type: "success"
                            },function(){
                              window.location = "<?php echo $this->getUrl('checkout/cart'); ?>";
                            });



                            jQuery('#loader').modal('hide');
                          }else{
                            swal("Oops...", result.message, "error");
                            jQuery('#loader').modal('hide');
                          }
                    
                        }
                    });

                     
                    }
                });


      

<?php } ?>



        }
      }
    }
});




jQuery("#loginmodelfrm").submit(function(e){
    //alert('submit intercepted');
    e.preventDefault(e);
});






jQuery('#loginbtnclick').click(function(){
  var email=jQuery('#loginEmail').val();
  var password=jQuery('#loginPass').val();
    
if(email.length > 0 && email != ''){
  if(password.length > 0 && password != ''){

      jQuery.ajax({
                  type : "POST",
                  url : "<?php echo Mage::getBaseUrl();?>mymodule/index/loginuser",
                    dataType: 'json',
                    data : {
                      email: email,
                      password: password
                    },
                    beforeSend : function() {
                      //  jQuery('#loader').modal('show');
                    },
                    success : function(response) {
                    //  jQuery('#loader').modal('hide');
                      if(response.status==0){
                       // alert(response.msg);
                       swal("Oops...", response.msg, "error");
                      }else{
                      //  swal("wow...", response.msg, "success");
                        jQuery('#loginmdl').modal('hide');

                             

          var ordernsize=jQuery("#size option:selected").val();
          ordernsize = ordernsize.split('#');
          var order_size=ordernsize[0].trim();
          var order_price=ordernsize[1].trim();

            jQuery.ajax({
                  type : "POST",
                  url : "<?php echo Mage::getBaseUrl();?>mymodule/index/vinylorder",
                    dataType: 'json',
                    data : {
                      originalimg: jQuery('#vinprev').attr('src'),
                      category_id: jQuery('#category_id').val(),
                      order_type: jQuery('#order_type').val(),
                      lamination: jQuery("#lamination option:selected").val(),
                      type: jQuery('#type option:selected').val(),
                      quantity: jQuery('#qty').val(),
                      prj_comments: jQuery('#comment').val(),
                      size: order_size,
                      price: order_price,
                      resps: jQuery('#resps').val()                      
                    },
                    beforeSend : function() {
                         jQuery('#loader').modal('show');
                    },
                    success : function(response) {
                    

                      console.log(response);
                     console.log(response.product_id);
                     jQuery.ajax({
                        type: 'GET',
                        url:  "<?php echo Mage::getBaseUrl();?>checkout/cart/add",
                        dataType: 'json',
                        data : {
                          product: response.product_id,
                          qty: jQuery('#qty').val()
                        },
                        success: function(result) {
                          console.log(result);
                          if(result.r=='success'){
                            console.log(result);
                           
                            swal({
                              title: "Wow...",
                              text: result.message,
                              type: "success"
                            },function(){
                              window.location = "<?php echo $this->getUrl('checkout/cart'); ?>";
                            });



                            jQuery('#loader').modal('hide');
                          }else{
                            swal("Oops...", result.message, "error");
                            jQuery('#loader').modal('hide');
                          }
                    
                        }
                    });

                     
                    }
                });














                        

                      }
                    },
                    complete:function(){
               

                    }

                  });



  }else{
    swal("Oops...", 'Password required!', "error");
  }
}else{
  swal("Oops...", 'Please Enter Valid Email Id!', "error");
}

});


jQuery('#loginmodelfrm').bootstrapValidator({
     
       message: 'This value is not valid',
       feedbackIcons: {
           valid: 'glyphicon glyphicon-ok',
           invalid: 'glyphicon glyphicon-remove',
           validating: 'glyphicon glyphicon-refresh'
       },
       fields: {
         loginEmail: {
               validators: {
                   notEmpty: {
                          message: 'The email address is required and can\'t be empty'
                      },
                      emailAddress: {
                          message: 'The input is not a valid email address'
                      }
               }
           },
           loginPass: {
               validators: {
                   notEmpty: {
                       message: '*required'
                   }
               }
           },
           
          
       
       }
       


    });








function convertImgToBase64(url, callback, outputFormat){
    var img = new Image();
    img.crossOrigin = 'Anonymous';
    img.onload = function(){
        var canvas = document.createElement('CANVAS');
        var ctx = canvas.getContext('2d');
        canvas.height = this.height;
        canvas.width = this.width;
        ctx.drawImage(this,0,0);
        var dataURL = canvas.toDataURL(outputFormat || 'image/png');
        callback(dataURL);
        canvas = null; 
    };
    img.src = url;
}






















});

</script>


<div class="container">
  <div class="row">
    <marquee style="margin: 3px 15px;">"FREE DELIVERY ACROSS INDIA FOR LIMITED PERIOD."</marquee>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-7">
          <div id="upsection" class="row">
            <h5>We Accept these formats</h5>
            <ul id="accimg">
              <li><img src="<?php echo $this->getSkinUrl('images/img/jpg3.png');?>" style="width: 90%;"/></li>   
              <li><img src="<?php echo $this->getSkinUrl('images/img/bmp.png');?>" style="width: 90%;"/></li>
              <li><img src="<?php echo $this->getSkinUrl('images/img/png4.png');?>" style="width: 90%;"/></li>
              <li><img src="<?php echo $this->getSkinUrl('images/img/gif4.png');?>" style="width: 90%;"/></li>
              <li><img src="<?php echo $this->getSkinUrl('images/img/coreldraw_by_dj_fahr-d3ezwdj.png');?>" style="width: 90%;"/></li>
              <li><img src="<?php echo $this->getSkinUrl('images/img/Adobe_Photoshop_CS5_icon.png');?>" style="width: 90%;"/></li>
              <li><img src="<?php echo $this->getSkinUrl('images/img/pdf-icon.png');?>" style="width: 90%;"/></li>
            </ul>
            <div class="row">
              <input type="file" id="vinylupldimg" style="display:none;">
              <button class="uploadimg">Upload Photo</button>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row" style="height:200px;text-align: center;">
            <h5 style="text-align: center;" >Image Preview</h5>
              <img id="vinprev" src="<?php echo $this->getSkinUrl('images/img/image84.png');?>" style="height:150px; width:auto; max-width:100%;"> 
          </div>
        </div>
      </div>
      <div class="row">

        <div id="showsiz" class="row">
          <h5 style="margin:5px;">Choose Size</h5>
        <table class="data-table" id="product-review-table">          
        <thead>
          <tr>
            <th width="30%"><span class="nobr">Size</span></th>



    <?php foreach ($collection as $cat): ?>

<?php $childLevel2Category1 = Mage::getModel('catalog/category')->getCategories($cat->entity_id); ?>
    <?php foreach ($childLevel2Category1 as $catLevel2) { ?>
      <?php $chcategory=Mage::getModel('catalog/category')->load($catLevel2->getId());?>

<th width="20%"><span class="nobr"><?php echo $chcategory->getName();?></span>
        
 <?php } 
break;

 ?>



<?php endforeach;?>








        
            
          </tr>
        </thead>
        <tbody style="font-size: 12px;" > 

       
  
    <?php foreach ($collection as $cat):?>


        <tr id="12x12" >     
                  <td class="value" style="padding: 15px 5px;"><?php echo 

$cat->getName();?></td>
                  <?php $childLevel2Category = Mage::getModel('catalog/category')->getCategories($cat->entity_id); ?>
                  <?php foreach ($childLevel2Category as $catLevel2) { ?>



        <?php $chcategory=Mage::getModel('catalog/category')->load($catLevel2->getId());?>
        <?php //if($chcategory->getName()=='Flex' || $chcategory->getName()=='Star Flex' || $chcategory->getName()=='High Resolution Vinyl'){?>

                    <td class="value" style="text-align:center;  ">
                       Rs. <?php echo $chcategory->getDescription

();?>
                     </td> 
                  <?php

//if
              //  }


                   } ?>

                    </tr>
        
<?php endforeach;?>
    </tbody>
  </table>

        </div>
      </div>
      <div class="row">

        <div class="row" id="vinylsec">

        <input type="hidden" id="selected_img" name="selected_img" value=""/>
        <input type="hidden" id="resps" name="resps" value=""/>
        <input type="hidden" id="category_id" name="category_id" value="<?php echo $_category->getId();?>"/>
        <input type="hidden" id="order_type" name="order_type" value="<?php echo $_category->getName();?>">
          <div class="row" style=" margin: 10px;">
            <div class="form-group">
            <div class="col-md-4">
              <h5>Type</h5>
            </div>
            <div class="col-md-8">
              <select id="type" style="padding: 5px; width: 100%;" >
                <?php foreach ($childLevel2Category as $catLevel2):?>
                <option value="<?php echo $catLevel2->getName();?>"><?php echo $catLevel2->getName();?></option>
                <?php endforeach;?>
              </select>
            </div> 
          </div>
          </div>
          <div class="row" style=" margin: 10px;">
            <div class="form-group">
            <div class="col-md-4">
              <h5>Lamination Option</h5>
            </div>
            <div class="col-md-8">
              <select id="lamination" style="padding: 5px; width: 100%;" >
                <option value="no">No</option>
                <option value="yes">YES</option>
              </select>
            </div> 
          </div>
          </div>
           <div class="row" style=" margin: 10px;">
            <div class="form-group">
            <div class="col-md-4">
              <h5>Size</h5>
            </div>
            <div class="col-md-8">
              <select id="size" style="padding: 5px; width: 100%;" >
                
              </select>
            </div> 
          </div>
          </div>
          <div class="row" style=" margin: 10px;">
            <div class="form-group">
            <div class="col-md-4">
              <h5>Quantity</h5>
            </div>
            <div class="col-md-8">
              <input type="text" id="qty" style="padding: 5px; width: 100%;"/>
            </div> 
          </div>
          </div>
          <div class="row" style=" margin: 10px;">
            <div class="form-group">
            <div class="col-md-4">
              <h5>Extra comments</h5>
            </div>
            <div class="col-md-8">
              <textarea cols="10" id="comment" style="padding: 5px; width: 100%;"></textarea>
            </div> 
          </div>
          </div>
          <div class="row">
            <div class="form-group">
              <button id="placeorder">Place Your Order</button>
            </div>
          </div>
        </div>

      </div>
      
    </div>
    <div class="col-md-4">
          <div class="row" style="text-align:center;margin:0 auto;">
        <img src="<?php echo $this->getSkinUrl('images/img/TradeShow1.jpg');?>" style="width: 100%;height: auto; " >
      </div>
      <div class="row" style="margin: 5px;">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>In-shop branding</strong> is the best marketing tools used inside retail shops, showrooms which comes directly in front of customers</p><p>&nbsp;&nbsp;&nbsp;&nbsp;We do branding using <strong>indoor posters</strong> (stick on 3 MM board). Our <strong>indoor poster</strong> does not required lamination. <strong>Indoor posters</strong> comes in two variant <strong>Matt and glossy.</strong> We have <strong>one way vision sticker,</strong> which can be used on the glass.</p>
<p>For inshop branding we use</p>
<ul>
<li>Standees</li>
<li>Banner</li>
<li>Indoor Posters</li>
<li>Vinyl Stickers</li>
<li>Front lit Sticker</li>
<li>Bank lit Sticker</li>
</ul>
<p>for the Indoor poster prints we used pigment based inks which is superior than eco solvent inks & also pigments based ink does not required lamination and its eco friendly﻿</p>
<p style="color:green"><strong>Note:</strong> &nbsp;for bulk order please contact on email :<strong>  aditya@printingpune.com</strong> or call on <strong>
+91-954 550 2806</strong></p>

      </div>

    </div>
  </div>
</div>