
<style type="text/css">
  



#menu, #menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #menu {
        width: 100%;
        margin: 10px auto;
        border: 1px solid #222;
        background-color: #111;
        background-image: -moz-linear-gradient(#444, #111); 
        background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));    
        background-image: -webkit-linear-gradient(#444, #111);  
        background-image: -o-linear-gradient(#444, #111);
        background-image: -ms-linear-gradient(#444, #111);
        background-image: linear-gradient(#444, #111);
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 0px;
        -moz-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
        -webkit-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
        box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    }
    
    #menu:before,
    #menu:after {
        content: "";
        display: table;
    }
    
    #menu:after {
        clear: both;
    }
    
    #menu {
        zoom:1;
    }
    
    #menu li {
        float: left;
        border-right: 1px solid #222;
        -moz-box-shadow: 1px 0 0 #444;
        -webkit-box-shadow: 1px 0 0 #444;
        box-shadow: 1px 0 0 #444;
        position: relative;
    }
    
    #menu a {
        float: left;
        padding: 12px 30px;
        color: #999;
        text-transform: uppercase;
        font: bold 12px Arial, Helvetica;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;

    }
    
    #menu li:hover > a {
        color: #fafafa;
    }
    
    *html #menu li a:hover { /* IE6 only */
        color: #fafafa;
    }
    
    #menu ul {
        margin: 20px 0 0 15px;
       width: 162px;
       padding: 0px;
        _margin: 0; /*IE6 only*/
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 38px;
        left: 0;
        z-index: 1;    
        background: #444;
        background: -moz-linear-gradient(#444, #111);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
        background: -webkit-linear-gradient(#444, #111);    
        background: -o-linear-gradient(#444, #111); 
        background: -ms-linear-gradient(#444, #111);    
        background: linear-gradient(#444, #111);
        -moz-box-shadow: 0 -1px rgba(255,255,255,.3);
        -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
        box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;  
    }

    #menu li:hover > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;

    }
    
    #menu ul ul {
        top: 0;
        left: 150px;
        margin: 0 0 0 20px;
        _margin: 0; /*IE6 only*/
        -moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
        -webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
        box-shadow: -1px 0 0 rgba(255,255,255,.3);      
    }
    
    #menu ul li {
        float: none;
        display: block;
        border: 0;
        _line-height: 0; /*IE6 only*/
        -moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
        -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
        box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    }
    
    #menu ul li:last-child {   
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;    
    }
    
    #menu ul a {    
        padding: 10px;
        width: 130px;
        _height: 10px; /*IE6 only*/
        display: block;
        white-space: nowrap;
        float: none;
        text-transform: none;
    }
    
    #menu ul a:hover {
        background-color: #0186ba;
        background-image: -moz-linear-gradient(#04acec,  #0186ba);  
        background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
        background-image: -webkit-linear-gradient(#04acec, #0186ba);
        background-image: -o-linear-gradient(#04acec, #0186ba);
        background-image: -ms-linear-gradient(#04acec, #0186ba);
        background-image: linear-gradient(#04acec, #0186ba);
        width: 100%;
    }
    
    #menu ul li:first-child > a {
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }
    
    #menu ul li:first-child > a:after {
        content: '';
        position: absolute;
        left: 40px;
        top: -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #444;
    }
    
    #menu ul ul li:first-child a:after {
        left: -6px;
        top: 50%;
        margin-top: -6px;
        border-left: 0; 
        border-bottom: 6px solid transparent;
        border-top: 6px solid transparent;
        border-right: 6px solid #3b3b3b;
    }
    
    #menu ul li:first-child a:hover:after {
        border-bottom-color: #04acec; 
    }
    
    #menu ul ul li:first-child a:hover:after {
        border-right-color: #0299d3; 
        border-bottom-color: transparent;   
    }
    
    #menu ul li:last-child > a {
        -moz-border-radius: 0 0 3px 3px;
        -webkit-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
    }
    
   

    @media screen and (max-width: 600px) {

        /* nav-wrap */
        #menu-wrap {
            position: relative;
        }

        #menu-wrap * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

  
        
        /* main nav */
        #menu {
            margin: 0; padding: 10px;
            position: absolute;
            top: 40px;
            width: 100%;
            z-index: 1;
            background-color: #444;
            display: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;       
        }

        #menu:after {
            content: '';
            position: absolute;
            left: 25px;
            top: -8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #444;
        }   

        #menu ul {
            position: static;
            visibility: visible;
            opacity: 1;
            margin: 0;
            background: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;               
        }

        #menu ul ul {
            margin: 0 0 0 20px !important;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;       
        }

        #menu li {
            position: static;
            display: block;
            float: none;
            border: 0;
            margin: 5px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;           
        }

        #menu ul li{
            margin-left: 20px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;       
        }

        #menu a{
            display: block;
            float: none;
            padding: 0;
            color: #999;
        }

        #menu a:hover{
            color: #fafafa;
        }   

        #menu ul a{
            padding: 0;
            width: auto;        
        }

        #menu ul a:hover{
            background: none;   
        }

        #menu ul li:first-child a:after,
        #menu ul ul li:first-child a:after {
            border: 0;
        }       

    }

    @media screen and (min-width: 600px) {
        #menu {
            display: block !important;
        }
    }   

    /* iPad */
    .no-transition {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        opacity: 1;
        visibility: visible;
        display: none;          
    }

    #menu li:hover > .no-transition {
        display: block;
    }


ul#menu1 li {
    display:inline;
    float: right;
}

.post_comment{
    display: inline-block !important;
}
.main-container{
    margin-top: 146px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(163, 165, 167, 0.8), -12px 0 15px -4px rgba(175, 175, 175, 0.8);

}
.the-slideshow{
    margin: 0px;
}
.viewport img{
    height: 300px;
    width: 100%;
}
.direction-nav .prev{
    top: 34%;
}
.direction-nav .next{
    top: 34%;
}
.the-slideshow ol{
    display: none;
}
.the-slideshow .caption{
    display: none;

}
.canvas-row{
    text-align: center;
}
#canvas-rates{
    background: #FE4310;
}
#canvas-rates h4{
    color: white;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.list-group-item h5{
    margin: 2px auto;
    text-transform: none;
}
.list-group-item{
    border: 1px solid #C0C0C0;
    font-family: 'lato';
}
.pro-detail a h5 {
    text-transform: none;
    font-size: 13px;
    margin: 5px;
}
.pro-detail a {
    margin: 2px;
    padding: 0px;
    border-radius: 5px;
    background: #383D41;
    color: #fff;
    display: inline-block;
    font-size: 5px;
    float: left;
    font-size: 13px;
}
.pro-details1 {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}
.pro-details2{
    padding: 0px;
}
.pro-details{
    margin: 10px 0px;
    padding: 0px;
}
.paragraph1 p {
    font-size: 15px;
    text-transform: none;

}
.paragraph1 {
    font-family: 'lato';
    padding: 15px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: normal;
    padding-right: 0px;
    padding-left: 0px;
}
.panel-heading2 {
    background-color: rgb(254, 67, 16);
    color: #fff;
}
.fine-art {
    text-align: center;
}
.paragraph{
    padding: 0px;
}
.footer_col{
    text-align: left;
}
#footer h4{
    font-size: 18px;
    text-transform: none;
    color: white;
    margin-bottom: 20px;
}
#footer h5{
    font-size: 13px;
    text-transform: none;
}
.foot{
   margin: 15px 0px;
}

#about_us p{
 text-align: justify;
}

#wall_art {
    background-color: white;
}




#pricetableinches {
    padding-top:25px;
  padding-bottom:20px;
  background-color: white;
}
#tableprice {
      padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
}
 #tableprice .tables1 {
    margin-right:15px;
  padding-right: 0px;
  border-style: ridge;
}
#tableprice .tables2 {
    margin-right:15px;
  padding-right: 0px;
  border-style: ridge;
}
#tableprice .tables3 {
    margin-right:15px;
  padding-right: 0px;
  border-style: ridge;
}

    #tableprice .row{
            margin-top:40px;
            padding: 0 10px;
        }
        #tableprice .clickable{
            cursor: pointer;   
        }

         #tableprice .panel-heading div {
            margin-top: -18px;
            font-size: 15px;
        }
        #tableprice .panel-heading div span{
            margin-left:5px;
        }
        #tableprice .panel-body{
            display: none;
        }
#tableprice .tableprice2 {
      width: 50%;
}



/*// wall_art
*/


#wall_art .thumbnail{
    height: 205px;
}

#wall_art .thumbnail .image{
    height: 130px;
    text-align: center;
}
.image img{
max-height: 135px;
width: auto;
max-width: 100%
}




#wall_art #section2 {
    padding: 0px 0;
}

#wall_art .thumbnail>img, .thumbnail a>img {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: auto;

}

#wall_art .rs-table {
  margin: 0 auto;
  text-align: center;
}
#wall_art .price {
    color:red;
}


#wall_art .category-products {
    

    display: -moz-inline-box;
    display: inline-block;
    padding: 1em;
    background-color: #ccc;
    border: 1px dotted #000;
}

#wall_art .block {
  background: #fff;
  border: solid 1px #000000;
    padding-left: 20px;
      margin-left: 25px;
  margin-right: 20px;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left:0px;
}
#wall_art .block .block-content {
  padding: 10px;
}
#wall_art .pad-left-right {
  overflow: hidden;
  padding: 5px 10px;
}
#wall_art .no-pad {
  padding: 0 !important;
}
#wall_art .clear {
  clear: both;
}
#wall_art ul, ol {
  padding: 0;
  margin: 0;
}
#wall_art li {
  display: list-item;
}



#wall_art .block-content li a {
  color: #c63320;
  font-size: 14px;
}

#wall_art .block > .block-title {
  text-transform: capitalize;
  padding: 2px 38px;
  line-height: 20px;
  background: #fafafa;
  border-bottom: solid 1px #000000;
  font-size: 17px;
  color: #c63320;
  background-color: #D3D1D1;
  text-transform: capitalize;
    margin-left: -20px;
  font-family: 'brandon_grotesquemedium', Arial, Helvetica, sans-serif;
}

#wall_art .btn-default1 {
background-image: none;
  background-color: #FF0000;
  padding: 5px 29px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px;
  color: rgb(253, 253, 253);
  /* margin-left: 40px; */
}
#wall_art .btn-default > .input-group {
      padding-left: 0px;
}

#wall_art .main1 {
  margin: 0 auto;
  text-align: left;
   background-color:white;
}



/*panel-yellow*/
#our_products{
    font-family: 'lato';
}
#our_products .panel-yellow {
  border-color: #f0ad4e;
}

 #our_products .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
/*panel-red*/
#our_products .panel-red {
  border-color: rgb(166, 85, 85);
}

 #our_products .panel-heading1 {
  border-color: rgb(166, 85, 85);
  color: #fff;
  background-color: rgb(166, 85, 85);
}
/*panel-green*/
#our_products .panel-green {
  border-color: rgb(232, 86, 175);
}

 #our_products .panel-heading2 {
  border-color: rgb(232, 86, 175);
  color: #fff;
  background-color: rgb(232, 86, 175);
}

/*panel-black*/
#our_products .panel-black {
  border-color: black;
  margin-right: 12px;
  margin-left: 12px;

}

 #our_products .panel-heading3 {
  border-color: rgb(232, 86, 175);
  color: #fff;
  background-color: rgb(232, 86, 175);
}

/*panel-blue*/
#our_products .panel-blue {
  border-color: rgb(232, 86, 175);
}

#our_products .panel-heading4 {
  border-color: rgb(232, 86, 175);
  color: #fff;
  background-color: rgb(232, 86, 175);
}

#termsdetails p{
    text-align: justify;
}
#termsdetails {
    font-family:'lato';
}

#privacy_policy{
    font-family:'lato';
    text-align: justify;
}
#privacy_policy h3{
    color: #18bc9c;
}
.panel-yellow {
  border-color: #f0ad4e;
}

 .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  text-align:center;
  background-color: #f0ad4e;
}
/*panel-red*/
.panel-red {
  border-color: #FE4310;
}

 .panel-heading1 {
  border-color: rgb(166, 85, 85);
  color: #fff;
  background-color: rgb(166, 85, 85);
}
/*panel-green*/
.panel-green {
  border-color: rgb(232, 86, 175);
}

 .panel-heading2 {
  border-color: rgb(232, 86, 175);
  color: #fff;
  background-color: rgb(232, 86, 175);
}

/*panel-black*/
.panel-black {
  border-color: black;
  margin-right: 12px;
  margin-left: 12px;

}

 .panel-heading3 {
  border-color: rgb(232, 86, 175);
  color: #fff;
  background-color: rgb(232, 86, 175);
}

/*panel-blue*/
.panel-blue {
  border-color: rgb(232, 86, 175);
}

 .panel-heading4 {
  border-color: rgb(232, 86, 175);
  color: #fff;
  background-color: rgb(232, 86, 175);
}
#our-products {
padding-bottom: 0px;background:#f9f9f9;
}
#our-products .marquee{
 margin-bottom: -15px;color: #21DDDD;color:#666666;
 padding: 5px;
}
.marquee strong {
    color:red;
}
#paneldetails {
    padding-left: 15px;padding-right: 15px;
}

#panel-body1 {
    text-align:center;  min-height: 127px;
}
.panel-body2 {
    height: 180px;
    font-size: 16px;
    color: rgb(94, 94, 94);
    font-family:'lato';
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
}
.panel-body2 p{
    font-size: 16px;
}
#panel-title2{
text-align:center;padding: 3px;
}
.panel-heading1 h3{
    text-align:center;padding: 12px;
}
#panel-body3 {
    text-align:center;  min-height: 180px;
}
.panel-red .panel-heading1
h3 {
    text-align:center;  padding: 12px;
}
#panel-body4 {
text-align:center; height: 175px;
}
.panel-green .panel-heading2 h3 {
     text-align:center;padding: 12px;
}
#panel-body5{
     text-align:center;  min-height: 195px;
}
.panel-green .panel-heading2 h3 {
     text-align:center;padding: 3px;
}
#panel-body6 {
     text-align:center;  min-height: 150px;
}
.panel-black .panel-heading3 h3 {
     text-align:center;padding:12px;
}
#secrow {
    min-height: 200px;
}
#secrow .col-xs-6 {
    padding-left:0px;padding-right:0px;
}
.panel-black .panel-title{
    text-align:center;
    font-size: 19px;
}
#panel-body7 {
     text-align:center;  min-height: 127px;
}
#rowsec1 {
    padding-left:0px;padding-right:0px;
}
#panel-body8 {
     text-align:center;  min-height: 127px;
}
.panel-blue .panel-heading4 h3 {
     text-align:center;padding: 12px;
}
#panel-body9 {
     text-align:center;  min-height: 150px;
}
#panel-body10 {
     text-align:center;  min-height: 170px;
}
</style>
