



/*@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite; 
}
*/
body{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    
}


input.sfield{
  background-color:#fff;    
    border-color:#cecece;
    border-style:solid;
    border-width:3px 1 3px 3px;
    font-size:0.9em;
    line-height:1em;
    height:26px;
}

input.sbutton{
    background-color:#868181;
    height:inherit;
    border:none;    
    color:#fff;
    position:relative;
    left:-6px;
    bottom:-1px;
    height:28px;
    border-radius: 5px;
}


.overflow {
  width: 614px;
  height: 272px;
    padding-left: 0px;
    overflow-x: hidden;

}



.rate-tbl h4 {
    background: red;
    margin: 10px;
    padding: 0 7px 0 7px;
    width: 400px;
    border-radius: 10px;
}

.rate-tbl h5 {
    display: block;
    padding: 10px;
    margin-bottom: 30px;
    text-align: justify;
}




.rate-tbl{
   border-style:groove;
   text-align:center;
   display: block;
    padding: 10px;
    text-align: justify;
}

.form-group {
  color:red;
}

#desc {
  padding-top:0px; background:white;  padding-bottom: 0px;
}
.feedbackform h3 {
    padding-left: 20px;
    color:#242424;
}

.feedbackform input {
  color:#4f4e4a;
  display:inline-block;
  border-style:groove;
  margin-bottom:5px;
  width:403px;
  margin-top:5px;
  border:rgb(187, 177, 177);
  border-style:groove;
  padding-left: 5px;
}
.feedbackform textarea {
border:solid 1px #4f4e4a;
border:rgb(187, 177, 177);
border-style: groove;
width:403px;
color:#4f4e4a;
padding-left: 5px;
}

.feedbackform lbl {
    width: 403px;
}


.classWithPad button {
  padding: 10px;
  width: 20em;
  height: 2em;
}
.classWithPad h1 {
   margin-top:50px;
   margin-left:155px;
  text-align:-webkit-auto;
}


.pro-detail a {
  margin:4px;
  padding: 5px;
  border-radius: 12px;
  background: #7B6E6E;
  color:#fff;
  display: inline-block;
  font-size: 18px;
}


.danger-btn button {
  border: none;
  margin-top: 20px;
  width: 250px;
  border-radius: 40px;
  padding: 25px;
}


.inch {
  text-align: center;
}




.tbl {
  padding: 15px;
}

.tbl1 {
  text-align: center;
  color:white;
  margin: 0px;
  padding: 0px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #4c4b46;
  width:24.9% !important;
  margin-right: 1px;

}
.tbl1 h5{
  /*background-color:#4c4b46;*/
  width: 245px;
  height: 70px;
  padding: 22px
}
.tbl2 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: #f7f4f6;
  border-top-style: groove;
  border-bottom-style: groove;
  border-left-style: groove;
  border-right-style: groove;
}
.tbl3 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: #f7f4f6;
  border-bottom-style: groove;
  border-left-style: groove;
  border-right-style: groove;
}
.tbl4 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: #f7f4f6;
  border-bottom-style: groove;
  border-left-style: groove;
  border-right-style: groove;
}
.crl {
  text-align: center;
}
.crl p {
  padding: 1px;
}


.row{
    margin: 0 auto;
}

.ul {
                border:1px solid black;
                display:inline-block;
                height:25px;
                list-style-type:none;
                text-align:center;
                width:50px;
            }

            .navbar {
    position:absolute;
    top:0;
    left:0;
    right:0;
}
.choose {
    text-align:center;
}
.choose span {
    font-size:60px;
}
body {
    background: gray;
    

}
.btn-default{
    background-image:none; 
    background-color:#FFFFFF;
}
.btn-default:hover{
    background-color:#fff ! important;
}
.nav li a span {
    color:#ff1500;

}

.td {
     
     padding:22px;
}
.item-active { 
   position:relative; 
   width:100%; 
}
.absolut h2 { 
   position:absolute; 
   bottom:244px; 
   text-align:center; 
   width:100%;
   color:black; 
}
.absolut strong {
    position:absolute;
    top:25px;
    text-align:right;
    width:100%;
    color:#ff1500;
    padding-right:32px; 
}
.absolut button { 
    position: absolute;
  bottom: 100px;
  text-align: center;
  width: 200px;
  color: black;
  left: -68px;
  margin-left: 600px;
  width: 250px;
  height: 50px;
  text-align: center;
  background: #ff3000;
  font-size: 24px;
  border-radius: 22px;
  border: none;
  color: #fff;
}
.feedback1 {
    background: #ffffff;
    padding-bottom:50px;
    padding-top:50px;
    padding-left:70px;
    padding-right:70px;
}
.feedback2 {
    padding-right:73px;
    padding-left:71px;
    padding-bottom:71px;
}
.review {
    background: #ffffff;
    padding-bottom: 108px;
    margin-bottom: 20px;
}
.td {
  padding: 22px;
  margin-left: 126px;
  margin-right: 14px;
}
.portfolio-item img{
    width: 350px;
  height: 200px;
}
#portfolio {
  padding: 20px 0 !important;
   
}
.footer_col h5 a{
  color:white;
}
.footer_col h3{
  color: white;
}
#footer {
  text-align:center;background:#5E5E5E;width: 80%; margin: -9px auto 0px auto;     box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(163, 165, 167, 0.8), -12px 0 15px -4px rgba(175, 175, 175, 0.8);
  
}
.paragraph{
  padding: 10px; margin: 0 0 -5px; text-align: justify; margin-left: 0px; margin-right: 0px;text-transform: lowercase;  line-height: 2;
}


  /* COMMON PRICING STYLES */
    .panel.price,
    .panel.price>.panel-heading{
      border-radius:0px;
       -moz-transition: all .3s ease;
      -o-transition:  all .3s ease;
      -webkit-transition:  all .3s ease;
    }
    .panel.price:hover{
      box-shadow: 0px 0px 30px rgba(0,0,0, .2);
    }
    .panel.price:hover>.panel-heading{
      box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
    }
    
        
    .panel.price>.panel-heading{
      box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
      text-shadow:0px 3px 0px rgba(50,50,50, .6);
    }
      
    .price .list-group-item{
      border-bottom-:1px solid rgba(250,250,250, .5);
    }
    
    .panel.price .list-group-item:last-child {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .panel.price .list-group-item:first-child {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
    
    .price .panel-footer {
      color: #fff;
      border-bottom:0px;
      background-color:  rgba(0,0,0, .1);
      box-shadow: 0px 3px 0px rgba(0,0,0, .3);
    }
    
    
    .panel.price .btn{
      box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
      border:0px;
    }
    
  /* green panel */
  
    
    .price.panel-green>.panel-heading {
      color: #fff;
      background-color: #57AC57;
      border-color: #71DF71;
      border-bottom: 1px solid #71DF71;
    }
    
      
    .price.panel-green>.panel-body {
      color: #fff;
      background-color: #65C965;
    }
        
    
    .price.panel-green>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-green .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* blue panel */
  
    
    .price.panel-blue>.panel-heading {
      color: #fff;
      background-color: #608BB4;
      border-color: #78AEE1;
      border-bottom: 1px solid #78AEE1;
    }
    
      
    .price.panel-blue>.panel-body {
      color: #fff;
      background-color: #73A3D4;
    }
        
    
    .price.panel-blue>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-blue .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* red price */
    
  
    .price.panel-red>.panel-heading {
       color: #fff;
       background-color: #303030;
       border: none;
    }
    
      
    .price.panel-red>.panel-body {
      color: #fff;
      background-color: #EF5A5C;
    }
    
    
    
    
    .price.panel-red>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-red .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* grey price */
    
  
    .price.panel-grey>.panel-heading {
      color: #fff;
      background-color: #6D6D6D;
      border-color: #B7B7B7;
      border-bottom: 1px solid #B7B7B7;
    }
    
      
    .price.panel-grey>.panel-body {
      color: #fff;
      background-color: #808080;
    }
    

    
    .price.panel-grey>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-grey .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* white price */
    
  
    .price.panel-white>.panel-heading {
      color: #333;
      background-color: #f9f9f9;
      border-color: #ccc;
      border-bottom: 1px solid #ccc;
      text-shadow: 0px 2px 0px rgba(250,250,250, .7);
    }
    
    .panel.panel-white.price:hover>.panel-heading{
      box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
    }
      
    .price.panel-white>.panel-body {
      color: #fff;
      background-color: #dfdfdf;
    }
        
    .price.panel-white>.panel-body .lead{
        text-shadow: 0px 2px 0px rgba(250,250,250, .8);
        color:#666;
    }
    
    .price:hover.panel-white>.panel-body .lead{
        text-shadow: 0px 2px 0px rgba(250,250,250, .9);
        color:#333;
    }
    
    .price.panel-white .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    .panel-yellow {
    border-color: #f0ad4e;
  }
  .panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
.commentbox{
  width: 523px;
  margin-left: 70px;
  border-style: groove;
}