<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js" ></script>
<style type="text/css">

.uploadspan{
    width: 200px;
    opacity: 0.9;
    position: absolute;
    right: 39%;
    top: 30%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


.btn-vertical-slider{ margin-left:35px; cursor:pointer;}
a {  cursor:pointer;}
.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

 .carousel.vertical .active {
  top: 0;
}

 .carousel.vertical .next {
  top: 100%;
}

 .carousel.vertical .prev {
  top: -100%;
}

 .carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

 .carousel.vertical .item {
    left: 0;
}​


/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 15px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}

.loader {
    
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}
  .loading-text { 
    text-align:center;
     position: absolute;
     top: 60%;
     width:100%;
     margin: 0px auto;
  }

.activeimage{
    border: 4px solid green;
}


#image_tool section {
  width: 150px;
  height: auto;
  margin: 100px auto 0;
  position: relative;
}

#image_tool  #slider {
  border-width: 1px;
  border-style: solid;
  border-color: #666 #666 #999 #666;
  border-radius: 25px;
  width: 100px;
  position: relative;
  height: 13px;
  background-color: #8e8d8d;
  margin: 20px auto;
}

#image_tool #slider2 {
  border-width: 1px;
  border-style: solid;
  border-color: #666 #666 #999 #666;
  border-radius: 25px;
  width: 100px;
  position: relative;
  height: 13px;
  background-color: #8e8d8d;
  margin: 20px auto;
}

#image_tool .tooltip {
  position: absolute;
  display: block;
  top: -5px;
  left: 140px;
  width: 35px;
  height: 20px;
  color: #fff;
  text-align: center;
  font: 10pt Tahoma, Arial, sans-serif;
  border-radius: 3px;
  border: 1px solid #333;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  background: linear-gradient(top, rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%);
}

#image_tool  .tooltip2 {
  position: absolute;
  display: block;
  top: -5px;
  left: 140px;
  width: 35px;
  height: 20px;
  color: #fff;
  text-align: center;
  font: 10pt Tahoma, Arial, sans-serif;
  border-radius: 3px;
  border: 1px solid #333;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  background: linear-gradient(top, rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%);
}

#image_tool  .ui-slider-handle {
  position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -7px;
    margin-left: -12px;
}

#image_tool .ui-slider-range {
    background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}


#controls{
    width: 100%;
    height: 22px;
    padding: 0 5px;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 90px !important;
  height: 85px !important;
  font-size: 10px;
  color: white;
  margin-right: 5px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}



.video-list-thumbs{}
.video-list-thumbs > li{
    margin-bottom:12px;
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
  display:block;
  position:relative;
  background-color: #111;
  color: #fff;
  padding: 8px;
  border-radius:3px
    transition:all 500ms ease-in-out;
    border-radius:4px
}
.video-list-thumbs > li > a:hover{
  box-shadow:0 2px 5px rgba(0,0,0,.3);
  text-decoration:none
}
.video-list-thumbs h2{
  bottom: 0;
  font-size: 14px;
   margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
  color:#fff;
  opacity:1;
  text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.video-list-thumbs .duration{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  left: 12px;
  line-height: 13px;
  padding: 2px 3px 1px;
  position: absolute;
  top: 12px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .duration{
  background-color:#000;
}
@media (min-width:320px) and (max-width: 480px) { 
  .video-list-thumbs .glyphicon-play-circle{
    font-size: 35px;
    right: 36%;
    top: 27%;
  }
  .video-list-thumbs h2{
    bottom: 0;
    font-size: 12px;
    height: 22px;
    margin: 8px 0 0;
  }
}

.radio{
      margin: 0 auto !important;
}


#preview_area{
  margin: 5px auto; 
  text-align: center;
   max-width: 650px; 
   overflow: hidden;
   background-color:white;
    position:relative;
}

.form-group{
   margin: 15px 0px;
}

.frame_class{
  position: absolute;
}

.dropdown-toggle{
  display: inline-block !important ;
}

.new{
  display: inline-block !important;
}

table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td {
    border: 1px solid rgb(203, 191, 191);
    text-align: center;
}
.form-group {
    color: black !important;
}
.recommended{
  background-color: #A9EEA9;
}

#recomandation_img{
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 100px;
  height: auto;
}

#process_img_temp_view_div{
  width: 500px;
  height: 90%;
    margin: 0px auto;
    text-align: center;
    margin-top: 3%;
}

#process_img_temp_view{
    width: 100%;
    height: auto;
    max-height: 100%;
}
.form-control{
  height: 31px;
}
 
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}








</style>




<script type="text/javascript">
jQuery(document).ready(function () {



var sizes_obj=[];
<?php
  $_category  = $this->getCurrentCategory();
  $collection = Mage::getModel('catalog/category')->getCategories($_category->entity_id);
  $helper     = Mage::helper('catalog/category');
  foreach ($collection as $cat): 
      $childLevel2Category = Mage::getModel('catalog/category')->getCategories($cat->entity_id);
      foreach ($childLevel2Category as $catLevel2) {
          $chcategory=Mage::getModel('catalog/category')->load($catLevel2->getId());
        ?>


  sizes_obj.push('<?php echo $cat->getName();?>*<?php echo $chcategory->getName();?>');

  <?php }
  endforeach;
  ?>









var filters = ['grayscale', 'invert', 'sepia', 'sepia2', 'emboss', 
                'blend'];
 f = fabric.Image.filters;
var applyFilter = function(index, filter, obj, canvas) {
    obj.filters[index] = filter;
    obj.applyFilters(canvas.renderAll.bind(canvas));
    var mediumQuality = canvas.toDataURL("image/jpeg", 0.5);
     jQuery('#process_img_temp_view').attr('src', mediumQuality);
}

   var navListItems = jQuery('div.setup-panel div a'),
            allWells = jQuery('.setup-content'),
            allNextBtn = jQuery('.nextBtn');

    allWells.hide();

    navListItems.click(function (e) {
        e.preventDefault();
        var $target = jQuery(jQuery(this).attr('href')),
                $item = jQuery(this);

        if (!$item.hasClass('disabled')) {
            navListItems.removeClass('btn-primary').addClass('btn-default');
            $item.addClass('btn-primary');
            allWells.hide();
            $target.show();
            $target.find('input:eq(0)').focus();
        }
    });

    allNextBtn.click(function(){
        var curStep = jQuery(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = jQuery('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            curInputs = curStep.find("input[type='text'],input[type='url']"),
            isValid = true;

        jQuery(".form-group").removeClass("has-error");
        for(var i=0; i<curInputs.length; i++){
            if (!curInputs[i].validity.valid){
                isValid = false;
                jQuery(curInputs[i]).closest(".form-group").addClass("has-error");
            }
        }

        if (isValid)
            nextStepWizard.removeAttr('disabled').trigger('click');
    });





    jQuery('div.setup-panel div a.btn-primary').trigger('click');

    jQuery('.btn-vertical-slider').on('click', function () {
        
        if (jQuery(this).attr('data-slide') == 'next') {
            jQuery('#myCarousel').carousel('next');
        }
        if (jQuery(this).attr('data-slide') == 'prev') {
            jQuery('#myCarousel').carousel('prev')
        }

    });

jQuery(document).ready(function() {
  jQuery('#media').carousel({
    pause: true,
    interval: false,
  });
});


jQuery('.uploadimg').click(function(){
    document.getElementById("upfile").click();
});

var i=0;
jQuery("#upfile").change(function(evt) {
    jQuery('#loader').modal('show');
    if(i<13){
        var files = evt.target.files; // FileList object
        // Loop through the FileList and render image files as thumbnails.
    if(files.length>0){


            var f=files[0];
            // Only process image files.
    if (f.type.match('image.*')) {
        var reader = new FileReader();
            // Closure to capture the file information.
            reader.onload = (function(theFile) {
                return function(e) {
                    // Render thumbnail.
                    jQuery('.thumbnail ').removeClass('activeimage');
                    jQuery('#image'+i).attr('src',e.target.result);
                    jQuery('#image'+i).parent().addClass( "activeimage" );
                    jQuery('#image'+i).attr('name','image'+i);
                    jQuery('#image'+i).attr('alt',i);
                    jQuery('#singlefrm').attr('src',e.target.result);
                    setTimeout(function (){
                      // delayd execution for 1 sec.
                      set3frame(e.target.result);
                     
                    }, 1000);
                    drawcanvas(e.target.result);
                    //adding hidden fields to form
                    if(jQuery('#single').hasClass('active')){

                      jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'canvas_type'+i,
                        name: 'canvas_type'+i,
                        value: 'single_frame'
                    }).appendTo('#hidden_dynamic_fields');
                      jQuery('#form_canvas_type').html('single_frame');

                    }else if(jQuery('#3frame').hasClass('active')){

                      jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'canvas_type'+i,
                        name: 'canvas_type'+i,
                        value: 'three_frame'
                    }).appendTo('#hidden_dynamic_fields');
                      jQuery('#form_canvas_type').html('three_frame');

                    }else{

                      jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'canvas_type'+i,
                        name: 'canvas_type'+i,
                        value: 'five_frame'
                    }).appendTo('#hidden_dynamic_fields');
                      jQuery('#form_canvas_type').html('five_frame');

                    }
                    jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'originalimg'+i,
                        name: 'originalimg'+i,
                        value: e.target.result
                    }).appendTo('#hidden_dynamic_fields');
                    
                    jQuery('#selected_form_img').attr('src', e.target.result );
                    jQuery('.radio').prop("checked", false);
                    jQuery('.radio1').prop("checked", false);                                           
                };
            })(f);
            // Read in the image file as a data URL.
        reader.readAsDataURL(f);
        i=i+1;
    }else{
        alert("Oooops! Not A Image File!!!!...");
        jQuery('#loader').modal('hide');  
    }
  }else{
    jQuery('#loader').modal('hide');  
  }
 }else{
    alert("Sorry..!!! You can Upload Only 12 Files!!!!");
    jQuery('#loader').modal('hide');  
 }       

   
});

function set3frame(blob) {
//start
var width;
var height;
var image = new Image();
image.src = blob;

image.onload = function(){
 width=image.width/3;
 height=image.height;
  cutImageUp();
};

function cutImageUp() {

    var imagePieces = [];
    for(var x = 0; x < 3; ++x) {
            var canvas = document.createElement('canvas');
            canvas.width = width;
            canvas.height = height;
            var context = canvas.getContext('2d');
            context.drawImage(image, x * width, 0, width, height, 0, 0, canvas.width, canvas.height);
          imagePieces.push(canvas.toDataURL());
        
    }
// imagePieces now contains data urls of all the pieces of the image
jQuery("#threefrm3").attr("src", imagePieces[2]);
jQuery("#twofrm3").attr("src", imagePieces[1]);
jQuery("#onefrm3").attr("src", imagePieces[0]);
 set5frame(blob); 
}
//end
}


function set5frame(blob) {
//start
var width;
var height;
var image = new Image();
image.src = blob;

image.onload = function(){
 width=image.width/5;
 height=image.height;
  cutImageUp();
};

function cutImageUp() {

    var imagePieces = [];
    for(var x = 0; x < 5; ++x) {
            var canvas = document.createElement('canvas');
            canvas.width = width;
            canvas.height = height;
            var context = canvas.getContext('2d');
            context.drawImage(image, x * width, 0, width, height, 0, 0, canvas.width, canvas.height);
          imagePieces.push(canvas.toDataURL());
        
    }
// imagePieces now contains data urls of all the pieces of the image
jQuery("#fivefrm5").attr("src", imagePieces[4]);
jQuery("#fourfrm5").attr("src", imagePieces[3]);
jQuery("#threefrm5").attr("src", imagePieces[2]);
jQuery("#twofrm5").attr("src", imagePieces[1]);
jQuery("#onefrm5").attr("src", imagePieces[0]);
 jQuery('#loader').modal('hide');  
}
//end
}

//jQuery('#loader').modal('show');
jQuery('.thumbnail').click(function(){
    jQuery('#loader').modal('show');
  var imgsrc = jQuery(this).children("img").attr('src');
  var alt=jQuery(this).children("img").attr('alt');
  var name=jQuery(this).children("img").attr('name');
  if(alt!=""){
    name=name.replace('image','');
    jQuery('.thumbnail ').removeClass('activeimage');
    jQuery(this).addClass( "activeimage" );
    jQuery('#singlefrm').attr('src',imgsrc);
    setTimeout(function (){
      // delayd execution for 1 sec.
      set3frame(imgsrc);
    }, 1000);
     var newidcount = parseInt(name)-1;
    jQuery(".printposter").parent().attr("style", 'Display:none;');
   jQuery("#myCanvas"+newidcount).parent().attr("style", 'Display:inline-block;');

var id11=jQuery('.activeimage').children('img').attr("alt");
 var id1=parseInt(id11)-1;

var frm=jQuery('#frame'+id11).val();
var size=jQuery('#size'+id11).val();
var type=jQuery('#type'+id11).val();
var pric=jQuery('#size_price'+id11).val();
jQuery('.form_size_price').html('Rs. '+pric);
jQuery('#form_effects_list').html('');
jQuery.each( filters , function( index, value ) {
 var fil=jQuery('#'+value+id11).val();
 if(fil=='true')
 jQuery('#form_effects_list').append(' '+value+' = '+ fil );
});

jQuery('#frame_png').attr('src','');
if (frm === undefined || frm === null) {
    jQuery(".radio1").prop("checked", false); 
}else{
  jQuery("#"+frm).prop("checked", true); 

 var frame_id = jQuery("#"+frm).siblings("input[name='frame']").val();
  
  //start
  if(jQuery('#img_preview').attr("src")!=""){
  
  var top=(jQuery('#preview_area').height()-jQuery('#img_preview').height())/2;
  var left=(jQuery('#preview_area').width()-jQuery('#img_preview').width())/2;
  jQuery('#frame_png').attr('style',"top:"+top+"px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px; height:"+jQuery('#img_preview').height()+"px;");
    if(frame_id==1){
       jQuery('#frame_png').attr('src',"<?php echo $this->getSkinUrl('images/empty-frame.png');?>");

if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){
    jQuery('#frame'+id11).val('black_frame');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'frame'+id11,
                        name: 'frame'+id11,
                        value: 'black_frame'
                    }).appendTo('#hidden_dynamic_fields');
}


jQuery('#form_canvas_frame').html('black_frame');

     }else if(frame_id==2){
       jQuery('#frame_png').attr('src',"<?php echo $this->getSkinUrl('images/photo_frame.png');?>");

if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){
    jQuery('#frame'+id11).val('brown_frame');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'frame'+id11,
                        name: 'frame'+id11,
                        value: 'brown_frame'
                    }).appendTo('#hidden_dynamic_fields');
}


jQuery('#form_canvas_frame').html('brown_frame');

     }else if(frame_id==3){
        jQuery('#frame_png').attr('src',"<?php echo $this->getSkinUrl('images/photo_frame.png');?>");

if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){
    jQuery('#frame'+id11).val('strached_canvas_frame');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'frame'+id11,
                        name: 'frame'+id11,
                        value: 'strached_canvas_frame'
                    }).appendTo('#hidden_dynamic_fields');
}

jQuery('#form_canvas_frame').html('strached_canvas_frame');

     }else{
        jQuery('#frame_png').attr('src','');

if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){
    jQuery('#frame'+id11).val('no_frame');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'frame'+id11,
                        name: 'frame'+id11,
                        value: 'no_frame'
                    }).appendTo('#hidden_dynamic_fields');
}

jQuery('#form_canvas_frame').html('no_frame');


     }
   
  }else{
    jQuery(this).removeAttr('checked');
    alert("please select image");
  }
  

  //end
}


if (size === undefined || size === null && type === undefined || type === null) {
    jQuery(".radio").prop("checked", false); 
}else{

 size=size.replace(/\s/g, '');
 size=size.replace('*', '');
  jQuery("#"+size+type).prop("checked", true); 

  var contentId = jQuery("#"+size+type).siblings("input[name='size']").val();
  var value=contentId.split("*");
  var height=value[0].trim();
    var width=value[1].trim();
    var newht= (parseInt(height)*96)/11.86;
    var newwdth= (parseInt(width)*96)/11.86;
   jQuery('#preview_area').height(newht);
   jQuery('#preview_area').width(newwdth);
   jQuery('#preview_area').css('margin-top',(350-newht)/2);
var image = new Image();
image.src = jQuery('#img_preview').attr("src");
  var imageht=image.naturalHeight;
  var imagewdt=image.naturalWidth;
  if(parseInt(newwdth/newht)>parseInt(imagewdt/imageht)){
    jQuery('#img_preview').attr("style","height:100%;");
    var left=(newwdth-jQuery('#img_preview').width())/2;
    jQuery('#frame_png').attr("style","height:100%; top:0px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px;");
  }else{
    jQuery('#img_preview').attr("style","width:100%;");
    var margin=(newht-jQuery('#img_preview').height())/2;
    if(margin>0){
      jQuery('#img_preview').attr("style","width:100%;margin-top:"+margin+"px;");
      jQuery('#frame_png').attr("style","left:0px; top:"+margin+"px; width:100%; height:"+jQuery('#img_preview').height()+"px;");
    }else{
      jQuery('#img_preview').attr("style","height:100%;");
      var left=(newwdth-jQuery('#img_preview').width())/2;
      jQuery('#frame_png').attr("style","height:100%; top:0px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px;");
    }
    
  }

imageht=0;
imagewdt=0;
newwdth=0;
newht=0;
height=0;
width=0;
jQuery('.form_size_price').html('Rs. '+value[3]);
jQuery('#form_canvas_size').html(value[0]+' * '+value[1]);
jQuery('#form_canvas_type2').html(value[2]);

}
  var object=canvasarr[id1].getActiveObject();
  console.log(canvasarr[id1].getActiveObject());
  var mediumQuality = canvasarr[id1].toDataURL("image/jpeg", 0.5);
  jQuery('#img_preview').attr("src", mediumQuality);
  jQuery('#edited_form_img').attr("src", mediumQuality);
var original_img=jQuery('.activeimage').children('img').attr("src");
  jQuery('#selected_form_img').attr("src", original_img);

var image = new Image();
image.src = jQuery('.activeimage').children('img').attr("src");
image.onload = function() {
var image_aspect_ratio=this.width/this.height;
console.log(image_aspect_ratio);

jQuery('#product-review-table tr').removeClass("recommended");

jQuery.each(sizes_obj, function( index, value ) {
  value=value.replace('"', '');
  value=value.replace(/\s/g, ''); 
  value=value.replace('"', '');
  var value = value.split("*");
   asp_ratio=parseInt(value[1])/parseInt(value[0]);
   
  if( asp_ratio >= (image_aspect_ratio-0.2) && asp_ratio <= (image_aspect_ratio+0.2)){
 
    jQuery('#'+value[0]+value[1]+value[2]).closest('tr').addClass('recommended');

  }
});

};

  }else{
    jQuery('#loader').modal('hide');
    alert('Empty frame');
  }
});

var canvasid=0;
var canvasarr=[];
function drawcanvas(blob) {

jQuery(".printposter").parent().attr("style", 'Display:none;');

         var imgObj = new Image();
        imgObj.src = blob;
        imgObj.onload = function () {
            // start fabricJS stuff
            
            var image = new fabric.Image(imgObj);
             image.set({
                    left: 0,
                    top: 0, 
                });
             
        var newCanvas = jQuery('<canvas/>',{
                     'class':'printposter',
                     id: 'myCanvas'+canvasid,
                     style: 'display: none;'                  
                }).prop({
                    width: image.width,
                    height: image.height
                });
        jQuery('#canvasprocessimage').append(newCanvas);
        canvas = new fabric.Canvas('myCanvas'+canvasid);

            canvas.add(image);
            canvas.setActiveObject(canvas.item(0));
             var object=canvas.getActiveObject();
            var filter = new fabric.Image.filters.Brightness({brightness:0
            });
            object.filters.push(filter);
            object.applyFilters(canvas.renderAll.bind(canvas));
            var filter1 = new fabric.Image.filters.Tint({
              color: '#000000',
              opacity: 0.0
            });
            object.filters.push(filter1);
            object.applyFilters(canvas.renderAll.bind(canvas));

            // end fabricJS stuff
            canvasarr[canvasid]=canvas;
            canvasid=canvasid+1;
            jQuery('#process_img_temp_view').attr('src',blob);
        }


}


var controls   = document.getElementById('controls');
controls.onkeyup = controls.onchange = function()
{
   var id1=jQuery('.activeimage').children('img').attr("alt");
   id1=parseInt(id1)-1;
   var object=canvasarr[id1].getActiveObject();
    object.filters[0].brightness = parseInt(this.value);
    object.applyFilters(canvasarr[id1].renderAll.bind(canvasarr[id1])); 
    canvasarr[id1].renderAll();
     var mediumQuality = canvasarr[id1].toDataURL("image/jpeg", 0.5);
     jQuery('#process_img_temp_view').attr('src', mediumQuality);
}

var controls1   = document.getElementById('controls1');
controls1.onkeyup = controls1.onchange = function()
{
   var id1=jQuery('.activeimage').children('img').attr("alt");
   id1=parseInt(id1)-1;
   console.log(id1);
   var object=canvasarr[id1].getActiveObject();
   val='0.'+parseInt(this.value);
    object.filters[1].opacity = val;
    object.applyFilters(canvasarr[id1].renderAll.bind(canvasarr[id1])); 
    canvasarr[id1].renderAll();
    var mediumQuality = canvasarr[id1].toDataURL("image/jpeg", 0.5);
     jQuery('#process_img_temp_view').attr('src', mediumQuality);
}
/*
var controls2   = document.getElementById('controls2');
controls2.onkeyup = controls2.onchange = function()
{
  alert();
   var id1=jQuery('.activeimage').children('img').attr("alt");
   id1=parseInt(id1)-1;
   console.log(id1);
   var object=canvasarr[id1].getActiveObject();
  val=parseInt(this.value);
   //object.set('angle', val);
    console.log(canvasarr[id1]);
   console.log(object);
object.animate('angle', 45, {
  onChange: canvas.renderAll.bind(canvas)
});
  //canvasarr[id1].renderAll();
}*/

jQuery('#grayscale').click(function(){
   var id11=jQuery('.activeimage').children('img').attr("alt");
   var id1=parseInt(id11)-1;
   var object=canvasarr[id1].getActiveObject();
   applyFilter(0, new f.Grayscale() , object, canvasarr[id1]);


if(jQuery('#grayscale'+id11).length > 0 && jQuery('#grayscale'+id11).val() != ''){
                      jQuery('#grayscale'+id11).val(true);
                }else{
                      jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'grayscale'+id11,
                        name: 'grayscale'+id11,
                        value: true
                    }).appendTo('#hidden_dynamic_fields');
                      jQuery('#form_effects_list').append(' Grayscale= true ');
                }

 

});

jQuery('#invert').click(function(){
   var id11=jQuery('.activeimage').children('img').attr("alt");
   var id1=parseInt(id11)-1;
   var object=canvasarr[id1].getActiveObject();
   applyFilter(1, new f.Invert(), object, canvasarr[id1]);

if(jQuery('#invert'+id11).length > 0 && jQuery('#invert'+id11).val() != ''){
                      jQuery('#invert'+id11).val(true);
                }else{
                      jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'invert'+id11,
                        name: 'invert'+id11,
                        value: true
                    }).appendTo('#hidden_dynamic_fields');
                      jQuery('#form_effects_list').append(' Invert= true ');
                }



});


jQuery('#sepiya').click(function(){
   var id11=jQuery('.activeimage').children('img').attr("alt");
   var id1=parseInt(id11)-1;
   var object=canvasarr[id1].getActiveObject();
    applyFilter(2, new f.Sepia(), object, canvasarr[id1]);


if(jQuery('#sepia'+id11).length > 0 && jQuery('#sepia'+id11).val() != ''){
                      jQuery('#sepia'+id11).val(true);
                }else{
                      jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'sepia'+id11,
                        name: 'sepia'+id11,
                        value: true
                    }).appendTo('#hidden_dynamic_fields');


jQuery('#form_effects_list').append(' Sepiya= true ');
                }



});


jQuery('#sepiya2').click(function(){
    var id11=jQuery('.activeimage').children('img').attr("alt");
   var id1=parseInt(id11)-1;
   var object=canvasarr[id1].getActiveObject();
   applyFilter(3, new f.Sepia2(), object, canvasarr[id1]);


if(jQuery('#sepia2'+id11).length > 0 && jQuery('#sepia2'+id11).val() != ''){
                      jQuery('#sepia2'+id11).val(true);
                }else{
                      jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'sepia2'+id11,
                        name: 'sepia2'+id11,
                        value: true
                    }).appendTo('#hidden_dynamic_fields');


jQuery('#form_effects_list').append(' Sepiya2= true ');
                }







});


jQuery('#emboss').click(function(){
    var id11=jQuery('.activeimage').children('img').attr("alt");
   var id1=parseInt(id11)-1;
   var object=canvasarr[id1].getActiveObject();

 applyFilter(4, new f.Convolute({
      matrix: [ 1,   1,  1,
                1, 0.7, -1,
               -1,  -1, -1 ]
    }), object, canvasarr[id1]);

if(jQuery('#emboss'+id11).length > 0 && jQuery('#emboss'+id11).val() != ''){
                      jQuery('#emboss'+id11).val(true);
                }else{
                      jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'emboss'+id11,
                        name: 'emboss'+id11,
                        value: true
                    }).appendTo('#hidden_dynamic_fields');
                      jQuery('#form_effects_list').append(' Emboss= true ');
                }




});

jQuery('#blend').click(function(){
   var id11=jQuery('.activeimage').children('img').attr("alt");
   var id1=parseInt(id11)-1;
   var object=canvasarr[id1].getActiveObject();

applyFilter(5, new f.Blend({
      color: '#000AD8',
      mode: 'multiply'
    }), object, canvasarr[id1]);


if(jQuery('#blend'+id11).length > 0 && jQuery('#blend'+id11).val() != ''){
                      jQuery('#blend'+id11).val(true);
                }else{
                      jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'blend'+id11,
                        name: 'blend'+id11,
                        value: true
                    }).appendTo('#hidden_dynamic_fields');
                      jQuery('#form_effects_list').append(' Blend= true ');
                }


});


jQuery('.sizeclass').click(function(){

if(jQuery('.activeimage').children('img').attr("src") === undefined || jQuery('.activeimage').children('img').attr("src") === null){

}else{


jQuery('#loader').modal('show');
  //getting image id
    var id11=jQuery('.activeimage').children('img').attr("alt");
    id1=parseInt(id11)-1;

  // create object of canvas active image 
    var object=canvasarr[id1].getActiveObject();

  //creating image of canvas
    var mediumQuality = canvasarr[id1].toDataURL("image/jpeg", 0.5);

  // adding image in step 4
    jQuery('#img_preview').attr("src", mediumQuality);
    jQuery('#edited_form_img').attr("src", mediumQuality);

  //adding values to step 4
    var frm=jQuery('#frame'+id11).val();
    var size=jQuery('#size'+id11).val();
    var type=jQuery('#type'+id11).val();


  //cheking frames addded or not if it is then show respected frame
    jQuery('#frame_png').attr('src','');

    if (frm === undefined || frm === null) {

        jQuery(".radio1").prop("checked", false); 

    }else{

        jQuery("#"+frm).prop("checked", true); 

        var frame_id = jQuery("#"+frm).siblings("input[name='frame']").val();
  
        if(jQuery('#img_preview').attr("src")!=""){
  
            var top=(jQuery('#preview_area').height()-jQuery('#img_preview').height())/2;
            var left=(jQuery('#preview_area').width()-jQuery('#img_preview').width())/2;

            jQuery('#frame_png').attr('style',"top:"+top+"px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px; height:"+jQuery('#img_preview').height()+"px;");

            if(frame_id==1){
                jQuery('#frame_png').attr('src',"<?php echo $this->getSkinUrl('images/empty-frame.png');?>");

                if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){
                      jQuery('#frame'+id11).val('black_frame');
                }else{
                      jQuery('<input>').attr({
                                            type: 'hidden',
                                            id: 'frame'+id11,
                                            name: 'frame'+id11,
                                            value: 'black_frame'
                                        }).appendTo('#hidden_dynamic_fields');
                }

               jQuery('#form_canvas_frame').html('black_frame');

                }else if(frame_id==2){
                    jQuery('#frame_png').attr('src',"<?php echo $this->getSkinUrl('images/photo_frame.png');?>");

                  if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){

                      jQuery('#frame'+id11).val('brown_frame');

                  }else{
                      jQuery('<input>').attr({
                              type: 'hidden',
                              id: 'frame'+id11,
                              name: 'frame'+id11,
                              value: 'brown_frame'
                          }).appendTo('#hidden_dynamic_fields');
                  }

              jQuery('#form_canvas_frame').html('brown_frame');

                }else if(frame_id==3){
                    
                    jQuery('#frame_png').attr('src',"<?php echo $this->getSkinUrl('images/photo_frame.png');?>");

                  if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){
    
                        jQuery('#frame'+id11).val('strached_canvas_frame');

                  }else{
                        jQuery('<input>').attr({
                                              type: 'hidden',
                                              id: 'frame'+id11,
                                              name: 'frame'+id11,
                                              value: 'strached_canvas_frame'
                                          }).appendTo('#hidden_dynamic_fields');
                  }

              jQuery('#form_canvas_frame').html('strached_canvas_frame');

            }else{

                jQuery('#frame_png').attr('src','');

              if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){

                  jQuery('#frame'+id11).val('no_frame');

              }else{

                  jQuery('<input>').attr({
                                        type: 'hidden',
                                        id: 'frame'+id11,
                                        name: 'frame'+id11,
                                        value: 'no_frame'
                                    }).appendTo('#hidden_dynamic_fields');

              }

                jQuery('#form_canvas_frame').html('no_frame');

            }
   
        }else{
          jQuery(this).removeAttr('checked');
          alert("please select image");
        }
    }

  if (size === undefined || size === null && type === undefined || type === null) {

        jQuery(".radio").prop("checked", false); 

  }else{

     size=size.replace(/\s/g, '');
     size=size.replace('*', '');

     jQuery("#"+size+type).prop("checked", true); 

     var contentId = jQuery("#"+size+type).siblings("input[name='size']").val();

     var value=contentId.split("*");
     var height=value[0].trim();
     var width=value[1].trim();
     var newht= (parseInt(height)*96)/11.86;
     var newwdth= (parseInt(width)*96)/11.86;
     jQuery('#preview_area').height(newht);
     jQuery('#preview_area').width(newwdth);
     jQuery('#preview_area').css('margin-top',(350-newht)/2);


    var image = new Image();
      image.src = jQuery('#img_preview').attr("src");
        var imageht=image.naturalHeight;
        var imagewdt=image.naturalWidth;

  if(parseInt(newwdth/newht)>parseInt(imagewdt/imageht)){
          jQuery('#img_preview').attr("style","height:100%;");

      var left=(newwdth-jQuery('#img_preview').width())/2;

          jQuery('#frame_png').attr("style","height:100%; top:0px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px;");

  }else{
          jQuery('#img_preview').attr("style","width:100%;");
      var margin=(newht-jQuery('#img_preview').height())/2;

      if(margin>0){
          jQuery('#img_preview').attr("style","width:100%;margin-top:"+margin+"px;");

          jQuery('#frame_png').attr("style","left:0px; top:"+margin+"px; width:100%; height:"+jQuery('#img_preview').height()+"px;");

      }else{

          jQuery('#img_preview').attr("style","height:100%;");

             var left=(newwdth-jQuery('#img_preview').width())/2;

          jQuery('#frame_png').attr("style","height:100%; top:0px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px;");

      }
    
  }

imageht=0;
imagewdt=0;
newwdth=0;
newht=0;
height=0;
width=0;
jQuery('.form_size_price').html('Rs. '+value[3]);
jQuery('#form_canvas_size').html(value[0]+' * '+value[1]);
jQuery('#form_canvas_type2').html(value[2]);

}



var image = new Image();
image.src = jQuery('.activeimage').children('img').attr("src");
image.onload = function() {
console.log('height: ' + this.height);
var image_aspect_ratio=this.width/this.height;
console.log(image_aspect_ratio);

jQuery('#loader').modal('hide');

jQuery('#product-review-table tr').removeClass("recommended");

jQuery.each(sizes_obj, function( index, value ) {
  value=value.replace('"', '');
  value=value.replace(/\s/g, ''); 
  value=value.replace('"', '');
  var value = value.split("*");
   asp_ratio=parseInt(value[1])/parseInt(value[0]);
   
  if( asp_ratio >= (image_aspect_ratio-0.2) && asp_ratio <= (image_aspect_ratio+0.2)){
 
    jQuery('#'+value[0]+value[1]+value[2]).closest('tr').addClass('recommended');

  }
});




 
};

}

}); 

jQuery('#recomandation_img').attr('style','Display:none;')
// code for size show

jQuery(".radio").change(function () {
  
  var contentId = jQuery(this).siblings("input[name='size']").val();
  var value=contentId.split("*");
  var height=value[0].trim();
    var width=value[1].trim();
    var newht= (parseInt(height)*96)/11.86;
    var newwdth= (parseInt(width)*96)/11.86;
   jQuery('#preview_area').height(newht);
   jQuery('#preview_area').width(newwdth);
   jQuery('#preview_area').css('margin-top',(350-newht)/2);
var image = new Image();
image.src = jQuery('#img_preview').attr("src");
  var imageht=image.naturalHeight;
  var imagewdt=image.naturalWidth;
  if(parseInt(newwdth/newht)>parseInt(imagewdt/imageht)){
    jQuery('#img_preview').attr("style","height:100%;");
    var left=(newwdth-jQuery('#img_preview').width())/2;
    jQuery('#frame_png').attr("style","height:100%; top:0px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px;");
  }else{
    jQuery('#img_preview').attr("style","width:100%;");
    var margin=(newht-jQuery('#img_preview').height())/2;
    if(margin>0){
      jQuery('#img_preview').attr("style","width:100%;margin-top:"+margin+"px;");
      jQuery('#frame_png').attr("style","left:0px; top:"+margin+"px; width:100%; height:"+jQuery('#img_preview').height()+"px;");
    }else{
      jQuery('#img_preview').attr("style","height:100%;");
      var left=(newwdth-jQuery('#img_preview').width())/2;
      jQuery('#frame_png').attr("style","height:100%; top:0px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px;");
    }
    
  }

imageht=0;
imagewdt=0;
newwdth=0;
newht=0;
height=0;
width=0;

var id11=jQuery('.activeimage').children('img').attr("alt");
   var id1=parseInt(id11)-1;
if(jQuery('#size'+id11).length > 0 && jQuery('#size'+id11).val() != ''){
    jQuery('#size'+id11).val(value[0]+' * '+value[1]);
    jQuery('#type'+id11).val(value[2]);
    jQuery('#size_price'+id11).val(value[3]);
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'size'+id11,
                        name: 'size'+id11,
                        value: value[0]+' * '+value[1]
                    }).appendTo('#hidden_dynamic_fields');
    jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'type'+id11,
                        name: 'type'+id11,
                        value: value[2]
                    }).appendTo('#hidden_dynamic_fields');
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'size_price'+id11,
                        name: 'size_price'+id11,
                        value: value[3]
                    }).appendTo('#hidden_dynamic_fields');
}
jQuery('.form_size_price').html('Rs. '+value[3]);
jQuery('#form_canvas_size').html(value[0]+' * '+value[1]);
jQuery('#form_canvas_type2').html(value[2]);

if(jQuery('#view'+id11).length > 0 && jQuery('#view'+id11).val() != ''){
    jQuery('#view'+id11).val('Landscape');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'view'+id11,
                        name: 'view'+id11,
                        value: 'Landscape'
                    }).appendTo('#hidden_dynamic_fields');
  jQuery('#form_img_view').html('Landscape');
}

jQuery('#recomandation_img').attr('style','Display:inline-block;')

if(jQuery(this).closest('tr').hasClass('recommended')){
  jQuery('#recomandation_img').attr("src", "<?php echo $this->getSkinUrl('images/images/good_quality.png');?>");
}else{
  jQuery('#recomandation_img').attr("src", "<?php echo $this->getSkinUrl('images/images/poor_quality.png');?>");
}

  });



jQuery(".radio1").on('change',function () {
  if(jQuery('#img_preview').attr("src")!=""){
var id11=jQuery('.activeimage').children('img').attr("alt");
   var id1=parseInt(id11)-1;

    
  var top=(jQuery('#preview_area').height()-jQuery('#img_preview').height())/2;
  var left=(jQuery('#preview_area').width()-jQuery('#img_preview').width())/2;
  jQuery('#frame_png').attr('style',"top:"+top+"px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px; height:"+jQuery('#img_preview').height()+"px;");
   var frame_id = jQuery(this).siblings("input[name='frame']").val();
    if(frame_id==1){
       jQuery('#frame_png').attr('src',"<?php echo $this->getSkinUrl('images/empty-frame.png');?>");

if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){
    jQuery('#frame'+id11).val('black_frame');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'frame'+id11,
                        name: 'frame'+id11,
                        value: 'black_frame'
                    }).appendTo('#hidden_dynamic_fields');
}


jQuery('#form_canvas_frame').html('black_frame');

     }else if(frame_id==2){
       jQuery('#frame_png').attr('src',"<?php echo $this->getSkinUrl('images/photo_frame.png');?>");

if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){
    jQuery('#frame'+id11).val('brown_frame');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'frame'+id11,
                        name: 'frame'+id11,
                        value: 'brown_frame'
                    }).appendTo('#hidden_dynamic_fields');
}


jQuery('#form_canvas_frame').html('brown_frame');

     }else if(frame_id==3){
        jQuery('#frame_png').attr('src',"<?php echo $this->getSkinUrl('images/photo_frame.png');?>");

if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){
    jQuery('#frame'+id11).val('strached_canvas_frame');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'frame'+id11,
                        name: 'frame'+id11,
                        value: 'strached_canvas_frame'
                    }).appendTo('#hidden_dynamic_fields');
}

jQuery('#form_canvas_frame').html('strached_canvas_frame');

     }else{
        jQuery('#frame_png').attr('src','');

if(jQuery('#frame'+id11).length > 0 && jQuery('#frame'+id11).val() != ''){
    jQuery('#frame'+id11).val('no_frame');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'frame'+id11,
                        name: 'frame'+id11,
                        value: 'no_frame'
                    }).appendTo('#hidden_dynamic_fields');
}

jQuery('#form_canvas_frame').html('no_frame');


     }
   
  }else{
    jQuery(this).removeAttr('checked');
    alert("please select image");
  }
  
});

jQuery('#original').click(function(){

  var id11=jQuery('.activeimage').children('img').attr("alt");
  var original_src=jQuery('.activeimage').children('img').attr("src");
  var id1=parseInt(id11)-1;
  var object=canvasarr[id1].getActiveObject();

  canvasarr[id1].remove(canvasarr[id1].getActiveObject());

   var imgObj = new Image();
        imgObj.src = original_src;
        imgObj.onload = function () {
            // start fabricJS stuff
            
            var image = new fabric.Image(imgObj);
             image.set({
                    left: 0,
                    top: 0, 
                });
             
            canvas.add(image);
            canvas.setActiveObject(canvas.item(0));
             var object=canvas.getActiveObject();
            var filter = new fabric.Image.filters.Brightness({brightness:0
            });
            object.filters.push(filter);
            object.applyFilters(canvas.renderAll.bind(canvas));
            var filter1 = new fabric.Image.filters.Tint({
              color: '#000000',
              opacity: 0.0
            });
            object.filters.push(filter1);
            object.applyFilters(canvas.renderAll.bind(canvas));
            
            jQuery('#process_img_temp_view').attr('src', jQuery('.activeimage').children('img').attr("src"));
          }
});






















jQuery('#portrait_view').click(function(){
 

  var contentId = jQuery("input[name='heightwidthroll']:checked").siblings("input[name='size']").val();
  var value=contentId.split("*");
  var width=value[0].trim();
    var height=value[1].trim();
    var newht= (parseInt(height)*96)/11.86;
    var newwdth= (parseInt(width)*96)/11.86;
   jQuery('#preview_area').height(newht);
   jQuery('#preview_area').width(newwdth);

   if(((350-newht)/2)>0){
    jQuery('#preview_area').css('margin-top',(350-newht)/2);
  }else{
    jQuery('#preview_area').css('margin-top','5px');
  }
   
var image = new Image();
image.src = jQuery('#img_preview').attr("src");
  var imageht=image.naturalHeight;
  var imagewdt=image.naturalWidth;
  if(parseInt(newwdth/newht)>parseInt(imagewdt/imageht)){
    jQuery('#img_preview').attr("style","height:100%;");
    var left=(newwdth-jQuery('#img_preview').width())/2;
    jQuery('#frame_png').attr("style","height:100%; top:0px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px;");
  }else{
    jQuery('#img_preview').attr("style","width:100%;");
    var margin=(newht-jQuery('#img_preview').height())/2;
    if(margin>0){
      jQuery('#img_preview').attr("style","width:100%;margin-top:"+margin+"px;");
      jQuery('#frame_png').attr("style","left:0px; top:"+margin+"px; width:100%; height:"+jQuery('#img_preview').height()+"px;");
    }else{
      jQuery('#img_preview').attr("style","height:100%;");
      var left=(newwdth-jQuery('#img_preview').width())/2;
      jQuery('#frame_png').attr("style","height:100%; top:0px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px;");
    }
    
  }

imageht=0;
imagewdt=0;
newwdth=0;
newht=0;
height=0;
width=0;

var id11=jQuery('.activeimage').children('img').attr("alt");
   var id1=parseInt(id11)-1;
if(jQuery('#view'+id11).length > 0 && jQuery('#view'+id11).val() != ''){
    jQuery('#view'+id11).val('portrait');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'view'+id11,
                        name: 'view'+id11,
                        value: 'portrait'
                    }).appendTo('#hidden_dynamic_fields');
}
jQuery('#form_img_view').html('portrait');

});

jQuery('#Landscape_view').click(function(){

  var contentId = jQuery("input[name='heightwidthroll']:checked").siblings("input[name='size']").val();
  var value=contentId.split("*");
  var height=value[0].trim();
    var width=value[1].trim();
    var newht= (parseInt(height)*96)/11.86;
    var newwdth= (parseInt(width)*96)/11.86;
   jQuery('#preview_area').height(newht);
   jQuery('#preview_area').width(newwdth);
   jQuery('#preview_area').css('margin-top',(350-newht)/2);
var image = new Image();
image.src = jQuery('#img_preview').attr("src");
  var imageht=image.naturalHeight;
  var imagewdt=image.naturalWidth;
  if(parseInt(newwdth/newht)>parseInt(imagewdt/imageht)){
    jQuery('#img_preview').attr("style","height:100%;");
    var left=(newwdth-jQuery('#img_preview').width())/2;
    jQuery('#frame_png').attr("style","height:100%; top:0px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px;");
  }else{
    jQuery('#img_preview').attr("style","width:100%;");
    var margin=(newht-jQuery('#img_preview').height())/2;
    if(margin>0){
      jQuery('#img_preview').attr("style","width:100%;margin-top:"+margin+"px;");
      jQuery('#frame_png').attr("style","left:0px; top:"+margin+"px; width:100%; height:"+jQuery('#img_preview').height()+"px;");
    }else{
      jQuery('#img_preview').attr("style","height:100%;");
      var left=(newwdth-jQuery('#img_preview').width())/2;
      jQuery('#frame_png').attr("style","height:100%; top:0px; left:"+left+"px; width:"+jQuery('#img_preview').width()+"px;");
    }
    
  }

imageht=0;
imagewdt=0;
newwdth=0;
newht=0;
height=0;
width=0;

var id11=jQuery('.activeimage').children('img').attr("alt");
   var id1=parseInt(id11)-1;
if(jQuery('#view'+id11).length > 0 && jQuery('#view'+id11).val() != ''){
    jQuery('#view'+id11).val('Landscape');
}else{
  jQuery('<input>').attr({
                        type: 'hidden',
                        id: 'view'+id11,
                        name: 'view'+id11,
                        value: 'Landscape'
                    }).appendTo('#hidden_dynamic_fields');
  jQuery('#form_img_view').html('Landscape');
}



});







jQuery('#addtocart').click(function(){

var id1=jQuery('.activeimage').children('img').attr("alt");
 //  var id1=parseInt(id11)-1;

   if(id1.length > 0 && id1 != ''){


       
       var category_id= jQuery("input[name='category_id']").val();
        var order_type= jQuery("input[name='order_type']").val();
        var prj_name= jQuery("input[name='prj_name']").val();
        var prj_comments= jQuery("textarea[name='prj_comments']").val();
        var canvas_type= jQuery("input[name='canvas_type"+id1+"']").val();
        var order_size= jQuery("input[name='size"+id1+"']").val();
        var type= jQuery("input[name='type"+id1+"']").val();
        var frame= jQuery("input[name='frame"+id1+"']").val();
        var view= jQuery("input[name='view"+id1+"']").val();
        var sku= jQuery("input[name='sku']").val();
        //effects
        var grayscale= jQuery("input[name='grayscale"+id1+"']").val();
        var invert= jQuery("input[name='invert"+id1+"']").val();
        var sepia= jQuery("input[name='sepia"+id1+"']").val();
        var sepia2= jQuery("input[name='sepia2"+id1+"']").val();
        var emboss= jQuery("input[name='emboss"+id1+"']").val();
        var blend= jQuery("input[name='blend"+id1+"']").val();
        //prices
        var size_price= jQuery("input[name='size_price"+id1+"']").val();
        var effects_price= 0.00;
        var extra_cost= 0.00;

        var original_img=jQuery('.activeimage').children('img').attr("src");
        var edited_img=jQuery("#edited_form_img").attr('src');
 alert(size_price);
 alert(effects_price);
alert(extra_cost);
        


if(original_img.length > 0 && original_img != '' && edited_img.length > 0 && edited_img != ''){

       /*if(category_id.length > 0 && category_id != '' && order_type.length > 0 && order_type != '' && prj_name.length > 0 && prj_name != '' && prj_comments.length > 0 && prj_comments != '' && canvas_type.length > 0 && canvas_type != '' && order_size.length > 0 && order_size != '' && type.length > 0 && type != '' && frame.length > 0 && frame != '' && view.length > 0 && view != '' && sku.length > 0 && sku != '' && size_price.length > 0 && size_price != '' && effects_price.length > 0 && effects_price != '' && extra_cost.length > 0 && extra_cost != ''){*/

          if(grayscale != ''){
            grayscale=true;
          }else{
            grayscale=false;
          }
          if( invert != ''){
            invert=true;
          }else{
            invert=false;
          }
          if(sepia != ''){
            sepia=true;
          }else{
            sepia=false;
          }
          if(sepia2 != ''){
            sepia2=true;
          }else{
            sepia2=false;
          }
          if( emboss != ''){
            emboss=true;
          }else{
            emboss=false;
          }
          if( blend != ''){
            blend=true;
          }else{
            blend=false;
          }
          
          jQuery.ajax({
                    type : "POST",
                    url : "<?php echo Mage::getBaseUrl();?>/mymodule/index/imageupload",
                    data : {
                      category_id: category_id,
                      order_type: order_type,
                      prj_name: prj_name,
                      prj_comments: prj_comments,
                      canvas_type: canvas_type,
                      size: order_size,
                      type: type,
                      frame: frame,
                      view: view,
                      sku: sku,
                      grayscale: grayscale,
                      invert: invert,
                      sepia: sepia,
                      sepia2: sepia2,
                      emboss: emboss,
                      blend: blend,
                      size_price: size_price,
                      effects_price: effects_price,
                      extra_cost: extra_cost,
                      originalimg: original_img,
                      editedimg: edited_img
                    },
                    beforeSend : function() {
                         // $(".post_submitting").show().html("<center><img src='images/loading.gif'/></center>");
                    },
                    success : function(response) {
                     //   alert(response);
                     //   $("#return_update_msg").html(response);
                     //   $(".post_submitting").fadeOut(1000);
                    }
                });





      /*  }else{
          alert('please perform all operations!..');
        }*/

   }else{
    alert('please select at least one image');
   }
      } 

});



});
</script>


<!-- marquee content -->
<div class="row">
    <marquee style="margin: 10px;">"FREE DELIVERY ACROSS INDIA FOR LIMITED PERIOD."</marquee>
</div>



<!-- loading Modal -->
<div id="loader" class="modal fade" role="dialog" data-backdrop="static"
   data-keyboard="false" >
  <div class="modal-dialog" style="width:170px;">
    <!-- Modal content-->
    <div class="modal-content" style="text-align:center;">
        <div class="modal-body">      
            <!-- steps header -->
            <img src="<?php echo $this->getSkinUrl('images/images/pIkfp.gif');?>">
            <p>Please wait...</p>
        </div>
    </div>
 </div>
</div>
<!-- steps header -->
<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p>Upload Image</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>Process Image</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle sizeclass" disabled="disabled">3</a>
            <p>Frames</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
            <p>Extra Corrections</p>
        </div>
    </div>
</div>

<!-- Image preview section for upload tab -->
  <div class="row setup-content" id="step-1">
    <div class="col-xs-12">
    <!-- image preview section -->
    <div class="col-xs-9" style="height:500px; border: 1px solid rgb(128, 144, 160); margin: 0px; padding: 0px; position:relative;">
    <!-- Section for tabs of Image Options -->
    <div class="tab-content">
        <!-- tab for single frame -->
        <div id="single" class="tab-pane fade in active" style="height:100%; width:100%;">
            <div style="width: 350px; height: auto; margin: 10px auto;
    box-shadow: 10px 10px 5px #888888;">
                <img id="singlefrm" src="<?php echo $this->getSkinUrl('images/images/singlefrm.jpg');?>" width="100%" height="100%">
            </div>            
        </div>
        <!-- End of single frame tab -->
        <!-- tab for threefrm frame -->
        <div id="3frame" class="tab-pane fade" style="height:100%; width:100%;">
            <div style="width: 500px;height: auto;margin: 8% auto;">
                <div style="width: 31%; height: auto; margin-right: 10px; display: inline-block; float: left; box-shadow: 10px 10px 5px #888888;">
                    <img id="onefrm3" src="<?php echo $this->getSkinUrl('images/images/onefrm3.png');?>" width="100%" height="100%">
                </div>
                <div style="width: 31%; height: auto; margin-right: 10px; display: inline-block; float: left; box-shadow: 10px 10px 5px #888888;">
                    <img id="twofrm3" src="<?php echo $this->getSkinUrl('images/images/twofrm3.png');?>" width="100%" height="100%">
                </div>
                <div style="width: 31%; height: auto; margin-right: 10px; display: inline-block; float: left; box-shadow: 10px 10px 5px #888888;">
                    <img id="threefrm3" src="<?php echo $this->getSkinUrl('images/images/threefrm3.png');?>" width="100%" height="100%">
                </div>
            </div>
        </div>
        <!-- End of threefrm frame tab -->
        <!-- tab for fivefrm frame -->
        <div id="5frame" class="tab-pane fade" style="height:100%; width:100%;">
            <div style="width: 700px;height: auto;margin: 3% auto;">
                <div style="width: 18%; height: auto; margin-right: 15px; display: inline-block; float: left; box-shadow: 10px 10px 5px #888888;">
                    <img id="onefrm5" src="<?php echo $this->getSkinUrl('images/images/onefrm5.png');?>" width="100%" height="100%">
                </div>
                <div style="width: 18%; height: auto; margin-right: 15px; display: inline-block; float: left; box-shadow: 10px 10px 5px #888888;">
                    <img id="twofrm5" src="<?php echo $this->getSkinUrl('images/images/twofrm5.png');?>" width="100%" height="100%">
                </div>
                <div style="width: 18%; height: auto; margin-right: 15px; display: inline-block; float: left; box-shadow: 10px 10px 5px #888888;">
                    <img id="threefrm5" src="<?php echo $this->getSkinUrl('images/images/threefrm5.png');?>" width="100%" height="100%">
                </div> 
                <div style="width: 18%; height: auto; margin-right: 15px; display: inline-block; float: left; box-shadow: 10px 10px 5px #888888;">
                    <img id="fourfrm5" src="<?php echo $this->getSkinUrl('images/images/fourfrm5.png');?>" width="100%" height="100%">
                </div>
                <div style="width: 18%; height: auto; display: inline-block; float: left; box-shadow: 10px 10px 5px #888888;">
                    <img id="fivefrm5" src="<?php echo $this->getSkinUrl('images/images/fivefrm5.png');?>" width="100%" height="100%">
                </div>
            </div>
        </div>
        <!-- End of fivefrm frame tab -->
    </div>
    <!-- End Of tabs of Image Options -->
    </div>
        <!-- image options section -->
        <div class="col-xs-3 nav nav-tabs" style="height:500px;
        position:relative;">
         <div id="sidebar" class="well sidebar-nav">
          <div class="list-group">
            <div class="row active" style="padding:5px; border-bottom: 1px solid #bdc3c7; margin: 5px;">
                <a data-toggle="tab" href="#single">
                  <div class="col-xs-4 ">
                      <img src="<?php echo $this->getSkinUrl('images/images/singlefrm.jpg');?>" width="60px" height="30px">  
                  </div>
                  <div class="col-xs-8">
                        Single Frame
                  </div>
                </a>
            </div>
            <div class="row " style="border-bottom: 1px solid #bdc3c7; padding:5px;  margin: 5px;">
                <a data-toggle="tab" href="#3frame">
                  <div class="col-xs-4">
                        <img src="<?php echo $this->getSkinUrl('images/images/95815_2560x1440.jpg');?>" width="60px" height="30px">
                  </div>
                  <div class="col-xs-8">
                        Three Frame
                  </div>
                </a>
            </div>
            <div class="row" style="border-bottom: 1px solid #bdc3c7; padding: 5px; margin: 5px;">
                <a data-toggle="tab" href="#5frame">
                  <div class="col-xs-4">
                        <img src="<?php echo $this->getSkinUrl('images/images/1920x1080_786967.jpg');?>" width="60px" height="30px">
                  </div>
                  <div class="col-xs-8">
                        Five Frame
                  </div>
                </a>
            </div>
            <!-- Next Button -->
            <div class="row" style="position:absolute; bottom:0px;     margin-left: 30px; width:100%">
                <div class="col-md-5" style="padding: 0px; border: 1px solid rgb(135, 129, 129); border-radius: 8px; margin: 5px auto; text-align: center;">
                     <a class="uploadimg"><img src="<?php echo $this->getSkinUrl('images/images/cloud305.png');?>" />
                        <p>Upload Image</p>
                     </a>
                    <!-- this is your file input tag, so i hide it!-->
                    <div style='height: 0px;width:0px; overflow:hidden;'><input id="upfile" type="file" value="upload"/></div>
                </div>
                <div class="col-md-5">
                    <button class="btn btn-default nextBtn btn-lg pull-right" type="button" style="width: 100%; height: 100px; margin-top: 6px;" >Next</button>
                </div>                                
            </div>
          </div>
         </div>
        </div>
        <!-- End of Image Option -->
    </div>
  </div>

<!-- Image preview section for Process Image tab -->
  <div class="row setup-content" id="step-2">
    <div class="col-xs-12">
        <!-- image preview section -->
        <div class="col-xs-9" id="canvasprocessimage" style="height:500px; border: 1px solid rgb(128, 144, 160); margin: 0px auto; padding: 0px; position:relative;">
          <div id="process_img_temp_view_div" style="">
            <img src="" id="process_img_temp_view" style="width: 500px;">
          </div>
        
        </div>
        <!-- image options section -->
        <div id="image_tool" class="col-xs-3" style="margin:0px;">
           <div id="sidebar" class="well sidebar-nav" style="margin:0px;">
              <div class="list-group" style="margin:0px;">
                <div class="form-group">
                  <label for="username" class="control-label">Brightness:</label>
                  <input type="range" id="controls" value="0" min="0" max="200" maxlength="3">
                </div> 
                <div class="form-group">
                  <label for="username" class="control-label">Contrast:</label>
                  <input type="range" id="controls1" value="0" min="0" max="99" maxlength="3">
                </div>
                <div class="row">
                    <div class="col-lg-12" style="text-align:center;margin: 10px 0px;">
                        <a id="cropB" href="#" class="btn btn-sq btn-primary">
                            <i class="fa fa-crop fa-5x"></i><br/>
                            Crop
                        </a>
                    <div class="btn-group show-on-hover new" style="display:inline-block !important;" >
                        <a href="#" class="btn btn-sq btn-success dropdown-toggle" data-toggle="dropdown" style="display:inline-block !important;" >
                        <i class="fa fa-file-image-o fa-5x"></i><br/>
                            Effects
                        </a>
            <ul class="dropdown-menu" role="menu" style=" width: 500px; right: 0px; left: auto;">
            <ul class="list-unstyled video-list-thumbs row">
              <li class="col-lg-4 col-sm-4 col-xs-6">
                <a id="grayscale" href="#" >
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                  <h2>Grayscale</h2>
                </a>
              </li>
              <li class="col-lg-4 col-sm-4 col-xs-6">
                <a id="invert" href="#" >
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                  <h2>Invert</h2>
                </a>
              </li>
              <li class="col-lg-4 col-sm-4 col-xs-6">
                <a id="sepiya" href="#" >
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                  <h2>Sepia</h2>
                </a>
              </li>
              <li class="col-lg-4 col-sm-4 col-xs-6">
                <a id="sepiya2" href="#" >
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                  <h2>Sepia2</h2>
                </a>
              </li>
              <li class="col-lg-4 col-sm-4 col-xs-6">
                <a id="emboss" href="#" >
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                  <h2>Emboss</h2>
                </a>
              </li>
              <li class="col-lg-4 col-sm-4 col-xs-6">
                <a id="blend" href="#" >
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                  <h2>Blend</h2>
                </a>
              </li>
            </ul>
            </ul>
        </div>
        </div>
      </div>
      <div class="row new" style="width:100%;">
        <a id="original" href="#" class="btn btn-sq btn-info dropdown-toggle" data-toggle="dropdown" style="display:inline-block !important; width:100%!important;">
            <i class="fa fa-undo fa-5x"></i><br/>
            Original image
        </a>
      </div>
      <div class="row" style="text-align:center;margin-top: 20px;">
        <a class="btn nextBtn btn-default btn-lg sizeclass" style="width: 100%;">Save & Next</a>
      </div>
      </div>
    </div>
        </div>
    </div>
  </div>

<!-- Image preview section for Frames tab -->
  <div class="row setup-content" id="step-3">
    <div class="col-xs-12">
           

<div class="col-xs-9" id="canvasprocessimage" style="height:500px; border: 1px solid rgb(128, 144, 160); margin: 0px auto; padding: 0px; position:relative; background-image: url('http://www.3dhousedownload.com/wp-content/uploads/2013/06/Rendering-red-sofa-with-pink-wall.jpg'); background-size: cover;">
        
<div id="preview_area" style="">
     <img src="http://www.3dhousedownload.com/wp-content/uploads/2013/06/Rendering-red-sofa-with-pink-wall.jpg" id="img_preview" style="width: 100%; height: 100%;">
     <img src="" width="100%" height="100%" id="frame_png" style="display:none;" class="frame_class" >
</div>

<img src="" id="recomandation_img" style="">

</div>


 <div id="image_tool" class="col-xs-3" style="height:500px;">
   <div id="sidebar" class="well sidebar-nav" style="padding:0px;" >
      <div class="list-group">
        <h3 style="margin:5px;">Choose Size</h3>
        <div style="height: 300px;overflow-y: scroll;overflow-x: hidden;">
        <table class="data-table" id="product-review-table">          
        <thead>
          <tr>
            <th width="30%"><span class="nobr">Size</span></th>
            <th width="20%"><span class="nobr">Rolled</span><br>
              <img src="<?php echo $this->getSkinUrl('images/rolled1.png');?>" width="40px" 
              height="40px">
            </th>
            <th width="20%"><span class="nobr">Streched</span><br>
              <img src="<?php echo $this->getSkinUrl('images/streched1.png');?>" width="40px" 
              height="40px">
            </th>
          </tr>
        </thead>
        <tbody style="font-size: 12px;" > 
<?php
         $_category  = $this->getCurrentCategory();
        $collection = Mage::getModel('catalog/category')->getCategories

($_category->entity_id);
        $helper     = Mage::helper('catalog/category');
    ?>
  
    <?php foreach ($collection as $cat):?>


        <tr id="12x12" >     
                  <td class="value" style="padding: 15px 5px;"><?php echo 

$cat->getName();?></td>
                  <?php $childLevel2Category = Mage::getModel

('catalog/category')->getCategories($cat->entity_id); ?>
                  <?php foreach ($childLevel2Category as $catLevel2) { ?>



        <?php $chcategory=Mage::getModel('catalog/category')->load($catLevel2->getId());?>




                    <td class="value" style="text-align:center;  ">
                      <input type="radio" name="heightwidthroll" id="<?php 

echo str_replace(' ','',str_replace('"','',str_replace('*', '', $cat->getName())));?><?php echo 

$chcategory->getName();?>" class="radio" style="height: 20px;width: 

20px;border: 1px solid #B01414;border-radius: 50%;" value="12*12 Rolled ; 

400"><input type="hidden" name="size" value="<?php echo 

str_replace(' ','',str_replace('"','',$cat->getName()));?>*<?php echo 

$chcategory->getName();?>*<?php echo $chcategory->getDescription

();?>"/> Rs. <?php echo $chcategory->getDescription

();?>
                     </td> 
                  <?php } ?>

                    </tr>
        
<?php endforeach;?>
    </tbody>
  </table>
</div>


    <div class="row" style="margin-top: 13px; width:100%; text-align:center;">
      <div class="btn-group show-on-hover new" style="display:inline-block !important;">
        <a href="#" class="btn btn-sq btn-info dropdown-toggle" data-toggle="dropdown" style="display:inline-block !important;">
            <i class="fa fa-film fa-5x"></i><br/>
            Frames
        </a>

        <ul class="dropdown-menu" role="menu" style="width: 650px; left: auto;right: 0px;">
            <ul class="list-unstyled video-list-thumbs row">
              <li class="col-lg-3 col-sm-4 col-xs-6">
                <a >
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg"  class="img-responsive" height="130px" />
                  <h2 style="height: 35px;" ><input type="radio" name="frame_radio" id="black_frame" value="images/empty-frame.png" class="radio1"><input type="hidden" value="1" name="frame">&nbsp&nbsp&nbspBlack Frame</h2>
                </a>
              </li>
              <li class="col-lg-3 col-sm-4 col-xs-6">
                <a >
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                  <h2 style="height: 35px;"><input type="radio" name="frame_radio" id="brown_frame" value="images/empty-frame.png" class="radio1"><input type="hidden" value="2" name="frame">&nbsp&nbsp&nbspBrown Frame</h2>
                </a>
              </li>
              <li class="col-lg-3 col-sm-4 col-xs-6">
                <a>
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                  <h2 style="height: 35px;"><input type="radio" name="frame_radio" id="strached_canvas_frame" value="images/empty-frame.png" class="radio1"><input type="hidden" value="3" name="frame">&nbsp&nbsp&nbspStarched Canvas frame</h2>
                </a>
              </li>
              <li class="col-lg-3 col-sm-4 col-xs-6">
                <a >
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                  <h2 style="height: 35px;"><input type="radio" name="frame_radio" id="no_frame" value="images/empty-frame.png" class="radio1"><input type="hidden" value="0" name="frame">&nbsp&nbsp&nbspNo Frame</h2>
                </a>
              </li>
            </ul>
            </ul>
          </div>
          <div class="btn-group show-on-hover new" style="display:inline-block !important;">
        <a href="#" class="btn btn-sq btn-info dropdown-toggle" data-toggle="dropdown" style="display:inline-block !important;">
            <i class="fa fa-eye fa-5x"></i><br/>
            views
        </a>

        <ul class="dropdown-menu" role="menu" style="width: 320px; left: auto;right: 0px;">
            <ul class="list-unstyled video-list-thumbs row">
              <li class="col-lg-6 col-sm-6 col-xs-6">
                <a id="Landscape_view">
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg"  class="img-responsive" height="130px" />
                  <h2 style="height: 35px;" >Landscape</h2>
                </a>
              </li>
              <li class="col-lg-6 col-sm-6 col-xs-6">
                <a id="portrait_view"> 
                  <img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                  <h2 style="height: 35px;">portrait</h2>
                </a>
              </li>
            </ul>
            </ul>
          </div>
      </div>
      
      <div class="row" style="text-align:center;margin-top: 10px;">
        <a class="btn nextBtn btn-default btn-lg" style="width: 100%;">Next</a>
      </div>
      </div>
    </div>
  </div>
    </div>
  </div>

<!-- Image preview section for Extra Corrections tab -->
  <div class="row setup-content" id="step-4">
    <div class="col-xs-12" style="height:500px;">
<form id="custom_product_form" >
  <div id="hidden_dynamic_fields" style="display:none;">
    <input type="hidden" name="category_id" value="<?php echo $_category->getId();?>">
    <input type="hidden" name="order_type" value="<?php echo $_category->getName();?>">
  </div>
<div class="row">
  <div class="col-md-2" style="height: 140px;padding: 10px;border: 1px solid black;overflow: hidden;" >
    <img src="" id="selected_form_img" height="100px" width="100%">
    <p style="text-align: center;" >Selected Image</p>
  </div> 
  <div class="col-md-4" style="height: 140px;padding: 10px;border: 1px solid black;overflow: hidden;">
      <div class="row"> 
        <label class="control-label" style="display:inline-block;" >Canvas type: &nbsp&nbsp</label>
        <div id="form_canvas_type" style="font-weight: 800;font-size: 20px;display: inline-block;"></div>
      </div>
      <div class="row"> 
        <label class="control-label" style="display:inline-block;" >Size : &nbsp&nbsp</label>
        <div id="form_canvas_size" style="font-weight: 800;font-size: 20px;display: inline-block;"></div>
      </div>
      <div class="row"> 
        <label class="control-label" style="display:inline-block;" > type: &nbsp&nbsp</label>
        <div id="form_canvas_type2" style="font-weight: 800;font-size: 20px;display: inline-block;"></div>
      </div>
      <div class="row"> 
        <label class="control-label" style="display:inline-block;" > frame : &nbsp&nbsp</label>
        <div id="form_canvas_frame" style="font-weight: 800;font-size: 20px;display: inline-block;"></div>
      </div>
  </div>
  <div class="col-md-4" style="height: 140px;padding: 10px;border: 1px solid black;overflow: hidden;">
      <div class="row"> 
        <label class="control-label" style="display:inline-block;" >Effects added: &nbsp&nbsp</label>
        <div id="form_effects_list" style="font-weight: 800;font-size: 15px;display: inline-block;"></div>
      </div>
      <div class="row"> 
        <label class="control-label" style="display:inline-block;" >Price: &nbsp&nbsp</label>
        <div class="form_size_price" style="font-weight: 800;font-size: 15px;display: inline-block;"></div>
      </div>
      <div class="row"> 
        <label class="control-label" style="display:inline-block;" >view: &nbsp&nbsp</label>
        <div id="form_img_view" style="font-weight: 800;font-size: 15px;display: inline-block;"></div>
      </div>
  </div>
  <div class="col-md-2" style="height: 140px;padding: 10px;border: 1px solid black;overflow: hidden;">
    <img src="" id="edited_form_img" height="100px" width="100%">
    <p style="text-align:center;" >Edited Image</p>
  </div> 
</div>
<div class="row">
<div class="col-md-6" style="width:50%;" >


<div class="form-group">
    <label for="disabledTextInput">Project Name ( *Required )</label>
    <input type="text" id="disabledTextInput" name="prj_name" class="form-control" placeholder="Project Name">
</div>
<div class="form-group">
  <label for="disabledTextInput">Digital Corrections</label>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        No Image Retouch
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        Minor Retouching
      </label>
    </div>
    <div class="radio disabled">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" >
        Major Retouching
      </label>
    </div>
</div>
<div class="form-group">
    <label for="disabledTextInput">Comments ( *Required )</label>
    <textarea name="prj_comments" class="form-control" rows="2"></textarea>
</div>
</div>
<div class="col-md-6" style="width:50%;" >

<table class="table table-hover" style="margin-top: 20px;" >
                
                <tbody>
                    <tr>
                        <td><h5>Size price</h5></td>
                        <td class="text-right"><h5><strong class="form_size_price" >Rs. </strong></h5></td>
                    </tr>
                    <tr>
                        <td><h5>Effect Price </h5></td>
                        <td class="text-right"><h5><strong>Rs 0.00</strong></h5></td>
                    </tr>
                    <tr>
                        <td><h3>Extra</h3></td>
                        <td class="text-right"><h3><strong>Rs. 0.00</strong></h3></td>
                    </tr>
                    <tr>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>Rs. 0.00</strong></h3></td>
                    </tr>
                    <tr>
                        <td>
                        <button id="addtocart" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart and Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Add to Cart <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>




</div> 
</div>
</form>

















    </div>
  </div>

  <!-- finish -->
<!-- Uploaded Image Preview start -->
<div class='row' style="margin-top: 5px;">
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row" style="margin:0 20px;">
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image1" alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image2" alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image3" alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image4" alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image5" alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image6" alt="" src="http://placehold.it/150x150"></a>
              </div>         
            </div>
          </div>
          <div class="item ">
            <div class="row" style="margin:0 20px;">
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image7" alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image8" alt="" src="http://placehold.it/150x150"></a>
              </div> 
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image9" alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image10" alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image11" alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img id="image12" alt="" src="http://placehold.it/150x150"></a>
              </div>         
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
</div>
<!-- Uploaded Image Preview end -->


