
<section id="footer">
    <div class="container">

  
    <div class = "row foot">
        <div class = "col-xs-12 col-sm-4 col-md-2 footer_col footerfirst">
            <h4>Prints</h4>
            <h5><a href="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html">Upload Photo</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html">Order Prints</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>wall-art/art-gallery.html/">Art Gallery</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>wall-art/art-gallery.html/">Large poster</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>shop/pricing.html/">Pricing</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>coupons/special-offers.html/">Special offers</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>shop/our-products.html/">Our products</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>coupons/discount-coupons.html/">Discount coupons</a></h5>
        </div>

        <div class = "col-xs-12 col-sm-4 col-md-2 footer_col footersecond">
            <h4>About us</h4>
            <h5><a href="<?php echo Mage::getBaseUrl();?>about-us/contact-us.html/">Contact Us</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>about-us/terms-conditions.html/">Terms & Condition</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>about-us/privacy-policy.html/">Privacy Policy</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>about-us/tags.html/">Tags</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>about-us/faqs.html/">FAQ</a></h5>
        </div>

        <div class = "col-xs-12 col-sm-4 col-md-2 footer_col footerthird">
            <h4>Customer support</h4>
            <h5><a href="<?php echo Mage::getUrl('customer/account'); ?>">My Profile</a></h5>
            <h5><a href="<?php echo Mage::getUrl('customer/address'); ?>">Update address</a></h5>
            <h5><a href="<?php echo Mage::getUrl('customer/account'); ?>">Order Status</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>shop/refund-policy.html/">Refund policy</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>shop/payment-methods.html/">Payment method</a></h5>
        </div>

         <div class = "col-xs-12 col-sm-4 col-md-2 footer_col footerfifth">
            <h4>Shop</h4>
            <h5><a href="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html">Canvas prints</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>vinyl-print/safety-sinage-posters.html/">Vinyl prints</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>vinyl-print/safety-sinage-posters.html/">Vinyl decals</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>wall-art/art-gallery.html/">Posters</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html">Photo prints</a></h5>
            <h5><a href="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html">Photo frames</a></h5>
        </div>

        <!-- <div class = "col-xs-12 col-sm-4 col-md-3 footer_col"> -->
        <!--      <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.printposters.in&amp;layout=button_count&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp" style="overflow:hidden;width:100%;height:80px;" scrolling="no" frameborder="0" allowTransparency="true"><a href="http://wordpress-hosting.me" class="fbook">wordpress-hosting.me</a></iframe>
            <form method="post" action="{connection.callback_url}">
            <input name="oa_action" type="hidden" value="{connection.plugin}" />
            <input name="oa_social_login_token" type="hidden" value="{connection.token}" />
            <input name="connection_token" type="hidden" value="{connection.token}" />  
            <input name="identity_vault_key" type="hidden" value="{identity.vault_key}" />
            <noscript><input name="continue" type="submit" value="Continue" /></noscript>
        </form> -->
            <!-- <div class="addthis_responsive_sharing"></div>
        </div> -->
        <!-- <div class="col-xs-12 col-sm-4  col-md-3 fb-page fb-page facebook" data-href="https://www.facebook.com/facebook" data-width="210" data-height="80" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">

            <div class="fb-xfbml-parse-ignore" style="background-color:rgb(68,64,61);">
                <blockquote cite="https://www.facebook.com/pages/Creative-Media/461487663997284"><a href="https://www.facebook.com/pages/Creative-Media/461487663997284">Creative Media</a></blockquote>
            </div>
        </div> -->
        <div class = "col-xs-12 col-sm-4 col-md-3 footer_col footersix">
            <div class="addthis_toolbox addthis_default_style" addthis:url="
                http://printingmumbai.com/" style="margin-bottom:10px;">
                <p><?php echo $this->getLayout()->createBlock('sharingtool/share')->setBlockId('addthis_sharetool')->toHtml(); ?>
                </p>
            </div>
            <div class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/pages/Creative-Media/461487663997284" data-width="300" data-height="260" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=785659818153988&amp;color_scheme=light&amp;container_width=940&amp;header=true&amp;height=260&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FCreative-Media%2F461487663997284&amp;locale=en_US&amp;sdk=joey&amp;show_border=true&amp;show_faces=true&amp;stream=false&amp;width=300">
                <span style="vertical-align: bottom; width: 300px; height: 214px;">
                    <iframe name="f20b5767b4" width="300px" height="260px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="http://www.facebook.com/v2.0/plugins/like_box.php?app_id=785659818153988&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2F4B2NplaqNF3.js%3Fversion%3D41%23cb%3Df255544f34%26domain%3Dprintposters.in%26origin%3Dhttp%253A%252F%252Fprintposters.in%252Ff10bcafe4%26relation%3Dparent.parent&amp;color_scheme=light&amp;container_width=940&amp;header=true&amp;height=260&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FCreative-Media%2F461487663997284&amp;locale=en_US&amp;sdk=joey&amp;show_border=true&amp;show_faces=true&amp;stream=false&amp;width=300" style="border: none; visibility: visible; width: 300px; height: 214px;" class="">
                    </iframe>
                </span>
            </div>
        </div>
    </div>
    <div class="bottom-copy">
        <div class="copyright" style="float:left;color:white;">Copyright © Print Poster all rights reserved
        </div>
        <div class="cards" style="float:right;">
            <label style="color:white;font-size:14px;font-family:'lato';font-weight:100;">Payment Method
            </label>
            <img src="<?php echo $this->getSkinUrl('images/img/card-1.gif');?>" alt="">
            <img src="<?php echo $this->getSkinUrl('images/img/card-2.gif');?>" alt="">
            <img src="<?php echo $this->getSkinUrl('images/img/card-3.gif');?>" alt="">
            <img src="<?php echo $this->getSkinUrl('images/img/card-4.gif');?>" alt="">
        </div>
    </div>
    </section>
    <style type="text/css">
    .footer_col{
        text-align: left;
    }


    </style>