<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/custom_homepage.css');?>">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>


   <?php echo $this->getLayout()->createBlock('responsivebannerslider/index')->setTemplate('responsivebannerslider/index.phtml')->toHtml(); ?> 
  

<!-- Portfolio Grid Section -->

<div class="container"> 
    <div class="row marketing">
        <div class="col-sm-3 crl">
          <a href="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html"><img class="img-circle" src="<?php echo $this->getSkinUrl('images/new/print1.png');?>" alt="upload your photo" width="100" height="100"></a>
          <p><h5>UPLOAD YOUR PHOTO</h5></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3 crl">
          <a href="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html"><img class="img-circle" src="<?php echo $this->getSkinUrl('images/new/print2.png')?>" alt="layout and size" width="100" height="100"></a>
          
          <p><h5>LAYOUT AND SIZE</h5></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3 crl">
          <a href="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html"><img class="img-circle" src="<?php echo $this->getSkinUrl('images/new/print3.png');?>" alt="choose style" width="100" height="100"></a>
          
          <p><h5>CHOOSE STYLE</h5></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3 crl">
          <a href="<?php echo Mage::getBaseUrl();?>canvas-print/gallery-canvas-print.html"><img class="img-circle" src="<?php echo $this->getSkinUrl('images/new/print4.png');?>" alt="place your order" width="100" height="100"></a>
          <p><h5>PLACE YOUR ORDER</h5></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>




<div id="canvas-rates">
    <div class="container">
        <div class="row canvas-row">
            <h4 id="ratetable">CANVAS PRINTING RATES WITH </h4>
            <h4 id="ratetable">HIGHEST QUALITY PRINT ON WATER PROOF CANVAS RINTS</h4>
        </div>
        <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 price-tbl1">
                    <!-- PRICE ITEM -->
                    <div class="panel price panel-red">
                        <div class="panel-heading  text-center">
                        <h4>12" X 12" INCH</h4>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 400</h5><h5>Roll Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 800</h5><h5>Streched Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> <h5>Rs. 1000</h5><h5>Gallery Wrap Canvas Print</h5></li>
                        </ul>
                    </div>
                    <!-- /PRICE ITEM -->
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 price-tbl2">
                    <!-- PRICE ITEM -->
                    <div class="panel price panel-red">
                        <div class="panel-heading  text-center">
                        <h4>12" X 18" INCH</h4>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                             <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 575</h5><h5>Roll Canvas</h5></li>
                             <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 1000</h5><h5>Streched Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 1200</h5><h5>Gallery Wrap Canvas Print</h5></li>
                        </ul>
                    </div>
                    <!-- /PRICE ITEM -->
                </div>
                 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 price-tbl3">
                    <!-- PRICE ITEM -->
                    <div class="panel price panel-red">
                        <div class="panel-heading  text-center">
                        <h4>12" X 24" INCH</h4>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                             <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 875</h5><h5>Roll Canvas</h5></li>
                              <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 1600</h5><h5>Streched Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 2000</h5><h5>Gallery Wrap Canvas Print</h5></li>
                        </ul>
                    </div>
                    <!-- /PRICE ITEM -->
                </div>
                  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 price-tbl4">
                    <!-- PRICE ITEM -->
                    <div class="panel price panel-red">
                        <div class="panel-heading  text-center">
                        <h4>12" X 36" INCH</h4>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                             <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 1350</h5><h5>Roll Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 2750</h5><h5>Streched Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> <h5>Rs. 3500</h5><h5>Gallery Wrap Canvas Print</h5></li>
                        </ul>
                    </div>
                    <!-- /PRICE ITEM -->
                </div>           
            </div>
    </div>
</div>





<section id="details">
    <div class="container pro-detail">
        <div class="col-xs-12 col-sm-5 col-md-12 pro-details">
            
                <a href="#"><h5>Painting Reproduction</h5></a>
                <a href="#"><h5>Interior</h5></a>
                <a href="#"><h5>Wall Graphics</h5></a>
                <a href="#"><h5>Home Decor</h5></a>
                <a href="#"><h5>Wallgraphs</h5></a>
                <a href="#"><h5>Vinyl Print</h5></a>
                <a href="#"><h5>Photo Printing</h5></a>
                <a href="#"><h5>Canvas Printing</h5></a>
                <a href="#"><h5>High Quality Banner Prints</h5></a>
                <a href="#"><h5>Architectural Drawing</h5></a>
                <a href="#"><h5>Engineering Drawings Prints</h5></a>
                <a href="#"><h5>Indoor Poster Prints</h5></a>
                <a href="#"><h5>Outdoor Poster Prints</h5></a>
                <a href="#"><h5>Banner Prints</h5></a>
                <a href="#"><h5>High Res Photo Print</h5></a>
        
            
                <a href="#"><h5>Photo Frames</h5></a>
                <a href="#"><h5>In-Shop Branding</h5></a>
                <a href="#"><h5>Wall Displays Prints</h5></a>
                <a href="#"><h5>Wall Papers Prints</h5></a>
                <a href="#"><h5>Pullup Standees</h5></a>
                <a href="#"><h5>Posters - A0, A1, A2, A3 Poster Prints</h5></a>
                <a href="#"><h5>Auto Graphics Sticker Prints</h5></a><a href="#"><h5>Safety Signage Prints</h5></a><a href="#"><h5>Transparent Vinyl Printing</h5></a>
                <a href="#"><h5>Large format Prints</h5></a>
                <a href="#"><h5>Canvas Photo Prints</h5></a><a href="#"><h5>Fabric Banner Prints</h5></a>
                <a href="#"><h5>Vinyl Sticker Prints</h5></a><a href="#"><h5>Vinyl Decals</h5></a>
                
        <div>
    </div>

</section>


<section id="desc">
    <div class="container">
        <div class="std">
            <h5 class="paragraph" ><span></span>
            <div class="paragraph1"><p>We at
         <a href="#">printposters.in</a>
offer you high resolution printing on canvas media, Vinyl Media. These prints use water proof inks which offers good protection against moisture on Canvas as well as on Vinyl prints. So these canvas print / Vinyl prints does not need varnishing or any other treatment. Canvas prints are often used in interior design, with stock images, or customized with personal photographs. Canvas prints are commonly used in home decor, either chosen by professional interior designers, or by the home-owner. We provide canvas printing for Gallery wrapped canvas, Photo print on canvas, art printing on canvas media, abstract art printing on canvas media. Customer can order this canvas prints through online where he / she can upload photograph or choose from wide verity of photographs available in our gallery section. Customer can also pay online through our payment gateway which cover all banks and credit cards. We are offering good deals to artists and photographers to print their work directly on to canvas media.</p>          
<p>We also provide indoor branding which covers Advertising Display Boards, Sun board Printing Vinyl Printing, Exhibition Display Panels, Retail shop branding, Vinyl Label &amp; Stickers, Vinyl Based Signage’s, Wall Paper Printing, Reflective vinyl printing, Vinyl Sticker Vinyl Decal, Vinyl Banners, Vinyl Photo Print, Vinyl wall paper Poster prints, Front lit back lit printing, Front lit back lit printing used for displaying advertising, Standees.</p>
<p>We at
<a href="#">printposters.in</a>
have Canon 8 color Hi Resolution printer, which use a pigment-based ink that is environmentally friendly with no harmful fumes. This pigmented ink set produces the finest resolution and is capable of producing good quality colour reproduction, which boasts the largest color gamut available. These printers are generally used to produce printing for prepress/proofing, professional photographers, fine art, indoor signage and short-term outdoor banners and signage.</p>          
<p>You can also Gift Canvas to your loved ones for your most memorable moments, which last forever.</div></h5></p>
    

        <div class="col-md-6" style="margin:0px;padding:0px;padding-right:5px;">
            <div class="panel panel-red">
            <div class="panel-heading">
                <h3 class="panel-title fine-art">Fine Art Matt Cotton Canvas</h3>
            </div>
            <div class="panel-body fine-art-body" >
        
               It is a 360gsm premium matt cotton canvas made from 100% natural cotton fibers, which achieves photo-realistic print quality. It is a perfect media for art-reproductions.
            </div>
            </div>
        </div>
        <div class="col-md-6" style="margin: 0px; padding: 0px;padding-left: 0px;">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title fine-art">Vinyl Media</h3>
                </div>
                <div class="panel-body fine-art-body">
                Matte Vinyl print, Glossy Vinyl print, Photo Vinyl Print, one way vision print. All vinyl prints come with peel &amp; stick where Customer can stick this print on any walls.
                </div>
            </div>
        </div>
 
</div>
</div>
</div>

<div class="container">
<div class="panel panel-red">
        <div class="panel-heading">
            <h3 class="panel-title ink-features">Ink Features</h3>
        </div>
        <div class="panel-body ink-features-body">
            Wide Color Gamut | True Color Prints | 
High Fade Resistance | Life Long Prints |

Excellent  Adhesion | High Rub Resistance |
Superior Sharpness | No Inter-color Bleeds |
Waterproof inks


Narrow Particle  Size | High Stability | 
High Optical Density | Superior Depth  | 
        </div>
    </div>


    <div class="panel panel-red">
        <div class="panel-heading">
            <h3 class="panel-title service-avail">Service Availability</h3>
        </div>
        <div class="panel-body service-avail-body">
            Online, Mumbai, Delhi, Bangalore, Hyderabad, Ahmedabad, Chennai, Kolkata, Surat, Pune, Jaipur,
                    lucknow, Kanpur, Nagpur, Indore, Thane, Bhopal, Visakhapatnam, Pimpri-Chinchwad, Patna, Vadodara, Ghaziabad, Ludhiana, Agra, Nashik,
                    Faridabad, Meerut, Rajkot, Kalyan-Dombivali, Vasai-Virar, Varanasi, Aurangabad, Dhanbad, Amritsar, Navi Mumbai, Allahabad, Ranchi,
                    Howrah, Coimbatore, Jabalpur, Gwalior, Vijayawada, Jodhpur, Madurai, Raipur, Kota, Guwahati, Chandigarh, Solapur, Hubballi-Dharwad,
                    Bareilly, Moradabad, Mysore, Gurgaon, Aligarh, Jalandhar, Tiruchirappalli, Bhubaneswar, Salem, Mira-Bhayandar, Gaya, Trivandrum(Thiruvananthapuram),
                    Bhiwandi, Saharanpur, Gorakhpur, Guntur, Bikaner, Amravati, Noida, Jamshedpur, Bhilai, Warangal, Mangalore, Cuttack, Firozabad,
                    Kochi (Cochin), Bhavnagar, Dehradun, Durgapur, Asansol, Nanded, Kolhapur, Ajmer, Gulbarga, Jamnagar, Ujjain, Loni, Siliguri, Jhansi,
                    Ulhasnagar, Nellore, Jammu, Sangli-Miraj &amp; Kupwad, Belgaum, ambattur, Tirunelveli, Malegaon, Jalgaon, Udaipur
                
                </div>
            </div>
        </div>
     </div>
    </section>






<div id="feedbackfrm">
  <div class="container" > 
    <div class="row">
        <div class="col-md-6" style="text-align:center;">
            <h4 style="color:black;">Type Feedback Here</h4>
            <form name="sentMessage" id="contactForm" action="<?php echo Mage::getBaseUrl();?>feedback/index/addfeedback"  method="post" novalidate>

            <div class="form-group">
                <input type="text" placeholder="Enter Your Name" name="your_name" required/>
            </div>
             <div class="form-group">
                <input type="text" placeholder="Enter City Name" name="city" required/>
            </div>
            <div class="form-group">
                <textarea rows="6" placeholder="Enter Your Valuable Comments.." name="comment" ></textarea>
            </div>
            <div id="respmsg"></div>
            <div class="form-group">
               <button type="submit" class="btn btn-success btn-lg post_comment pull-left" style="width: 100%;padding:5px 170px;"><h5>POST</h5></button>
            </div>
                
            </form>
        </div>
        <div id="viewfeedbacks" class="col-md-6" style="overflow:scroll;overflow-x: hidden;    max-height: 400px;
        ">
        <?php
        $feedbackobj=Mage::getModel('feedback/feedback');
         $feedbackobj->setOrder('feedback_id','ASC');
        $feedbackModel  = $feedbackobj->getCollection();
       

        asort($feedbackModel);
            foreach($feedbackModel as $collection) {?>
            
            <div class="row">
                <div class="col-md-3" style="padding: 10px 0px;border: 1px solid gray;margin-top: 21px; border-radius: 20px;text-align: center;">
                    <i class="fa fa-user" style="font-size: 40px;color: #FE4310" ></i>
                    <p style="text-transform: none; font-size: 18px; text-align: center;" ><?php echo $collection->getName();?></p>
                    <p style="text-transform: none; font-size: 15px; text-align: center;" ><?php echo $collection->getCity();?></p>
                </div>
                <div class="col-md-9" >
                    <div class="dialogbox">
                        <div class="body">
                            <span class="tip tip-left"></span>
                                <div class="message">
                                <span><?php echo $collection->getComment();?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                
          <?php  } ?>

        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
            
    jQuery('#contactForm').bootstrapValidator({
         
           message: 'This value is not valid',
           feedbackIcons: {
               valid: 'glyphicon glyphicon-ok',
               invalid: 'glyphicon glyphicon-remove',
               validating: 'glyphicon glyphicon-refresh'
           },
           fields: {
               your_name: {
                   validators: {
                       notEmpty: {
                           message: 'Name is required!'
                       }
                   }
               },
               city: {
                   validators: {
                       notEmpty: {
                           message: 'City is required!'
                       }
                   }
               },
               comment: {
                   validators: {
                       notEmpty: {
                           message: 'comment is required!'
                       }
                   }
               }
              
           
           }
           


        });

    // code for submit form
            var submit_sponsor= {
                 dataType:  'json',
               //target:        '#output7',   // target element(s) to be updated with server response
               beforeSubmit:  showRequest,  // pre-submit callback
               success:       showResponse  // post-submit callback

            };

            // pre-submit callback
            function showRequest(formData, jqForm, options) {
               return true;
            }
            // post-submit callback
            //location.reload();
            function showResponse(responseText)  {
              if(responseText!=null){
                  
                     if(responseText != null)
                    {   
                        console.log(responseText.name);
                     jQuery("#respmsg").text("Your feedback saved!!");
                     var html="<div class='row'><div class='col-md-3' style='padding: 10px 0px;border: 1px solid gray;margin-top: 21px; border-radius: 20px;text-align: center;'><i class='fa fa-user' style='font-size: 40px;color: #FE4310' ></i><p style='text-transform: none; font-size: 18px; text-align: center;' >"+responseText.name+"</p><p style='text-transform: none; font-size: 15px; text-align: center;' >"+responseText.city+"</p></div><div class='col-md-9' ><div class='dialogbox'><div class='body'><span class='tip tip-left'></span><div class='message'><span>"+responseText.comment+"</span></div></div></div></div></div>";
                     jQuery('#viewfeedbacks').prepend(html);
                     
                    }else{
                     jQuery("#respmsg").text("Ooops ! Something went wrong !!");
                    }
                     
               }
            }
             jQuery('#contactForm').ajaxForm(submit_sponsor);
            

    
    
});// End


</script>

<style type="text/css">
.help-block{
    display: inline;
    position: absolute;
    bottom: -20px;
    right: 25px;
}
.form-control-feedback{
    top: 21px;
    right: 25px;
    display: block;
    position: absolute;
}

</style>
