<!-- Header -->
    <header>
      <?php echo $this->getLayout()->createBlock('imageslider/imageslider')->setTemplate('imageslider/imageslider.phtml')->toHtml(); ?>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name"><h4>CREATE YOUR FAMILY MEMORIES WITH US</h4></span>
                        <!-- <hr class="star-light"> -->
                        <div class="form-group col-xs-12" style="text-align:center;">
                            <button type="submit" class="btn btn-success btn-lg post_comment"><h5>CANVAS PRINT</h5></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

 

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">

<?php
$rootcatId= Mage::app()->getStore()->getRootCategoryId();
$categories = Mage::getModel('catalog/category')->getCategories($rootcatId);
    foreach($categories as $category) {
        $cat = Mage::getModel('catalog/category')->load($category->getId());
        $count = $cat->getProductCount();
        if($category->getName()=='Canvas Print'){ ?>
         <div class="col-xs-12 col-xs-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <img src="<?php echo $cat->getImageUrl();?>" alt="CANVAS PRINT">
                    </a>
                </div>
        <?php } else if($category->getName()=='Vinyl Print'){ ?>
            <div class="col-xs-12 col-xs-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <img src="<?php echo $cat->getImageUrl();?>" alt="Vinyl Print">
                    </a>
                </div>
        <?php }else if($category->getName()=='Wall Art'){ ?>
            <div class="col-xs-12 col-xs-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <img src="<?php echo $cat->getImageUrl();?>" alt="Vinyl Print">
                    </a>
                </div>
        <?php }

     }

?>

            </div>
       
        <div class="row">
        


<?php
        foreach($categories as $category) {
        $cat = Mage::getModel('catalog/category')->load($category->getId());
        $count = $cat->getProductCount();
        if($category->getName()=='Canvas Print'){ ?>
        <div class="col-xs-12 col-xs-4">
             <ul style="padding:0px;text-align:center;">
                <li class="dropdown mega-dropdown active" style="display:block !important;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="">
                        <h5 style="color:white"><?=$category->getName();?></h5>
                    </a>


<?php if($category->hasChildren()) {
    echo "<div class=\"dropdown-menu mega-dropdown-menu\" style=\"width: 100%;\"><div class=\"container-fluid\"><ul class=\"nav-list list-inline\" style=\"  text-align: center;\">";
$childrens = Mage::getModel('catalog/category')->getCategories($category->getId());
foreach($childrens as $children) {
$child= Mage::getModel('catalog/category')->load($children->getId());
    ?>
    <li style="display:block;padding:10px;list-style-type: none;">
        <a href="<?= Mage::getUrl($child->getUrlPath());?>">
            <span><?=$child->getName();?></span>
        </a>
    </li>                
<?php }

echo "</ul></div></div>";
}?>


                </li>
            </ul>
        </div>
        <?php } else if($category->getName()=='Vinyl Print'){ ?>
        <div class="col-xs-12 col-xs-4">
             <ul style="padding:0px;text-align:center;">
                <li class="dropdown mega-dropdown active">
                    <a href="<?php echo $cat->getImageUrl();?>" class="dropdown-toggle" data-toggle="dropdown" style="">
                        <h5 style="color:white"><?=$category->getName();?></h5>
                    </a>



<?php if($category->hasChildren()) {
    echo "<div class=\"dropdown-menu mega-dropdown-menu\" style=\"width: 100%;\"><div class=\"container-fluid\"><ul class=\"nav-list list-inline\" style=\"  text-align: center;\">";
$childrens = Mage::getModel('catalog/category')->getCategories($category->getId());
foreach($childrens as $children) {
$child= Mage::getModel('catalog/category')->load($children->getId());
    ?>
    <li style="display:block;padding:10px;">
        <a href="#">
            <span><?=$child->getName();?></span>
        </a>
    </li>                
<?php }

echo "</ul></div></div>";
}?>

                </li>
            </ul>
        </div>
        <?php }else if($category->getName()=='Wall Art'){ ?>
        <div class="col-xs-12 col-xs-4">
             <ul style="padding:0px;text-align:center;">
                <li class="dropdown mega-dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="">
                        <h5 style="color:white"><?=$category->getName();?></h5>
                    </a>
                </li>
            </ul>
        </div>
        <?php }

     }
?>
</div>
    </div>
    </section>
<section style="padding:0px;background:#ffffff;">
     <div class="container marketing" style="padding:7px;padding-bottom:0px;
                    width: 1236px;">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-3 crl">
          <img class="img-circle" src="<?php echo $this->getSkinUrl('images/new/print1.png');?>" alt="upload your photo" width="140" height="140">
          <p><h5>UPLOAD YOUR PHOTO</h5></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3 crl">
          <img class="img-circle" src="<?php echo $this->getSkinUrl('images/new/print2.png')?>" alt="layout and size" width="140" height="140">
          
          <p><h5>LAYOUT AND SIZE</h5></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3 crl">
          <img class="img-circle" src="<?php echo $this->getSkinUrl('images/new/print3.png');?>" alt="choose style" width="140" height="140">
          
          <p><h5>CHOOSE STYLE</h5></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3 crl">
          <img class="img-circle" src="<?php echo $this->getSkinUrl('images/new/print4.png');?>" alt="place your order" width="140" height="140">
          
          <p><h5>PLACE YOUR ORDER</h5></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

</section>



<section style="background:#ff3000;padding-bottom:0px;  padding-top: 88px;">





<div class="container" style="margin-top: 18px;">
    <div class="row" style="margin-top:-93px;margin-bottom:25px;">
                    <h4 style="text-align:center;color:white;font-size:large;">CANVAS PRINTING RATES WITH </h4>
                    <h4 style="text-align:center;color:white;font-size:large;">HIGHEST QUALITY PRINT ON WATER PROOF CANVAS PRINTS</h4>
                </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <!-- PRICE ITEM -->
                    <div class="panel price panel-red">
                        <div class="panel-heading  text-center">
                        <h3>12" X 12" INCH</h3>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 400</h5><h5>Roll Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 800</h5><h5>Strteched Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> <h5>Rs. 1000</h5><h5>Gallery Wrap Canvas Print</h5></li>
                        </ul>
                    </div>
                    <!-- /PRICE ITEM -->
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <!-- PRICE ITEM -->
                    <div class="panel price panel-red">
                        <div class="panel-heading  text-center">
                        <h3>12" X 18" INCH</h3>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                             <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 575</h5><h5>Roll Canvas</h5></li>
                             <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 1000</h5><h5>Strteched Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 1200</h5><h5>Gallery Wrap Canvas Print</h5></li>
                        </ul>
                    </div>
                    <!-- /PRICE ITEM -->
                </div>
                 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <!-- PRICE ITEM -->
                    <div class="panel price panel-red">
                        <div class="panel-heading  text-center">
                        <h3>12" X 24" INCH</h3>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                             <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 875</h5><h5>Roll Canvas</h5></li>
                              <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 1600</h5><h5>Strteched Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 2000</h5><h5>Gallery Wrap Canvas Print</h5></li>
                        </ul>
                    </div>
                    <!-- /PRICE ITEM -->
                </div>
                  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <!-- PRICE ITEM -->
                    <div class="panel price panel-red">
                        <div class="panel-heading  text-center">
                        <h3>12" X 36" INCH</h3>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                             <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 1350</h5><h5>Roll Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i><h5>Rs. 2750</h5><h5>Strteched Canvas</h5></li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> <h5>Rs. 3500</h5><h5>Gallery Wrap Canvas Print</h5></li>
                        </ul>
                    </div>
                    <!-- /PRICE ITEM -->
                </div>           
            </div>
            
</div>

</section>


<section style="padding: 15px;">
        <div class="container pro-detail">
            <div class="col-xs-12 col-sm-5 col-md-12" style="text-align:center;">
                <a href="#"><h5>Painting Reproduction</h5></a>
                <a href="#"><h5>Interior</h5></a>
                <a href="#"><h5>Wall Graphics</h5></a>
                <a href="#"><h5>Home Decor</h5></a>
                <a href="#"><h5>Wallgraphs</h5></a>
                <a href="#"><h5>Vinyl Print</h5></a>
                <a href="#"><h5>Photo Printing</h5></a>
                <a href="#"><h5>Canvas Printing</h5></a>
                <a href="#"><h5>High Quality Banner Prints</h5></a>
                <a href="#"><h5>Engineering Drawings Prints</h5></a>
                <a href="#"><h5>Architectural Drawing</h5></a>
                <a href="#"><h5>Indoor Poster Prints</h5></a>
                <a href="#"><h5>Outdoor Poster Prints</h5></a>
                <a href="#"><h5>Banner Prints</h5></a>
                <a href="#"><h5>High Res Photo Print</h5></a>
                <a href="#"><h5>In-Shop Branding</h5></a>
                <a href="#"><h5>Wall Displays Prints</h5></a>
                <a href="#"><h5>Wall Papers Prints</h5></a>
                <a href="#"><h5>Pullup Standees</h5></a>
                <a href="#"><h5>Posters - A0, A1, A2, A3 Poster Prints</h5></a>
                <a href="#"><h5>Transparent Vinyl Printing</h5></a>
                <a href="#"><h5>Large format Prints</h5></a>
                <a href="#"><h5>Fabric Banner Prints</h5></a>
                <a href="#"><h5>Vinyl Decals</h5></a>
                <a href="#"><h5>Safety Signage Prints</h5></a>
                <a href="#"><h5>Canvas Photo Prints</h5></a>
                <a href="#"><h5>Vinyl Sticker Prints</h5></a>
                <a href="#"><h5>Auto Graphics Sticker Prints</h5></a>
                <a href="#"><h5>Photo Frames</h5></a>
            <div>
        </div>

    </section>

    <section id="desc">
    <div class="container">
        <div style="box-shadow: 0 0 5px #C2CBD2; text-justify: auto;" class="std">
            <p><h5 class="paragraph" ><span style="margin-left:64px"></span> We at
         <a href="#">printposters.in</a>
            offer you high resolution printing on canvas media, Vinyl Media. These prints use water proof inks which offers good protection against moisture on Canvas as well as on Vinyl prints. So these canvas print / Vinyl prints does not need varnishing or any other treatment. Canvas prints are often used in interior design, with stock images, or customized with personal photographs. Canvas prints are commonly used in home decor, either chosen by professional interior designers, or by the home-owner. We provide canvas printing for Gallery wrapped canvas, Photo print on canvas, art printing on canvas media, abstract art printing on canvas media. Customer can order this canvas prints through online where he / she can upload photograph or choose from wide verity of photographs available in our gallery section. Customer can also pay online through our payment gateway which cover all banks and credit cards. We are offering good deals to artists and photographers to print their work directly on to canvas media.<br>
            
            <span style="margin-left:64px"></span> We also provide indoor branding which covers Advertising Display Boards, Sun board Printing Vinyl Printing, Exhibition Display Panels, Retail shop branding, Vinyl Label &amp; Stickers, Vinyl Based Signage’s, Wall Paper Printing, Reflective vinyl printing, Vinyl Sticker Vinyl Decal, Vinyl Banners, Vinyl Photo Print, Vinyl wall paper Poster prints, Front lit back lit printing, Front lit back lit printing used for displaying advertising, Standees.<br>
  
             <span style="margin-left:64px"></span>We at
            <a href="#">printposters.in</a>
            have Canon 8 color Hi Resolution printer, which use a pigment-based ink that is environmentally friendly with no harmful fumes. This pigmented ink set produces the finest resolution and is capable of producing good quality colour reproduction, which boasts the largest color gamut available. These printers are generally used to produce printing for prepress/proofing, professional photographers, fine art, indoor signage and short-term outdoor banners and signage.</br>
            
            <span style="margin-left:64px"></span>You can also Gift Canvas to your loved ones for your most memorable moments, which last forever.</h5><br>
  

            <div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="pull-left">Fine Art Matt Cotton Canvas:</h3>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="panel-body">
                It is a 360gsm premium matt cotton canvas made from 100% natural cotton fibers, which achieves photo-realistic print quality. It is a perfect media for art-reproductions.
            </div>
            
           </div>
           <div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="pull-left">Vinyl Media:</h3>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="panel-body">
               Matte Vinyl print, Glossy Vinyl print, Photo Vinyl Print, one way vision print. All vinyl prints come with peel &amp; stick where Customer can stick this print on any walls.
            </div>
            
           </div>


    <div class="panel panel-yellow">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align:center;" >Ink Features</h3>
        </div>
        <div class="panel-body"  style="text-align:center;">
            Wide Color Gamut | True Color Prints | 
High Fade Resistance | Life Long Prints |

Excellent  Adhesion | High Rub Resistance |
Superior Sharpness | No Inter-color Bleeds |
Waterproof inks


Narrow Particle  Size | High Stability | 
High Optical Density | Superior Depth  | 
        </div>
    </div>


    <div class="panel panel-red">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align:center;" >Service Availability</h3>
        </div>
        <div class="panel-body"  style="text-align:center;">
            Online, Mumbai, Delhi, Bangalore, Hyderabad, Ahmedabad, Chennai, Kolkata, Surat, Pune, Jaipur,
                    lucknow, Kanpur, Nagpur, Indore, Thane, Bhopal, Visakhapatnam, Pimpri-Chinchwad, Patna, Vadodara, Ghaziabad, Ludhiana, Agra, Nashik,
                    Faridabad, Meerut, Rajkot, Kalyan-Dombivali, Vasai-Virar, Varanasi, Aurangabad, Dhanbad, Amritsar, Navi Mumbai, Allahabad, Ranchi,
                    Howrah, Coimbatore, Jabalpur, Gwalior, Vijayawada, Jodhpur, Madurai, Raipur, Kota, Guwahati, Chandigarh, Solapur, Hubballi-Dharwad,
                    Bareilly, Moradabad, Mysore, Gurgaon, Aligarh, Jalandhar, Tiruchirappalli, Bhubaneswar, Salem, Mira-Bhayandar, Trivandrum(Thiruvananthapuram),
                    Bhiwandi, Saharanpur, Gorakhpur, Guntur, Bikaner, Amravati, Noida, Jamshedpur, Bhilai, Warangal, Mangalore, Cuttack, Firozabad,
                    Kochi (Cochin), Bhavnagar, Dehradun, Durgapur, Asansol, Nanded, Kolhapur, Ajmer, Gulbarga, Jamnagar, Ujjain, Loni, Siliguri, Jhansi,
                    Ulhasnagar, Nellore, Jammu, Sangli-Miraj &amp; Kupwad, Belgaum, ambattur, Tirunelveli, Malegaon, Gaya, Jalgaon, Udaipur
                
        </div>
    </div>


            
     </div>
    </section>



    <!-- About Section -->
    <section class="success" id="about" style="padding:60px;background:#f4f4f4;">
        <div class="container">
            <div class="row">
            <div class="feedbackform">
              <div class="col-md-5" style="background-color: white;">
                 <h4 style="color:black;">Type Feedback Here</h4>
                            <form name="sentMessage" id="contactForm" novalidate>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <h5>Your Name:</h5>
                                        <input type="text" placeholder="Enter Your Name" name="your_name" required/><br/>
                                        <h5>City:</h5>
                                        <input type="text" placeholder="Enter City Name"name="city" required/><br/>
                                        <label><h5>COMMENT</h5></label>
                                        <textarea rows="6" placeholder="Enter Your Valuable Comments.."></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <button type="submit" class="btn btn-success btn-lg post_comment pull-left" style="width: 100%;"><h5>POST</h5></button>
                                    </div>
                                </div>
                            </form>
                </div>
            </div>
           
                <div class="col-md-5 overflow" style="overflow-y:scroll;padding-bottom:10px;">
                   
                
                    <div class="[ panel panel-default ] panel-google-plus commentbox" >
                        <div class="dropdown">
                            <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                            </span>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                            </ul>
                        </div>

                        <div class="panel-heading">
                            <img class="[ img-circle pull-left ]" src="img/ajay.jpg" alt="photo" width="70" height="70"/>
                            <h5>Sachin Khaire</h5>
                            <h5><span>Shared publicly</span> - <span>Aug 1, 2015</span> </h5>
                        </div>
                        <div class="panel-body">
                            <h5><p>"My awesome pictures from my safari trip now are proudly displayed on my walls. They look terrific and was so easy to make."</p></h5>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="[ btn btn-default ]">+1</button>
                            <button type="button" class="[ btn btn-default ]">
                                <span class="[ glyphicon glyphicon-share-alt ]"></span>
                            </button>
                            <div class="input-placeholder"><h5>Add a comment...</h5></div>
                        </div>
                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="img/rietesh.jpg" alt="User Image" width="70" height="70"/>
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]"><h5>Post comment</h5></button>
                                <button type="reset" class="[ btn btn-default ]"><h5>Cancel</h5></button>
                            </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
               

                <div class="col-md-5 overflow">
                    <div class="[ panel panel-default ] panel-google-plus commentbox" >
                        <div class="dropdown">
                            <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                            </span>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="panel-heading">
                            <img class="[ img-circle pull-left ]" src="img/kareena.jpg" alt="photo" width="70" height="70"/>
                            <h5>Priti khaire</h5>
                            <h5><span>Shared publicly</span> - <span>Jun 27, 2014</span> </h5>
                        </div>
                        <div class="panel-body">
                            <h5><p>I just moved into a new house and needed some artwork to hang on my walls. I ended up taking my favourite pictures and making canvases out of them! Everyone that sees them loves it."</p></h5>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="[ btn btn-default ]">+1</button>
                            <button type="button" class="[ btn btn-default ]">
                                <span class="[ glyphicon glyphicon-share-alt ]"></span>
                            </button>
                            <div class="input-placeholder"><h5>Add a comment...</h5></div>
                        </div>
                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]"><h5>Post comment</h5></button>
                                <button type="reset" class="[ btn btn-default ]"><h5>Cancel</h5></button>
                            </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                </div>
                 <div class="col-md-5 overflow">
                    <div class="[ panel panel-default ] panel-google-plus commentbox">
                        <div class="dropdown">
                            <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                            </span>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="panel-heading">
                            <img class="[ img-circle pull-left ]" src="img/akshay.jpg" alt="Mouse0270" width="70" height="70"/>
                            <h5>Sujeet Saluke</h5>
                            <h5><span>Shared publicly</span> - <span>May 16, 2013</span> </h5>
                        </div>
                        <div class="panel-body">
                            <h5><p>"Really happy with the quality. And it arrived so quickly. Thank you printposters!!"</p></h5>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="[ btn btn-default ]">+1</button>
                            <button type="button" class="[ btn btn-default ]">
                                <span class="[ glyphicon glyphicon-share-alt ]"></span>
                            </button>
                            <div class="input-placeholder"><h5>Add a comment...</h5></div>
                        </div>
                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]"><h5>Post comment</h5></button>
                                <button type="reset" class="[ btn btn-default ]"><h5>Cancel</h5></button>
                            </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                </div>
                 <div class="col-md-5 overflow">
                    <div class="[ panel panel-default ] panel-google-plus commentbox" >
                        <div class="dropdown">
                            <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                            </span>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="panel-heading">
                            <img class="[ img-circle pull-left ]" src="img/ranveer.jpg" alt="Mouse0270" width="70" height="70"/>
                            <h3>Saurabh Undre</h5>
                            <h5><span>Shared publicly</span> - <span>Jan 20, 2012</span> </h5>
                        </div>
                        <div class="panel-body">
                            <h5><p>"The zoomin canvas print is great. i created a family collage and gave one to my grandparents and another to my parents. they were very happy to receive it. "</p></h5>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="[ btn btn-default ]">+1</button>
                            <button type="button" class="[ btn btn-default ]">
                                <span class="[ glyphicon glyphicon-share-alt ]"></span>
                            </button>
                            <div class="input-placeholder"><h5>Add a comment...</h5></div>
                        </div>
                        <div class="panel-google-plus-comment">
                            <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                            <div class="panel-google-plus-textarea">
                                <textarea rows="4"></textarea>
                                <button type="submit" class="[ btn btn-success disabled ]"><h5>Post comment</h5></button>
                                <button type="reset" class="[ btn btn-default ]"><h5>Cancel</h5></button>
                            </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                </div>
             
         </div>
     
        

    </div>
    </section>  




   <script type="text/javascript">
        jQuery(function () {
   jQuery('.panel-google-plus > .panel-footer > .input-placeholder, .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > button[type="reset"]').on('click', function(event) {
        var jQuerypanel = jQuery(this).closest('.panel-google-plus');
            jQuerycomment = jQuerypanel.find('.panel-google-plus-comment');
            
        jQuerycomment.find('.btn:first-child').addClass('disabled');
        jQuerycomment.find('textarea').val('');
        
        jQuerypanel.toggleClass('panel-google-plus-show-comment');
        
        if (jQuerypanel.hasClass('panel-google-plus-show-comment')) {
            jQuerycomment.find('textarea').focus();
        }
   });
   jQuery('.panel-google-plus-comment > .panel-google-plus-textarea > textarea').on('keyup', function(event) {
        var jQuerycomment = jQuery(this).closest('.panel-google-plus-comment');
        
        jQuerycomment.find('button[type="submit"]').addClass('disabled');
        if (jQuery(this).val().length >= 1) {
            jQuerycomment.find('button[type="submit"]').removeClass('disabled');
        }
   });


    jQuery(".dropdown").hover(            
        function() {
            jQuery('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            jQuery(this).toggleClass('open');        
        },
        function() {
           jQuery('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            jQuery(this).toggleClass('open');       
        }
    );









});
    </script>
























