
<style type="text/css">
/* reduction size changes*/

.main-container{
  margin-top: 38px;
}

.navbar{

    position: relative;
    min-height: 60px;
    margin-bottom: 0px;
    border: 1px solid transparent;

}

body {
  margin-top: 0px; 
}
.main {
    padding-bottom: 0px;
    margin-top: 0px; 
    background-color: white;
}

.alert {
    padding: 3px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.errmsg{
  position: absolute;
  bottom: 0px
}


/* reduction size ends*/
.uploadspan{
    width: 200px;
    opacity: 0.9;
    position: absolute;
    right: 39%;
    top: 30%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}

.stepwizard-step p {
       margin: 0px 0px 3px 0px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


.btn-vertical-slider{ margin-left:35px; cursor:pointer;}
a {  cursor:pointer;}
.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

 .carousel.vertical .active {
  top: 0;
}

 .carousel.vertical .next {
  top: 100%;
}

 .carousel.vertical .prev {
  top: -100%;
}

 .carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

 .carousel.vertical .item {
    left: 0;
}​


/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 15px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}

.loader {
    
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}
  .loading-text { 
    text-align:center;
     position: absolute;
     top: 60%;
     width:100%;
     margin: 0px auto;
  }

.activeimage{
    border: 4px solid green;
}


#image_tool section {
  width: 150px;
  height: auto;
  margin: 100px auto 0;
  position: relative;
}

#image_tool  #slider {
  border-width: 1px;
  border-style: solid;
  border-color: #666 #666 #999 #666;
  border-radius: 25px;
  width: 100px;
  position: relative;
  height: 13px;
  background-color: #8e8d8d;
  margin: 20px auto;
}

#image_tool #slider2 {
  border-width: 1px;
  border-style: solid;
  border-color: #666 #666 #999 #666;
  border-radius: 25px;
  width: 100px;
  position: relative;
  height: 13px;
  background-color: #8e8d8d;
  margin: 20px auto;
}

#image_tool .tooltip {
  position: absolute;
  display: block;
  top: -5px;
  left: 140px;
  width: 35px;
  height: 20px;
  color: #fff;
  text-align: center;
  font: 10pt Tahoma, Arial, sans-serif;
  border-radius: 3px;
  border: 1px solid #333;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  background: linear-gradient(top, rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%);
}

#image_tool  .tooltip2 {
  position: absolute;
  display: block;
  top: -5px;
  left: 140px;
  width: 35px;
  height: 20px;
  color: #fff;
  text-align: center;
  font: 10pt Tahoma, Arial, sans-serif;
  border-radius: 3px;
  border: 1px solid #333;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  background: linear-gradient(top, rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%);
}

#image_tool  .ui-slider-handle {
  position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -7px;
    margin-left: -12px;
}

#image_tool .ui-slider-range {
    background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}


#controls{
    width: 100%;
    height: 22px;
    padding: 0 5px;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 90px !important;
  height: 90px !important;
  font-size: 10px;
  color: white;
  margin-right: 5px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}



.video-list-thumbs{}
.video-list-thumbs > li{
    margin-bottom:12px;
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
  display:block;
  position:relative;
  background-color: #111;
  color: #fff;
  padding: 8px;
  border-radius:3px
    transition:all 500ms ease-in-out;
    border-radius:4px
}
.video-list-thumbs > li > a:hover{
  box-shadow:0 2px 5px rgba(0,0,0,.3);
  text-decoration:none
}
.video-list-thumbs h2{
  bottom: 0;
  font-size: 12px;
   margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
#stp2{
  color: rgb(14, 13, 13)!important;
}
#corrections_tab1{
  color: rgb(14, 13, 13)!important;
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
  color:#fff;
  opacity:1;
  text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.video-list-thumbs .duration{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  left: 12px;
  line-height: 13px;
  padding: 2px 3px 1px;
  position: absolute;
  top: 12px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .duration{
  background-color:#000;
}
@media (min-width:320px) and (max-width: 480px) { 
  .video-list-thumbs .glyphicon-play-circle{
    font-size: 35px;
    right: 36%;
    top: 27%;
  }
  .video-list-thumbs h2{
    bottom: 0;
    font-size: 12px;
    height: 22px;
    margin: 8px 0 0;
  }
}

.radio2{
      margin: 0 auto !important;
}


#preview_area{
  margin: 5px auto; 
  text-align: center;
   max-width: 650px; 
   overflow: hidden;
   background-color:white;
    position:relative;
}

.form-group{
   margin: 9px 0px;
}

.frame_class{
  position: absolute;
}

.dropdown-toggle{
  display: inline-block !important ;
}

.new{
  display: inline-block !important;
}

table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td {
    border: 1px solid rgb(203, 191, 191);
    text-align: center;
}
.form-group {
    color: black !important;
}
.recommended{
  background-color: #A9EEA9;
}

#recomandation_img{
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 100px;
  height: auto;
}

#process_img_temp_view_div{
  width: 500px;
  height: 90%;
    margin: 0px auto;
    text-align: center;
    margin-top: 3%;

}

#process_img_temp_view{
    height: 300px;
    width: auto;
    max-height: 100%;
    top: 0px;
    left:0px;
}
.form-control{
  height: 31px;
}


.rotate90deg{
    -ms-transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    width: 390px !important;
    margin-top: 65px !important;
}

.rotate180deg{
    -ms-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.rotate270deg{
    -ms-transform: rotate(270deg) !important;
    -webkit-transform: rotate(270deg) !important;
    transform: rotate(270deg) !important;
    width: 390px !important;
    margin-top: 65px !important;
}


.editrotate90deg{
    -ms-transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    height: 100%;
    width: 100%;
}

.editrotate180deg{
    -ms-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
    height: 100%;
    width: 100%;
}

.editrotate270deg{
    -ms-transform: rotate(270deg) !important;
    -webkit-transform: rotate(270deg) !important;
    transform: rotate(270deg) !important;
    height: 100%;
    width: 100%;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
 


#modalMask /* This div will cover the entire screen: 100% width and height, starting at 0, 0. 
/* When visible, it's sort of grey (#eee), sort of transparent. But initially it's invisible
so you can see the main text. */
{
 display:none;
 position: absolute;
 left: 0px;
 top: 0px;
 width:100%;
 height:100%;
 background-color: #eee; /* grey */
 z-index: 1000;
 opacity: 0.9;
 filter:alpha(opacity=90);
 -moz-opacity: 0.9;
}

#modalContent /* This is for the content of the modal window: white bkgd, black border, centered, etc.*/
{
 position: relative;
 width:300px;
 margin: 15px auto;
 padding:15px;
 background-color: #fff;
 border:1px solid #000;
 text-align:center;
 z-index: 9999;
}






.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f3f3f3;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font: 15px 'Segoe UI',Arial,sans-serif;
  background-color: #EAEBE5;
  height: auto;
  padding: 10px;
  color:#7e8c8d;
  outline:none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#recover input[type="email"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.option li {
  list-style: none;
}
.option li input{
  display: inline-block;
}



/*Thumbnail Background*/
.thumb {
  width: 400px; height: 300px; margin: 70px auto;
  perspective: 1000px;
}
.thumb a {
  display: block; width: 100%; height: 100%;
  /*double layered BG for lighting effect*/
  
  background-size: 0, cover;
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.thumb:hover a {transform: rotateX(80deg); transform-origin: bottom;}
/*bottom surface */
.thumb a:after {
  /*36px high element positioned at the bottom of the image*/
  content: ''; position: absolute; left: 0; bottom: 0; 
  width: 100%; height: 36px;
  /*inherit the main BG*/
  background: inherit; background-size: cover, cover;
  /*draw the BG bottom up*/
  background-position: bottom;
  /*rotate the surface 90deg on the bottom axis*/
  transform: rotateX(90deg); transform-origin: bottom;
}

/*shadow*/
.thumb a:before {
  content: ''; position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
  transition: all 0.5s; 
  /*by default the shadow will be almost flat, very transparent, scaled down with a large blur*/
  opacity: 0.15;
  transform: rotateX(95deg) translateZ(-80px) scale(0.75);
  transform-origin: bottom;
}
.thumb:hover a:before {
  opacity: 1;
  /*blurred effect using -webkit-box shadow as filter: blur is not supported in all browsers*/
  box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
  /*pushing the shadow down and scaling it down to size*/
  transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.info-msg{
    padding: 0px 20px;
    text-align: justify;
  }

  

</style>

