<div style="width:0;height:0;overflow:hidden;display:none">
    <div id="layoutbuddy_holder" style="width: 900px; height: 700px; background: url(//tool.layoutbuddy.com/img/preloader.gif) center no-repeat;">
        <div id="layout_container">
            <div style="text-align:center; padding: 50px 0 50px 0">
                <?php echo $this->__('You need the latest Flash Player to use LayoutBuddy.') ?><br />
                <a href="http://www.adobe.com/go/getflashplayer">
                    <img src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"/>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">

    jQuery(function($) {
        $("#layoutbuddy_start").fancybox({
            'href'              : '#layoutbuddy_holder',
            'title'             : null,
            'minWidth'          : 900,
            'minHeight'         : 700,
            'width'             : 900,
            'height'            : 700,
            'padding'           : 7,
            'transitionIn'      : 'none',
            'transitionOut'     : 'none',
            'autoSize'          : false,
            'autoResize'        : false
        });
    });
    
    var layoutbuddy = new LayoutBuddy('<?php echo $this->getPublicKey() ?>', '<?php echo $this->getProduct()->getLayoutbuddyConfigId() ?>');
    layoutbuddy.language = '<?php echo Mage::app()->getLocale()->getLocaleCode() ?>';
    layoutbuddy.initWithId = '<?php echo $this->getInitWithId() ?>';
    <?php if ($this->displayHost()): ?>layoutbuddy.host = '<?php echo $this->getHost() ?>';<?php endif ?>
    layoutbuddy.hideOnSubmit = true;
    layoutbuddy.onSubmitLayout = function(uid) {
        $('layoutbuddy_id').value = uid;
        productAddToCartForm.submit();
    };
    layoutbuddy.embed('layout_container', 'layoutbuddy');
</script>
