
<?php $_product = $this->getProduct(); ?>
<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <?php if ($_product->getLayoutbuddyEnabled()): ?>
            <?php $buttonTitle = $this->__('Start designing!'); ?>
            <input type="hidden" name="qty" value="1" />
            <input type="hidden" name="layoutbuddy_id" value="" id="layoutbuddy_id" />
            <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" id="layoutbuddy_start"><span><span><?php echo $buttonTitle ?></span></span></button>
        <?php else: ?>
            <?php $buttonTitle = $this->__('Update Cart'); ?>
            <?php if(!$_product->isGrouped()): ?>
                <label for="qty"><?php echo $this->__('Qty:') ?></label>
                <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
            <?php endif; ?>
            <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
        <?php endif ?>
        <?php echo $this->getChildHtml('', true, true) ?>
    </div>
<?php endif; ?>